openapi: 3.2.1
info:
  title: Leaflow Billing API
  version: v1
  description: Products, prices, orders, subscriptions and account billing. Financial operations require an account access token and billing-account authorization. Public catalogue operations declare no security requirement.
servers:
  - url: https://billing.leaflow.cloud
    description: Billing API
security:
  - accessTokenAuth: []
tags:
  - name: accounts
  - name: active-resources
  - name: allowances
  - name: cancellations
  - name: credit-grants
  - name: discounts
  - name: entitlements
  - name: invoices
  - name: orders
  - name: payments
  - name: plans
  - name: prices
  - name: products
  - name: quotes
  - name: refunds
  - name: spend
  - name: subscriptions
  - name: transactions
  - name: usage-charges
paths:
  /api/v1/currencies:
    $ref: ./accounts.yaml#/paths/~1api~1v1~1currencies
  /api/v1/billing-accounts:
    $ref: ./accounts.yaml#/paths/~1api~1v1~1billing-accounts
  /api/v1/billing-accounts/{accountId}:
    $ref: ./accounts.yaml#/paths/~1api~1v1~1billing-accounts~1{accountId}
  /api/v1/billing-accounts/{accountId}/balance:
    $ref: ./accounts.yaml#/paths/~1api~1v1~1billing-accounts~1{accountId}~1balance
  /api/v1/billing-accounts/{accountId}/metered-usage:
    $ref: ./usage-charges.yaml#/paths/~1api~1v1~1billing-accounts~1{accountId}~1metered-usage
  /api/v1/billing-accounts/{accountId}/payment-options:
    $ref: ./payments.yaml#/paths/~1api~1v1~1billing-accounts~1{accountId}~1payment-options
  /api/v1/assignments:
    $ref: ./accounts.yaml#/paths/~1api~1v1~1assignments
  /api/v1/assignments/{projectId}:
    $ref: ./accounts.yaml#/paths/~1api~1v1~1assignments~1{projectId}
  /api/v1/top-ups:
    $ref: ./payments.yaml#/paths/~1api~1v1~1top-ups
  /api/v1/top-ups/{topUpId}:
    $ref: ./payments.yaml#/paths/~1api~1v1~1top-ups~1{topUpId}
  /api/v1/top-ups/{topUpId}/cancel:
    $ref: ./payments.yaml#/paths/~1api~1v1~1top-ups~1{topUpId}~1cancel
  /api/v1/payment-methods:
    $ref: ./payments.yaml#/paths/~1api~1v1~1payment-methods
  /api/v1/payment-methods/setup:
    $ref: ./payments.yaml#/paths/~1api~1v1~1payment-methods~1setup
  /api/v1/payment-methods/{paymentMethodId}/default:
    $ref: ./payments.yaml#/paths/~1api~1v1~1payment-methods~1{paymentMethodId}~1default
  /api/v1/payment-methods/{paymentMethodId}:
    $ref: ./payments.yaml#/paths/~1api~1v1~1payment-methods~1{paymentMethodId}
  /api/v1/invoices/{invoiceId}/pay:
    $ref: ./payments.yaml#/paths/~1api~1v1~1invoices~1{invoiceId}~1pay
  /api/v1/invoices/{invoiceId}/payment-preview:
    $ref: ./payments.yaml#/paths/~1api~1v1~1invoices~1{invoiceId}~1payment-preview
  /api/v1/payments:
    $ref: ./payments.yaml#/paths/~1api~1v1~1payments
  /api/v1/payments/preview:
    $ref: ./payments.yaml#/paths/~1api~1v1~1payments~1preview
  /api/v1/invoices:
    $ref: ./invoices.yaml#/paths/~1api~1v1~1invoices
  /api/v1/invoices/{invoiceId}:
    $ref: ./invoices.yaml#/paths/~1api~1v1~1invoices~1{invoiceId}
  /api/v1/invoices/{invoiceId}/items:
    $ref: ./invoices.yaml#/paths/~1api~1v1~1invoices~1{invoiceId}~1items
  /api/v1/transactions:
    $ref: ./transactions.yaml#/paths/~1api~1v1~1transactions
  /api/v1/discounts:
    $ref: ./discounts.yaml#/paths/~1api~1v1~1discounts
  /api/v1/credit-grants:
    $ref: ./credit-grants.yaml#/paths/~1api~1v1~1credit-grants
  /api/v1/refunds:
    $ref: ./refunds.yaml#/paths/~1api~1v1~1refunds
  /api/v1/usage-charges:
    $ref: ./usage-charges.yaml#/paths/~1api~1v1~1usage-charges
  /api/v1/subscriptions:
    $ref: ./subscriptions.yaml#/paths/~1api~1v1~1subscriptions
  /api/v1/subscriptions/{subscriptionId}:
    $ref: ./subscriptions.yaml#/paths/~1api~1v1~1subscriptions~1{subscriptionId}
  /api/v1/quotes:
    $ref: ./quotes.yaml#/paths/~1api~1v1~1quotes
  /api/v1/cancellations:
    $ref: ./cancellations.yaml#/paths/~1api~1v1~1cancellations
  /api/v1/cancellations/{cancellationId}:
    $ref: ./cancellations.yaml#/paths/~1api~1v1~1cancellations~1{cancellationId}
  /api/v1/cancellations/{cancellationId}/withdraw:
    $ref: ./cancellations.yaml#/paths/~1api~1v1~1cancellations~1{cancellationId}~1withdraw
  /api/v1/subscriptions/{subscriptionId}/renewal-prices:
    $ref: ./prices.yaml#/paths/~1api~1v1~1subscriptions~1{subscriptionId}~1renewal-prices
  /api/v1/subscriptions/{subscriptionId}/renew:
    $ref: ./subscriptions.yaml#/paths/~1api~1v1~1subscriptions~1{subscriptionId}~1renew
  /api/v1/subscriptions/{subscriptionId}/renewal-orders:
    $ref: ./orders.yaml#/paths/~1api~1v1~1subscriptions~1{subscriptionId}~1renewal-orders
  /api/v1/subscriptions/{subscriptionId}/auto-renew:
    $ref: ./subscriptions.yaml#/paths/~1api~1v1~1subscriptions~1{subscriptionId}~1auto-renew
  /api/v1/allowances:
    $ref: ./allowances.yaml#/paths/~1api~1v1~1allowances
  /api/v1/orders:
    $ref: ./orders.yaml#/paths/~1api~1v1~1orders
  /api/v1/orders/{orderId}:
    $ref: ./orders.yaml#/paths/~1api~1v1~1orders~1{orderId}
  /api/v1/orders/{orderId}/checkout:
    $ref: ./orders.yaml#/paths/~1api~1v1~1orders~1{orderId}~1checkout
  /api/v1/orders/{orderId}/cancel:
    $ref: ./orders.yaml#/paths/~1api~1v1~1orders~1{orderId}~1cancel
  /api/v1/orders/{orderId}/items:
    $ref: ./orders.yaml#/paths/~1api~1v1~1orders~1{orderId}~1items
  /api/v1/entitlements:
    $ref: ./entitlements.yaml#/paths/~1api~1v1~1entitlements
  /api/v1/prices:
    $ref: ./prices.yaml#/paths/~1api~1v1~1prices
  /api/v1/products:
    $ref: ./products.yaml#/paths/~1api~1v1~1products
  /api/v1/products/{productId}:
    $ref: ./products.yaml#/paths/~1api~1v1~1products~1{productId}
  /api/v1/plans/{planId}:
    $ref: ./plans.yaml#/paths/~1api~1v1~1plans~1{planId}
  /api/v1/prices/{priceId}:
    $ref: ./prices.yaml#/paths/~1api~1v1~1prices~1{priceId}
  /api/v1/plans:
    $ref: ./plans.yaml#/paths/~1api~1v1~1plans
  /api/v1/plans/{planId}/prices:
    $ref: ./prices.yaml#/paths/~1api~1v1~1plans~1{planId}~1prices
  /api/v1/rate-cards/{rateCardId}/rules:
    $ref: ./prices.yaml#/paths/~1api~1v1~1rate-cards~1{rateCardId}~1rules
  /api/v1/active-resources:
    $ref: ./active-resources.yaml#/paths/~1api~1v1~1active-resources
  /api/v1/spend:
    $ref: ./spend.yaml#/paths/~1api~1v1~1spend
components:
  securitySchemes:
    accessTokenAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/AccessToken
  schemas:
    TerminationPolicy:
      $ref: ./prices.yaml#/components/schemas/TerminationPolicy
    RefundPolicy:
      $ref: ./prices.yaml#/components/schemas/RefundPolicy
    CheckoutOrderRequest:
      $ref: ./orders.yaml#/components/schemas/CheckoutOrderRequest
    QuoteRenewal:
      $ref: ./quotes.yaml#/components/schemas/QuoteRenewal
    QuoteRenewalResult:
      $ref: ./quotes.yaml#/components/schemas/QuoteRenewalResult
    QuoteItem:
      $ref: ./quotes.yaml#/components/schemas/QuoteItem
    Quote:
      $ref: ./quotes.yaml#/components/schemas/Quote
    QuotedDiscount:
      $ref: ./quotes.yaml#/components/schemas/QuotedDiscount
    QuoteCancellation:
      $ref: ./quotes.yaml#/components/schemas/QuoteCancellation
    CancellationRefundPreview:
      $ref: ./quotes.yaml#/components/schemas/CancellationRefundPreview
    CancellationRefundPreviewItem:
      $ref: ./quotes.yaml#/components/schemas/CancellationRefundPreviewItem
    CancellationCreate:
      $ref: ./cancellations.yaml#/components/schemas/CancellationCreate
    Cancellation:
      $ref: ./cancellations.yaml#/components/schemas/Cancellation
    CancellationItem:
      $ref: ./cancellations.yaml#/components/schemas/CancellationItem
    CancellationList:
      $ref: ./cancellations.yaml#/components/schemas/CancellationList
    CancellationRequest:
      $ref: ./cancellations.yaml#/components/schemas/CancellationRequest
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    Product:
      $ref: ./products.yaml#/components/schemas/Product
    ProductID:
      $ref: ./products.yaml#/components/schemas/ProductID
    BillingAccount:
      $ref: ./accounts.yaml#/components/schemas/BillingAccount
    Currency:
      $ref: ./accounts.yaml#/components/schemas/Currency
    CurrencyList:
      $ref: ./accounts.yaml#/components/schemas/CurrencyList
    BillingAccountCreate:
      $ref: ./accounts.yaml#/components/schemas/BillingAccountCreate
    BillingAccountUpdate:
      $ref: ./accounts.yaml#/components/schemas/BillingAccountUpdate
    BillingAccountList:
      $ref: ./accounts.yaml#/components/schemas/BillingAccountList
    AccountBalance:
      $ref: ./accounts.yaml#/components/schemas/AccountBalance
    MeteredUsage:
      $ref: ./usage-charges.yaml#/components/schemas/MeteredUsage
    CreditGroup:
      $ref: ./credit-grants.yaml#/components/schemas/CreditGroup
    ProjectAssignment:
      $ref: ./accounts.yaml#/components/schemas/ProjectAssignment
    ProjectAssignmentList:
      $ref: ./accounts.yaml#/components/schemas/ProjectAssignmentList
    SetProjectAssignmentRequest:
      $ref: ./accounts.yaml#/components/schemas/SetProjectAssignmentRequest
    TopUp:
      $ref: ./payments.yaml#/components/schemas/TopUp
    TopUpCreate:
      $ref: ./payments.yaml#/components/schemas/TopUpCreate
    AccountIdentity:
      $ref: ./accounts.yaml#/components/schemas/AccountIdentity
    TopUpList:
      $ref: ./payments.yaml#/components/schemas/TopUpList
    PaymentCancellationReason:
      $ref: ./payments.yaml#/components/schemas/PaymentCancellationReason
    PaymentOption:
      $ref: ./payments.yaml#/components/schemas/PaymentOption
    PaymentOptionMethod:
      $ref: ./payments.yaml#/components/schemas/PaymentOptionMethod
    PaymentOptionList:
      $ref: ./payments.yaml#/components/schemas/PaymentOptionList
    PaymentMethod:
      $ref: ./payments.yaml#/components/schemas/PaymentMethod
    PaymentMethodList:
      $ref: ./payments.yaml#/components/schemas/PaymentMethodList
    PaymentMethodSetup:
      $ref: ./payments.yaml#/components/schemas/PaymentMethodSetup
    PaymentMethodSetupResult:
      $ref: ./payments.yaml#/components/schemas/PaymentMethodSetupResult
    PayInvoiceRequest:
      $ref: ./payments.yaml#/components/schemas/PayInvoiceRequest
    PayTogetherRequest:
      $ref: ./payments.yaml#/components/schemas/PayTogetherRequest
    PaymentAction:
      $ref: ./payments.yaml#/components/schemas/PaymentAction
    PaymentStatus:
      $ref: ./payments.yaml#/components/schemas/PaymentStatus
    AppliedCredit:
      $ref: ./payments.yaml#/components/schemas/AppliedCredit
    PaymentPreviewInvoice:
      $ref: ./payments.yaml#/components/schemas/PaymentPreviewInvoice
    PaymentPreview:
      $ref: ./payments.yaml#/components/schemas/PaymentPreview
    PaymentResult:
      $ref: ./payments.yaml#/components/schemas/PaymentResult
    InvoiceStatus:
      $ref: ./invoices.yaml#/components/schemas/InvoiceStatus
    Invoice:
      $ref: ./invoices.yaml#/components/schemas/Invoice
    InvoiceList:
      $ref: ./invoices.yaml#/components/schemas/InvoiceList
    InvoiceItem:
      $ref: ./invoices.yaml#/components/schemas/InvoiceItem
    InvoiceItemList:
      $ref: ./invoices.yaml#/components/schemas/InvoiceItemList
    TransactionType:
      $ref: ./transactions.yaml#/components/schemas/TransactionType
    Transaction:
      $ref: ./transactions.yaml#/components/schemas/Transaction
    TransactionList:
      $ref: ./transactions.yaml#/components/schemas/TransactionList
    CreditGrant:
      $ref: ./credit-grants.yaml#/components/schemas/CreditGrant
    CreditGrantList:
      $ref: ./credit-grants.yaml#/components/schemas/CreditGrantList
    Refund:
      $ref: ./refunds.yaml#/components/schemas/Refund
    RefundReason:
      $ref: ./refunds.yaml#/components/schemas/RefundReason
    RefundList:
      $ref: ./refunds.yaml#/components/schemas/RefundList
    UsageCharge:
      $ref: ./usage-charges.yaml#/components/schemas/UsageCharge
    UsageChargeList:
      $ref: ./usage-charges.yaml#/components/schemas/UsageChargeList
    SubscriptionList:
      $ref: ./subscriptions.yaml#/components/schemas/SubscriptionList
    Subscription:
      $ref: ./subscriptions.yaml#/components/schemas/Subscription
    RenewalPrice:
      $ref: ./prices.yaml#/components/schemas/RenewalPrice
    RenewalPriceList:
      $ref: ./prices.yaml#/components/schemas/RenewalPriceList
    RenewRequest:
      $ref: ./subscriptions.yaml#/components/schemas/RenewRequest
    RenewalOrderRequest:
      $ref: ./subscriptions.yaml#/components/schemas/RenewalOrderRequest
    AutoRenewSet:
      $ref: ./subscriptions.yaml#/components/schemas/AutoRenewSet
    OrderStatus:
      $ref: ./orders.yaml#/components/schemas/OrderStatus
    OrderItemStatus:
      $ref: ./orders.yaml#/components/schemas/OrderItemStatus
    Order:
      $ref: ./orders.yaml#/components/schemas/Order
    OrderList:
      $ref: ./orders.yaml#/components/schemas/OrderList
    PaidWith:
      $ref: ./orders.yaml#/components/schemas/PaidWith
    PurchaseOperation:
      $ref: ./orders.yaml#/components/schemas/PurchaseOperation
    Discount:
      $ref: ./discounts.yaml#/components/schemas/Discount
    DiscountList:
      $ref: ./discounts.yaml#/components/schemas/DiscountList
    PriceOption:
      $ref: ./prices.yaml#/components/schemas/PriceOption
    Applicability:
      $ref: ./discounts.yaml#/components/schemas/Applicability
    ApplicablePlan:
      $ref: ./discounts.yaml#/components/schemas/ApplicablePlan
    OrderItem:
      $ref: ./orders.yaml#/components/schemas/OrderItem
    OrderItemList:
      $ref: ./orders.yaml#/components/schemas/OrderItemList
    Allowance:
      $ref: ./allowances.yaml#/components/schemas/Allowance
    AllowanceList:
      $ref: ./allowances.yaml#/components/schemas/AllowanceList
    Entitlement:
      $ref: ./entitlements.yaml#/components/schemas/Entitlement
    EntitlementList:
      $ref: ./entitlements.yaml#/components/schemas/EntitlementList
    InvoiceSummary:
      $ref: ./invoices.yaml#/components/schemas/InvoiceSummary
    TaxItem:
      $ref: ./invoices.yaml#/components/schemas/TaxItem
    ObjectIdentity:
      description: A catalog object inlined for display.
      type: object
      properties:
        lookup_key:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
        - id
        - name
    ProductList:
      $ref: ./products.yaml#/components/schemas/ProductList
    Plan:
      $ref: ./plans.yaml#/components/schemas/Plan
    PlanList:
      $ref: ./plans.yaml#/components/schemas/PlanList
    Price:
      $ref: ./prices.yaml#/components/schemas/Price
    PriceList:
      $ref: ./prices.yaml#/components/schemas/PriceList
    Rate:
      $ref: ./prices.yaml#/components/schemas/Rate
    RateList:
      $ref: ./prices.yaml#/components/schemas/RateList
    Tier:
      $ref: ./prices.yaml#/components/schemas/Tier
    PlanFeature:
      $ref: ./plans.yaml#/components/schemas/PlanFeature
    QuoteItemInput:
      $ref: ./quotes.yaml#/components/schemas/QuoteItemInput
    SpendRow:
      $ref: ./spend.yaml#/components/schemas/SpendRow
    SpendRowList:
      $ref: ./spend.yaml#/components/schemas/SpendRowList
    ActiveResource:
      $ref: ./active-resources.yaml#/components/schemas/ActiveResource
    ActiveResourceList:
      $ref: ./active-resources.yaml#/components/schemas/ActiveResourceList
    OrderRefundQuoteInput:
      $ref: ./quotes.yaml#/components/schemas/OrderRefundQuoteInput
    OrderRefundQuote:
      $ref: ./quotes.yaml#/components/schemas/OrderRefundQuote
    QuoteRequest:
      $ref: ./quotes.yaml#/components/schemas/QuoteRequest
  parameters:
    From:
      name: from
      in: query
      required: false
      schema:
        type: string
        format: date-time
    To:
      name: to
      in: query
      required: false
      description: Exclusive.
      schema:
        type: string
        format: date-time
    AccountIdQuery:
      name: billing_account_id
      in: query
      required: false
      description: Restrict to one of your accounts. All of them when omitted.
      schema:
        type: integer
        format: int64
    AccountId:
      name: accountId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    InvoiceId:
      name: invoiceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrderId:
      name: orderId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CancellationId:
      name: cancellationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PaymentMethodId:
      name: paymentMethodId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    IfNoneMatch:
      name: If-None-Match
      in: header
      required: false
      description: |-
        The `ETag` from an earlier reply. When the catalogue has not changed since, the
        answer is `304` with no body.

        Send it on every catalogue read. An unchanged catalogue is answered without a body.
      schema:
        type: string
    PlanId:
      name: planId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RateCardId:
      name: rateCardId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    FromRequired:
      name: from
      in: query
      required: true
      schema:
        type: string
        format: date-time
    ToRequired:
      name: to
      in: query
      required: true
      description: Exclusive. One month is `[2026-09-01, 2026-10-01)`.
      schema:
        type: string
        format: date-time
    ProjectIdsQuery:
      name: project_ids
      in: query
      required: false
      description: Restrict the account-authorized results to these projects. Omit for all projects and account-level records. This filter does not grant access to another billing account.
      style: form
      explode: false
      schema:
        type: array
        minItems: 1
        maxItems: 100
        uniqueItems: true
        items:
          type: string
          format: uuid
  responses:
    Error:
      description: Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotModified:
      description: Unchanged since the `ETag` that was sent. No body.
      headers:
        ETag:
          description: The same entity tag that was sent.
          schema:
            type: string
