openapi: 3.2.1
info:
  title: Leaflow Billing Project API
  version: 1.0.0
  description: |-
    What one project has spent and bought, and the billing account linked to it.
security:
  - scopedTokenAuth: []
servers:
  - url: https://billing.leaflow.cloud
    description: Project billing information

tags:
  - name: projects
    description: |-
      The billing account linked to each project.
paths:
  /api/v1/projects/{projectId}/billing-account:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: Get project billing account
      description: |-
        Returns the billing account's identity, its currency, and how much can still be spent. Cards,
        invoices and transaction history are not included; they belong to the account owner
        and are reached through `/account/v1/`.

        Returns 404 when the project has no billing account. Resources cannot be created in that
        state.
      operationId: get-project-billing-account
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectBillingAccount"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/spend:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: List project spend
      description: |-
        Covers a closed time range. Both bounds are required: a total without a stated period
        cannot be reconciled against an invoice.

        Includes usage that has not been invoiced yet.
      operationId: list-project-spend
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/FromRequired"
        - $ref: "#/components/parameters/ToRequired"
        - name: group_by
          in: query
          required: false
          description: |-
            `resource` groups by the resource each charge names. Items billed under their own
            identifier — a disk, a public address — appear as their own rows rather than under
            the machine they are attached to, since the relationship between them is known to
            the owning service and not here.
          schema:
            type: string
            enum:
              - product
              - plan
              - resource
            default: product
        - name: product_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProductID"
          description: Filter by the fixed platform service ID.
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendRowList"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/usage-charges:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: List project usage charges
      description: |-
        The individual charges behind the figures in `/spend`. Amounts here sum to the totals
        reported there over the same period.
      operationId: list-project-usage-charges
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: resource_id
          in: query
          required: false
          schema:
            type: string
        - name: product_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProductID"
        - name: meter_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by the meter UUID.
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageChargeList"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/subscriptions:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: List project subscriptions
      operationId: list-project-subscriptions
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      parameters:
        - name: expiring_before
          in: query
          schema: { type: string, format: date-time }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionList"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/subscriptions/{subscriptionId}/auto-renew:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/SubscriptionId"
    put:
      summary: Set project auto renew
      description: |-
        Automatic renewal draws on the project billing account's balance, which a project member may
        commit. Paying by card requires the account owner and is done from the billing centre.

        While the subscription has an open cancellation, turning it on or off is refused with 409
        `BILLING_SUBSCRIPTION_OPERATION_PENDING` and `meta.cancellation_id`: creating the cancellation
        turned it off, and withdrawing the cancellation does not turn it back on.
      operationId: set-project-auto-renew
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoRenewSet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/cancellations:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    post:
      summary: Cancel subscriptions
      description: |-
        Ends a set of subscriptions of one service together, at one time. Deleting a resource that a
        subscription pays for is an `immediate` cancellation of every subscription released with it,
        such as a server with the disks deleted along with it, or an address with its bandwidth.

        The service that provides the resources releases them: at once for `immediate`, or at
        `scheduled_at`, the end of the paid term, for `period_end`. When release is confirmed, the
        unused value is returned the way it was paid, under the refund terms agreed when each
        subscription was bought. For `immediate` the refund is computed as of `proration_date`, so the
        amount confirmed here is the amount returned: prepaid service used while the resources are
        being released is not deducted from it. Usage of a postpaid subscription is charged until its
        resources are released, as usual.

        `mode` must be allowed for every subscription. Postpaid and one-time subscriptions end only
        `immediate`. A prepaid subscription ends `period_end` while its paid term lasts, and
        `immediate` unless its termination terms allow only the end of the paid term and that term has
        not ended yet. For `period_end` the paid terms of all the subscriptions must end at the same
        time.

        Refused with:
        - 400 `BILLING_CANCELLATION_INVALID` when `subscription_ids` or `proration_date` is not
          acceptable (`meta.field`), or the subscriptions do not all belong to one service, project,
          account and currency;
        - 409 `BILLING_CANCELLATION_CONFLICT` when a subscription has not started or has ended;
        - 422 `BILLING_CANCELLATION_MODE_FIXED` when `mode` is not allowed for a subscription, and
          `BILLING_CANCELLATION_TERMS_UNSET` when a prepaid subscription has no termination terms;
          both carry `meta.subscription_id`;
        - 409 `BILLING_CANCELLATION_SCHEDULES_DIFFER` when, for `period_end`, the paid terms end at
          different times;
        - 409 `BILLING_SUBSCRIPTION_OPERATION_PENDING` when a subscription is already being canceled
          (`meta.cancellation_id`) or reclaimed (`meta.action_id`);
        - 409 `BILLING_ORDER_PAYMENT_IN_FLIGHT` while an online payment for a renewal of one of them
          is in progress;
        - 409 `BILLING_CANCELLATION_REFUND_CHANGED` when the refund is no longer
          `expected_refundable_amount`; quote again.

        Sending the same request again, for the same subscriptions, mode and amount while that
        cancellation is still open, returns it with 200 rather than creating another. Renewal orders
        still waiting for payment are canceled along with it, and automatic renewal is turned off for
        every subscription in the set, for `period_end` as well as `immediate`.
      operationId: create-project-cancellation
      tags: [projects]
      security:
        - scopedTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancellationCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cancellation"
        "200":
          description: The same cancellation, already open
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cancellation"
        default:
          $ref: "#/components/responses/Error"
    get:
      summary: List cancellations
      description: Newest first. Filter by `subscription_id` and `status=open` to find the cancellation now under way for a subscription.
      operationId: list-project-cancellations
      tags: [projects]
      security:
        - scopedTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: subscription_id
          in: query
          required: false
          description: Only cancellations that include this subscription.
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Only cancellations in this status. `open` means requested, scheduled or releasing.
          schema:
            type: string
            enum:
              [
                open,
                requested,
                scheduled,
                releasing,
                completed,
                canceled,
                failed,
              ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancellationList"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/cancellations/{cancellationId}:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/CancellationId"
    get:
      summary: Get a cancellation
      operationId: get-project-cancellation
      tags: [projects]
      security:
        - scopedTokenAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cancellation"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/cancellations/{cancellationId}/withdraw:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/CancellationId"
    post:
      summary: Withdraw a cancellation
      description: |-
        Withdraws the whole cancellation while none of its resources has begun to be released; the
        subscriptions continue as before, except that automatic renewal, turned off when the
        cancellation was created, stays off until it is turned on again. After that it is refused with
        409 `BILLING_CANCELLATION_CONFLICT`. Withdrawing one that is already withdrawn returns it
        unchanged.
      operationId: withdraw-project-cancellation
      tags: [projects]
      security:
        - scopedTokenAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cancellation"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/orders:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: List project orders
      description: |-
        A draft order invoice shows base amounts awaiting checkout. A confirmed invoice shows what
        is outstanding. Checkout and payment are performed in the billing centre by the account owner.
      operationId: list-project-orders
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrderStatus"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderList"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/orders/{orderId}:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/OrderId"
    get:
      summary: Get project order
      operationId: get-project-order
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/active-resources:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: List project active resources
      description: A resource that is running but does not appear here is not
        being charged for.
      operationId: list-project-active-resources
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: resource_id
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveResourceList"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/quotes:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    post:
      summary: Quote for a project
      description: |-
        Computes a price preview without creating a resource or saving a quote. Nothing is charged,
        reserved or applied to an order, and no discount redemption is consumed. The response has no
        quote ID and does not guarantee a price or reserve a promotion code.

        New purchases use the project's current billing account and currency. With order_id, the order
        must belong to this project; its recorded purchase terms, billing account and currency are used.
        An optional promotion_code previews one code for the purchase or order. Without it, Billing
        selects an applicable account discount. An invalid or inapplicable explicit code is refused
        rather than silently replaced. Give total as expected_amount when confirming checkout through
        Billing; eligibility and availability are checked again. An order already checked out returns
        its confirmed amounts without reapplying its discount; a different code is refused with
        BILLING_ORDER_CHECKOUT_CONFLICT.

        Prices may change before an order is created; confirmed purchase terms are not repriced from
        today's catalog. Usage estimates describe future usage and are not checkout amounts. They do
        not accept a promotion code, including when mixed with fixed purchase lines.

        A renewal is priced exactly as renewing would charge it: at the agreed amount or the price
        named, with the discounts the account holds, and with tax. A renewal list does not accept a
        promotion code because its entries create separate orders. To use a new code on a renewal,
        first create a renewal order and quote its checkout by order_id.

        A cancellation is quoted as creating it would compute the refund, as of now and under the refund
        terms agreed when each subscription was bought. It is quoted on its own: combined with lines or
        renewals the request is refused with HTTP 400 `BILLING_PURCHASE_INVALID` and `meta.field`
        `cancellation`. It is refused with the same errors as creating the cancellation, except that the
        amount is not checked. Give the returned `cancellation.proration_date` and
        `cancellation.refundable_amount` when creating it.

        Returns 404 when the project has no billing account for a new purchase quote, or when the order
        or a subscription to be renewed or canceled does not belong to this project.
      operationId: create-project-quote
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteRequest"
            examples:
              purchase:
                summary: Preview a code for one proposed purchase without consuming it.
                value:
                  lines:
                    - price_id: 019c0000-0000-7000-8000-000000000002
                      quantity: "1"
                  promotion_code: WELCOME
              order_checkout:
                summary: Preview checkout using the order's recorded purchase terms.
                value:
                  order_id: 019c0000-0000-7000-8000-000000000001
                  promotion_code: WELCOME
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/orders/{orderId}/items:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/OrderId"
    get:
      summary: List project order items
      operationId: list-project-order-items
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderItemList"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/allowances:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: List project allowances
      description: |-
        These belong to the project's billing account and are shared with every other project linked to it,
        so what is left here may be consumed elsewhere.
      operationId: list-project-allowances
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: meter_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by ID or lookup key. A lookup key is scoped to the
            product.
        - name: product_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProductID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowanceList"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/projects/{projectId}/entitlements:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: List project entitlements
      description: |-
        Includes capabilities bought for this project and those the project's billing account holds at
        account level.

        Where a capability counts uses, `remaining_quantity` states how much is left. Whether
        exceeding it refuses the request or simply continues to be charged for is decided by
        the service that owns the capability.
      operationId: list-project-entitlements
      tags:
        - projects
      security:
        - scopedTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: product_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProductID"
          description: Filter by ID or lookup key. A lookup key is scoped to the
            product.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementList"
        default:
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    scopedTokenAuth:
      $ref: ../../../type/v1/security.yaml#/components/securitySchemes/ScopedToken
  schemas:
    TerminationPolicy:
      type: string
      enum:
        - immediate
        - period_end
      description:
        Whether a fulfilled purchase may end immediately or only after its paid term. Does not grant a refund.
        When absent, the terms are not configured and termination requires review.
    RefundPolicy:
      type: string
      enum:
        - none
        - prorated
      description: |-
        none refunds nothing. prorated refunds the amount paid for the current period minus the value of
        the time used, never below zero and never more than what remains unrefunded. The time used runs
        from the period start to the effective cancellation time and is valued at the plan's
        shorter-period prices in the same currency, frozen at purchase as the order item's
        refund_monthly_amount and refund_hourly_amount: each full calendar month at the one-month prepaid
        price, the remainder at the postpaid hourly price or, without one, at the one-month price by the
        second. When the plan has no prepaid period shorter than the one bought, the time used is valued
        at the price paid, pro rata by the second. Discounts are not refunded, as they were never paid,
        and setup fees are excluded. The refunded part returns to the payment sources it came from. Tax
        paid is refunded in the same proportion as the amount it was paid on.
    QuoteCancellation:
      description: |-
        A cancellation to quote: what ending these subscriptions together would return. One mode per
        request; to compare, quote `immediate` and `period_end` separately.
      type: object
      properties:
        subscription_ids:
          description: The subscriptions to end together, all of one service. Every subscription released with a resource must be included.
          type: array
          minItems: 1
          maxItems: 50
          uniqueItems: true
          items: { type: string, format: uuid }
        mode:
          $ref: "#/components/schemas/TerminationPolicy"
      required: [subscription_ids, mode]
      additionalProperties: false
    CancellationRefundPreview:
      description: |-
        What the cancellation would return, subscription by subscription and in total, as of now. Give
        `proration_date` and `refundable_amount` when creating the cancellation.

        - `unused_amount`: before tax, the amount paid for the current periods minus the value of the
          time used, valued as refund policy `prorated` describes, whatever the refund terms say.
        - `refundable_amount`: what is returned the way it was paid, including the tax paid on it;
          `refund_amount` plus `credit_amount`.
        - `refund_amount`: the part returned to the balance or to the payment method.
        - `credit_amount`: the part restored to the credit grants that paid.
        - `tax_amount`: the tax included in `refundable_amount`.
        - `forfeited_amount`: before tax, the part of `unused_amount` the refund terms do not return.

        Postpaid and one-time subscriptions show zero; usage until release is charged as usual.
      type: object
      properties:
        mode:
          $ref: "#/components/schemas/TerminationPolicy"
        scheduled_at:
          description: For `period_end`, when release begins, the end of the paid terms.
          type: string
          format: date-time
        proration_date:
          description: For `immediate`, the second the refund is computed as of. Give it when creating the cancellation.
          type: string
          format: date-time
        currency: { type: string }
        unused_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refundable_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refund_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        forfeited_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        items:
          type: array
          items:
            $ref: "#/components/schemas/CancellationRefundPreviewItem"
      required:
        [
          mode,
          currency,
          unused_amount,
          refundable_amount,
          refund_amount,
          credit_amount,
          tax_amount,
          forfeited_amount,
          items,
        ]
    CancellationRefundPreviewItem:
      description: One subscription of the quoted cancellation. The amounts mean what they mean in the total.
      type: object
      properties:
        subscription_id: { type: string, format: uuid }
        plan_id: { type: string, format: uuid }
        plan_name: { type: string }
        project:
          description: The project and its current name, for display. Absent for a purchase at account level, and when the project details cannot be read at the moment.
          oneOf:
            - $ref: ../../../type/v1/identity.yaml#/components/schemas/NamedIdentity
            - type: "null"
        billing_type: { type: string, enum: [postpaid, prepaid, one_time] }
        auto_renew:
          description: |-
            Whether automatic renewal is on now. Creating the cancellation turns it off, and withdrawing
            the cancellation does not turn it back on. Always false for a subscription that is not
            `prepaid`.
          type: boolean
        unused_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refundable_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refund_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        forfeited_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        [
          subscription_id,
          plan_id,
          plan_name,
          billing_type,
          auto_renew,
          unused_amount,
          refundable_amount,
          refund_amount,
          credit_amount,
          tax_amount,
          forfeited_amount,
        ]
    CancellationCreate:
      type: object
      properties:
        subscription_ids:
          description: As in the quote.
          type: array
          minItems: 1
          maxItems: 50
          uniqueItems: true
          items: { type: string, format: uuid }
        mode:
          $ref: "#/components/schemas/TerminationPolicy"
        proration_date:
          description: |-
            For `immediate`, the `proration_date` of the quote: a whole second, not in the future and
            at most ten minutes old. The refund is computed as of it. Now when omitted.
          type: string
          format: date-time
        expected_refundable_amount:
          description: The `refundable_amount` of the quote. The cancellation is refused when the refund differs.
          allOf:
          - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
          - type: string
            pattern: ^-?[0-9]{1,15}([.][0-9]{1,10})?$
        reason:
          description: A note from the account holder. It is kept with the cancellation and not shown elsewhere.
          type: string
          maxLength: 1024
      required: [subscription_ids, mode, expected_refundable_amount]
      additionalProperties: false
    Cancellation:
      description: |-
        One cancellation of a set of subscriptions of one service, released together at one time.

        - `requested`: `immediate`, release has not begun.
        - `scheduled`: `period_end`, waiting for `scheduled_at`.
        - `releasing`: release has begun; it can no longer be withdrawn.
        - `completed`: every subscription has ended and its refund has been made.
        - `canceled`: withdrawn before release began; the subscriptions continue.
        - `failed`: the service could not carry it out, for the reason in `failure_code`; the
          subscriptions continue and can be canceled again.
      type: object
      properties:
        id: { type: string, format: uuid }
        status:
          type: string
          enum: [requested, scheduled, releasing, completed, canceled, failed]
        mode:
          $ref: "#/components/schemas/TerminationPolicy"
        scheduled_at: { type: string, format: date-time }
        proration_date:
          description: For `immediate`, the second the refund is computed as of.
          type: string
          format: date-time
        origin:
          description: Who asked for it. `project_deletion` means the project was deleted.
          type: string
          enum: [customer, operator, project_deletion]
        billing_account_id:
          description: |-
            The billing account that paid for these subscriptions when the cancellation was created: the
            account of an account-level purchase, or the account the project was linked to.
          type: integer
          format: int64
        currency: { type: string }
        expected_refundable_amount:
          description: The refund confirmed when it was created. Absent when the platform created it.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        failure_code:
          description: |-
            Present with `failed`. A code of the service that provides the resources, such as a disk
            that can only be released with its server. Clients map it to their own wording.
          type: string
        requested_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time }
        canceled_at: { type: string, format: date-time }
        items:
          type: array
          items:
            $ref: "#/components/schemas/CancellationItem"
      required:
        [
          id,
          status,
          mode,
          origin,
          billing_account_id,
          currency,
          requested_at,
          items,
        ]
    CancellationItem:
      description: One subscription of the cancellation.
      type: object
      properties:
        id:
          description: The cancellation request of this subscription, the same as `Subscription.cancellation_request.id`.
          type: string
          format: uuid
        subscription_id: { type: string, format: uuid }
        plan_id: { type: string, format: uuid }
        plan_name: { type: string }
        billing_type:
          description: |-
            How the subscription is paid for. Only a `prepaid` subscription renews automatically; creating
            the cancellation turned that off, and withdrawing the cancellation leaves it off.
          type: string
          enum: [postpaid, prepaid, one_time]
        status:
          type: string
          enum: [requested, scheduled, releasing, completed, canceled, failed]
        release_started_at: { type: string, format: date-time }
        effective_at:
          description: When the service ended, as confirmed by the service that provides it.
          type: string
          format: date-time
        balance_amount:
          description: Present with `completed`. The part of the refund returned to the account balance.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          description: Present with `completed`. The part restored to the credit grants that paid.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        gateway_amount:
          description: Present with `completed`. The part returned to the payment method it was paid with.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required: [id, subscription_id, plan_id, plan_name, billing_type, status]
    CancellationList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Cancellation"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    CancellationRequest:
      type: object
      required:
        - id
        - subscription_id
        - status
        - mode
        - requested_at
        - forfeit_remaining_value
      properties:
        reason: { type: string }
        cancellation_id:
          description: The cancellation this request belongs to, with the other subscriptions released together.
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        subscription_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - requested
            - scheduled
            - releasing
            - failed
            - completed
            - canceled
        mode:
          type: string
          enum:
            - immediate
            - period_end
        requested_at:
          type: string
          format: date-time
        scheduled_at:
          type: string
          format: date-time
        effective_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        release_started_at:
          type: string
          format: date-time
        canceled_at:
          type: string
          format: date-time
        forfeit_remaining_value:
          type: boolean
        failure_code:
          type: string
        failure_reason:
          type: string
      description:
        A cancellation request for the original purchase. scheduled_at is the intended time; effective_at
        is the confirmed end of service. The request alone does not stop metering or issue a refund.
    Error:
      $ref: ../../../type/v1/error.yaml#/components/schemas/Error
    Product:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ProductID"
        name:
          type: string
        description:
          type: string
      required:
        - id
        - name
    ProductID:
      description: Immutable platform service identifier, such as compute, canopy or assistant.
      type: string
      minLength: 1
      maxLength: 64
      pattern: "^[a-z][a-z0-9]*(-[a-z0-9]+)*$"
    QuoteItemInput:
      description: |-
        Identify a price directly, or select a price for a plan. For each resource give its ID or lookup key, never both. Lookup keys require product_id.

        Charges for future usage are not estimated here; the service that sells the product quotes
        them with its purchase.
      type: object
      additionalProperties: false
      properties:
        price_lookup_key: { type: string, minLength: 1, maxLength: 128 }
        plan_lookup_key: { type: string, minLength: 1, maxLength: 128 }
        price_id:
          type: string
          format: uuid
        product_id:
          $ref: "#/components/schemas/ProductID"
        plan_id:
          type: string
          format: uuid
        price_type:
          description: |-
            Narrows the selection when a plan offers more than one billing type.
          type: string
          enum:
            - postpaid
            - prepaid
            - one_time
        interval: { type: string, enum: [none, day, month, year] }
        interval_count: { type: integer, minimum: 1 }
        quantity:
          type: string
          pattern: ^(?:(?:[1-9][0-9]{0,27}|0(?:[1-9][0-9]{0,26}|0(?:[1-9][0-9]{0,25}|0(?:[1-9][0-9]{0,24}|0(?:[1-9][0-9]{0,23}|0(?:[1-9][0-9]{0,22}|0(?:[1-9][0-9]{0,21}|0(?:[1-9][0-9]{0,20}|0(?:[1-9][0-9]{0,19}|0(?:[1-9][0-9]{0,18}|0(?:[1-9][0-9]{0,17}|0(?:[1-9][0-9]{0,16}|0(?:[1-9][0-9]{0,15}|0(?:[1-9][0-9]{0,14}|0(?:[1-9][0-9]{0,13}|0(?:[1-9][0-9]{0,12}|0(?:[1-9][0-9]{0,11}|0(?:[1-9][0-9]{0,10}|0(?:[1-9][0-9]{0,9}|0(?:[1-9][0-9]{0,8}|0(?:[1-9][0-9]{0,7}|0(?:[1-9][0-9]{0,6}|0(?:[1-9][0-9]{0,5}|0(?:[1-9][0-9]{0,4}|0(?:[1-9][0-9]{0,3}|0(?:[1-9][0-9]{0,2}|0(?:[1-9][0-9]{0,1}|0[1-9])))))))))))))))))))))))))))([.][0-9]{1,10})?|0{1,28}[.](?:[1-9][0-9]{0,9}|0(?:[1-9][0-9]{0,8}|0(?:[1-9][0-9]{0,7}|0(?:[1-9][0-9]{0,6}|0(?:[1-9][0-9]{0,5}|0(?:[1-9][0-9]{0,4}|0(?:[1-9][0-9]{0,3}|0(?:[1-9][0-9]{0,2}|0(?:[1-9][0-9]{0,1}|0[1-9]))))))))))$
      required:
        - quantity
    QuoteRenewal:
      description: |-
        Price renewing a prepaid subscription. Give `price_id`, or `interval` with
        `interval_count`, to renew for another term at the price currently sold for it. Naming
        the current term, or giving neither, renews at the agreed amount. A term sold at several
        prices that differ in termination policy is refused with 409
        `BILLING_RENEWAL_OPTION_AMBIGUOUS` unless `termination_policy` or `price_id` is given.
      type: object
      properties:
        subscription_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        interval:
          type: string
          enum: [day, month, year]
        interval_count:
          type: integer
          minimum: 1
        termination_policy:
          description:
            With `interval` and `interval_count`, chooses among prices of that term that differ in termination
            policy.
          allOf:
            - $ref: "#/components/schemas/TerminationPolicy"
        periods:
          description: How many consecutive periods to renew for.
          type: integer
          minimum: 1
          maximum: 100
          default: 1
      required:
        - subscription_id
      additionalProperties: false
    QuoteRequest:
      description: |-
        Quote exactly one target: purchase `lines`, an existing `order_id`, `renewals` or a `cancellation`. Giving none or
        more than one, or a `promotion_code` with `renewals` or a `cancellation`, fails with HTTP 400
        `BILLING_PURCHASE_INVALID` and `meta.field` naming the offending field. Without a code, an
        applicable account discount is selected. An explicit code is evaluated without reserving or
        consuming a redemption and must be supplied again when confirming checkout through Billing.
      type: object
      properties:
        items:
          description: |-
            A proposed purchase, priced with the project's current billing account. Future usage
            estimates cannot be combined with a promotion code or used as a checkout amount.
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/QuoteItemInput"
        order_id:
          description: |-
            Preview checkout of this existing order. Its recorded purchase terms supply every line, and a
            confirmed order returns its recorded amounts. A preview does not change the order.
          type: string
          format: uuid
        renewals:
          description: |-
            Preview renewing these subscriptions, each at most once. Each entry represents a separate
            renewal order. To preview a new promotion code, create a renewal order and quote it by order_id.
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/QuoteRenewal"
        cancellation:
          $ref: "#/components/schemas/QuoteCancellation"
        promotion_code:
          type: string
          minLength: 1
          maxLength: 64
      additionalProperties: false

    QuoteItem:
      description: |-
        A purchase quote line or one recorded order item. Monetary fields use the account currency.
        Fixed purchase amounts are rounded as checkout rounds them. Usage estimates are not amounts
        collectible at checkout. When priced is false, monetary fields and price_id are absent.
      type: object
      properties:
        tax_amount:
          description: Tax on the discounted amount, including any tax already contained in that amount.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_included_amount:
          description: The part of tax_amount already contained in amount minus discount_amount.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        index:
          description: Zero-based request line index, or the recorded order item's position for an order quote.
          type: integer
          minimum: 0
        order_item_id:
          description: Present for an existing order quote; identifies the recorded item being priced.
          type: string
          format: uuid
        priced:
          description: |-
            Whether a price was found for this line. Read this before anything else.

            A single item with no price no longer fails the whole request. A catalogue
            almost always has something not yet priced, and refusing the request would
            leave no way to render a list in which a few entries are simply not on sale.

            When false, `price_id`, `unit_amount` and `amount` are absent and
            `unpriced_reason` states what is missing.
          type: boolean
        unpriced_reason:
          description: |-
            Why no price was found; `none` while `priced` is true.
          type: string
          enum:
            - none
            - no_price
        price_id:
          description: |-
            The price selected. Returned whenever `priced` is true, including when the
            request identified the item indirectly, so that the choice can be confirmed.
          type: string
          format: uuid
        plan_name:
          type: string
        unit_amount:
          description: Unit price before discounts, with tax included only where the price includes it.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        quantity:
          description: |-
            The quantity priced.
          type: string
        amount:
          description: |-
            Before discounts, including any setup charges. Contains tax only where the price includes it.
            Zero for a priced order item with no immediate charge.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        discount_amount:
          description: Total reduction on this line, including any committed recurring discount.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: amount minus discount_amount plus tax_amount minus tax_included_amount.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
      required:
        - index
        - priced
        - currency
    QuoteRenewalResult:
      description: |-
        What renewing would charge. Renewing the same subscription for the same term and number
        of periods charges exactly `total`, unless prices or the discounts the account holds
        change in between.
      type: object
      properties:
        index:
          description: Which renewal of the request this answers.
          type: integer
        subscription_id:
          type: string
          format: uuid
        price_id:
          description: The price the renewal is charged under.
          type: string
          format: uuid
        interval:
          type: string
          enum: [day, month, year]
        interval_count:
          type: integer
        periods:
          type: integer
        amount:
          description: |-
            The price of the periods before the discounts the account holds. A discount the
            subscription already carries is reflected here. Contains tax only where the price
            itself includes it.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        discount_amount:
          description: The reduction from a discount the account holds.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          description: Tax on the discounted amount.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_included_amount:
          description: The part of `tax_amount` already contained in `amount`.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: |-
            What renewing would charge: `amount` less `discount_amount`, plus `tax_amount`, less
            `tax_included_amount`.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        - index
        - subscription_id
        - price_id
        - interval
        - interval_count
        - periods
        - amount
        - discount_amount
        - tax_amount
        - tax_included_amount
        - total
    Quote:
      description: |-
        A computed price preview, without a saved quote or a price guarantee. No funds or discount
        redemptions are reserved. Amounts use currency and exclude payment from credit grants or balance.
      type: object
      properties:
        subtotal:
          description: |-
            Sum before discounts, less tax already included in the discounted line amounts, as on an
            invoice. Null when any line cannot be priced. Zero for a cancellation-only quote.
          oneOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        discount_amount:
          description: Total line discounts. Null when any line cannot be priced; zero for a cancellation-only quote.
          oneOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        tax_amount:
          description: Total tax on the discounted amounts. Null when any line cannot be priced; zero for a cancellation-only quote.
          oneOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        discount:
          description: |-
            The one new discount evaluated for a purchase or order, without applying it. Null when
            none is selected, pricing is incomplete, or the quote targets a renewal list or cancellation.
            A confirmed order instead reports its recorded discount.
          oneOf:
            - $ref: "#/components/schemas/QuotedDiscount"
            - type: "null"
        items:
          type: array
          items:
            $ref: "#/components/schemas/QuoteItem"
        renewals:
          type: array
          items:
            $ref: "#/components/schemas/QuoteRenewalResult"
        cancellation:
          description: What the cancellation requested would return. Present only when one was requested.
          allOf:
            - $ref: "#/components/schemas/CancellationRefundPreview"
        total:
          description: |-
            subtotal minus discount_amount plus tax_amount, before applying credit grants or balance.
            For a purchase or order with no usage estimates, pass this as expected_amount at checkout.
            A renewal list sums separate orders; use each renewal's total when confirming that order.
            Refunds are not netted off: a cancellation-only quote has zero totals and its refund is in
            cancellation. Usage estimates are projections, not checkout amounts.

            Null when any line could not be priced. What would be owed is not knowable then, and a
            total that silently left the unpriced lines out would read as a smaller bill rather than
            an incomplete one — the per-line `priced` flag is easy to skip, a missing total is not.
          oneOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        currency:
          type: string
      required:
        - subtotal
        - discount_amount
        - tax_amount
        - total
        - discount
        - currency
    QuotedDiscount:
      description: |-
        The discount selected for this calculation. Its presence in a quote does not apply it or
        reserve a redemption. Discount amounts are reported on the quote and its lines.
      type: object
      properties:
        type:
          type: string
          enum: [promotion_code, account_discount]
        name:
          type: string
        promotion_code:
          description: Code text for a promotion_code discount; null for an account_discount.
          type: [string, "null"]
          minLength: 1
          maxLength: 64
      required: [type, name, promotion_code]
      additionalProperties: false
    ProjectBillingAccount:
      description: |-
        A narrow view of the project's billing account, restricted to what a project member needs in order
        to know whether the project's resources will keep running.
      type: object
      properties:
        billing_account_id:
          description:
            Identifies the billing account. Use it to link into the billing
            centre.
          type: integer
          format: int64
        name:
          type: string
        currency:
          description: |-
            Everything this project is charged is in this currency, and it cannot change while
            the account exists.
          type: string
        spendable_amount:
          description: |-
            What remains to be spent. It already accounts for this month's uninvoiced usage, so
            it is what will be available at checkout rather than the balance shown in the
            billing centre. It goes negative when usage has exceeded the balance.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        status:
          description: |-
            `active` — nothing is owed. `past_due` — the account owes money and resources are
            still running. `suspended` — resources have been stopped for non-payment.
          type: string
          enum:
            - active
            - past_due
            - suspended
        suspends_at:
          description: |-
            When this project's resources will be stopped unless the account is topped up.
            Absent while `status` is `active`.
          type:
            - string
            - "null"
          format: date-time
      required:
        - billing_account_id
        - name
        - currency
        - spendable_amount
        - status
    AccountIdentity:
      type: object
      required: [id, name, currency]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        currency: { type: string }
    InvoiceStatus:
      description: |-
        An order invoice stays `draft` until checkout confirms its discount and final amounts. It
        cannot be collected while draft. Confirmation makes it `open`, or `paid` when its total is zero
        without creating a payment transaction. A quote never changes this status.

        `refunded` means the invoice was paid and has since been refunded in full; a partial refund
        leaves it `paid`, with the refunded part in `amount_refunded`.

        `void` means the invoice will not be paid and holds no money: nothing was paid, or its order
        failed or was canceled and everything paid toward it has been returned.
      type: string
      enum:
        - draft
        - open
        - paid
        - refunded
        - void
        - uncollectible
    UsageCharge:
      type: object
      properties:
        subscription_id: { type: string, format: uuid }
        id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        project:
          description: |-
            The project and its current name, for display. Absent when the project no longer exists or its
            details cannot be read at the moment; `project_id` still identifies it.
          oneOf:
            - $ref: ../../../type/v1/identity.yaml#/components/schemas/NamedIdentity
            - type: "null"
        product:
          $ref: "#/components/schemas/Product"
        resource_id:
          description: Which resource this was charged for. Empty for charges
            not tied to one.
          type: string
        meter:
          $ref: "#/components/schemas/ObjectIdentity"
        unit:
          type: string
        dimensions:
          description: The attributes the rate was chosen by, such as region and
            machine type.
          type: object
          additionalProperties:
            type: string
        window_start:
          type: string
          format: date-time
        window_end:
          description: Exclusive.
          type: string
          format: date-time
        gross_quantity:
          description: How much was used, before any included allowance.
          type: string
        deducted_quantity:
          description: How much of that was covered by an allowance.
          type: string
        quantity:
          description: What was charged for — the gross quantity less the part
            covered.
          type: string
        unit_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        invoice_id:
          description: Absent until the period is invoiced.
          type:
            - string
            - "null"
          format: uuid
      required:
        - id
        - product
        - meter
        - window_start
        - window_end
        - quantity
        - currency
    UsageChargeList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/UsageCharge"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    SpendRow:
      type: object
      properties:
        product:
          $ref: "#/components/schemas/Product"
        plan_id:
          type: string
          format: uuid
        plan_name:
          type: string
        resource_id:
          description: Present only when grouped by resource.
          type: string
        amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
      required:
        - amount
        - currency
    SpendRowList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SpendRow"
        total:
          description: The sum over the whole period, not only the page
            returned.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - total
        - currency
        - pagination
    SubscriptionList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Subscription"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    Subscription:
      type: object
      description: |-
        An independently billed purchase relationship, separate from the owning service's resource.
        Placing a new prepaid or postpaid service order creates a pending subscription for each line
        in the same purchase transaction. Its ID is returned on the order item and remains stable
        through checkout and delivery. One order may create several subscriptions, such as an instance,
        its system disk and its address; it has no single subscription ID.

        Pending and provisioning do not grant service or accrue usage. A service-owned subscription
        becomes provisioning when the owning service accepts the order, and active when the service
        confirms delivery, with started_at set to the confirmed effective time; payment changes neither. Prepaid service periods start
        then; postpaid usage starts only when the service reports actual delivery and metering.

        One-time delivery may omit a subscription. Renewals reference and extend existing subscriptions
        rather than creating another; a change keeps the subscription ID and switches its terms when it
        takes effect. Canceling or failing an
        unfulfilled purchase closes its pending or provisioning subscriptions without starting a service period.
        Fixed renewals use the agreed recurring_amount and interval; already paid periods retain their
        original value. Technical state belongs to the owning service.

        A purchased shared capacity limit, such as a regional snapshot count quota, can have its own
        subscription. Activating that capacity confirms delivery of the quota, not individual snapshots.
        Creating or deleting snapshots within it does not create, activate or terminate more subscriptions;
        the owning service enforces current holdings against the purchased count.
      properties:
        currency: { type: string }
        billing_type: { type: string, enum: [postpaid, prepaid, one_time] }
        interval: { type: string, enum: [none, day, month, year] }
        interval_count: { type: integer, minimum: 1 }
        recurring_amount:
          description: |-
            Whole-subscription prepaid renewal amount, after continuing discounts and before tax.
            Pending subscriptions show base terms until checkout confirms any new continuing discount.
            Absent for other billing types.
          type: string
        termination_policy:
          $ref: "#/components/schemas/TerminationPolicy"
        refund_policy:
          $ref: "#/components/schemas/RefundPolicy"
        order_item_id: { type: string, format: uuid }
        replaces_subscription_id:
          description: Present only on subscriptions created by an earlier change that replaced the subscription. A change now keeps the subscription ID.
          type: string
          format: uuid
        coupon_id: { type: string, format: uuid }
        coupon:
          $ref: "#/components/schemas/ObjectIdentity"
        discounted_renewals_remaining: { type: integer, minimum: 0 }
        suspend_reason: { type: string }
        billing_cycle_anchor: { type: string, format: date-time }
        cancellation_request:
          $ref: "#/components/schemas/CancellationRequest"
        paid_with:
          description: |-
            How the purchase, or the latest renewal paid with a saved card, was paid. Automatic renewal
            tries this card after the account's balance and credits, and the account's default card after
            that.
          allOf:
            - $ref: "#/components/schemas/PaidWith"
        created_at: { type: string, format: date-time }
        id:
          type: string
          format: uuid
        billing_account_id:
          description: The billing account that made the purchase. Renewals of a project subscription are charged to the project's current billing account.
          type: integer
          format: int64
        account:
          $ref: "#/components/schemas/AccountIdentity"
        product_id:
          $ref: "#/components/schemas/ProductID"
        project_id:
          description: |-
            Which project this is for. Absent when it was bought at account level, such as a
            membership, which belongs to no single project.
          type:
            - string
            - "null"
          format: uuid
        project:
          description: |-
            The project and its current name, for display. Absent for a purchase at account level,
            and when the project no longer exists or its details cannot be read at the moment;
            `project_id` still identifies it then.
          oneOf:
            - $ref: ../../../type/v1/identity.yaml#/components/schemas/NamedIdentity
            - type: "null"
        product:
          $ref: "#/components/schemas/Product"
        plan_id:
          type: string
          format: uuid
        plan_name:
          type: string
        price_id:
          type: string
          format: uuid
        quantity:
          type: string
        paid_until:
          description: |-
            End of the prepaid service already activated. Null until a new subscription becomes active,
            even when its purchase has been paid, and for postpaid subscriptions with no prepaid end date.
          type:
            - string
            - "null"
          format: date-time
        auto_renew:
          type: boolean
        status:
          description: |-
            pending means the purchase relationship exists but its order has not been accepted.
            provisioning means the service accepted the order and is delivering. For a service-owned
            purchase, only confirmed delivery moves it to active; paying alone does not.
          type: string
          enum:
            - pending
            - provisioning
            - active
            - suspended
            - canceled
            - terminated
        started_at:
          description: Confirmed start of service. Null until a new subscription becomes active, including after payment.
          type:
            - string
            - "null"
          format: date-time
        ended_at:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - plan_id
        - price_id
        - quantity
        - status
        - billing_account_id
        - account
        - product_id
        - product
        - plan_name
        - billing_type
        - currency
        - interval
        - auto_renew
    AutoRenewSet:
      type: object
      properties:
        auto_renew:
          type: boolean
      required:
        - auto_renew
      additionalProperties: false
    ActiveResource:
      description: A resource currently accruing charges by the second.
      type: object
      properties:
        id: { type: string, format: uuid }
        ended_at: { type: string, format: date-time }
        suspended_at: { type: string, format: date-time }
        state_changed_at: { type: string, format: date-time }
        subscription_id:
          description: The postpaid subscription charged for this metering record, including shared services.
          type: string
          format: uuid
        resource_id:
          type: string
        product:
          $ref: "#/components/schemas/Product"
        resource_type:
          description: What it is, as its own service names it.
          type: string
        meter:
          $ref: "#/components/schemas/ObjectIdentity"
        unit:
          type: string
        quantity:
          description: How much is held — cores, MiB, cards. Not how much has
            been used.
          type: string
        dimensions:
          type: object
          additionalProperties:
            type: string
        status:
          type: string
          enum:
            - active
            - suspended
            - closing
            - completed
        started_at:
          type: string
          format: date-time
        metered_until:
          description: Usage has been generated up to this boundary; it does not imply invoicing or payment.
          type: string
          format: date-time
      required:
        - id
        - subscription_id
        - metered_until
        - resource_id
        - product
        - meter
        - quantity
        - status
        - started_at
    ActiveResourceList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ActiveResource"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    OrderStatus:
      type: string
      description: |-
        pending_checkout has recorded purchase terms but no confirmed checkout; only a deferred order
        with an amount due reaches it, since a zero-total order completes checkout at placement.
        Confirmation moves it to pending. Both pending_checkout
        and pending can expire or be canceled; neither establishes service delivery.

        Follows the items. `pending` has confirmed checkout, is not yet accepted and may be paid or unpaid. `active` is
        accepted with items still being set up. `completed` means every item was set up.
        `partially_completed` means some items were set up and the others failed and were
        refunded to their original payment sources. `failed` means every item failed and the
        whole order was refunded. `canceled` means the order was withdrawn before payment and
        nothing was charged.
      enum:
        - pending_checkout
        - pending
        - active
        - completed
        - partially_completed
        - failed
        - canceled
    OrderItemStatus:
      type: string
      description: |-
        `pending` is waiting to be set up. `completed` was confirmed by the service.
        `failed` was not set up and its amount was refunded to the original payment sources.
        `canceled` was withdrawn with its unpaid order. A completed item is ended by canceling
        its subscription.
      enum:
        - pending
        - completed
        - failed
        - canceled
    Order:
      description: |-
        A recorded purchase. pending_checkout requires explicit Billing confirmation before collection
        or acceptance, even without an invoice. Coupon fields describe a discount confirmed at checkout and are absent
        before confirmation; a quote never populates them. A draft invoice contains base purchase
        amounts awaiting checkout. Payment and acceptance remain separate from resource delivery.
      type: object
      properties:
        coupon_id: { type: string, format: uuid }
        coupon:
          $ref: "#/components/schemas/ObjectIdentity"
        promotion_code_id: { type: string, format: uuid }
        promotion_code:
          description: Code text frozen when checkout applied the coupon. Absent for an account discount.
          type: string
        invoice:
          $ref: "#/components/schemas/InvoiceSummary"
        paid_with:
          description: How the order was paid. Absent until it is paid.
          allOf:
            - $ref: "#/components/schemas/PaidWith"
        account:
          $ref: "#/components/schemas/AccountIdentity"
        cancel_reason:
          type: string
        change_effective_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        project_id:
          description: |-
            Which project it was bought for. Absent for a purchase made at account level, such
            as a membership.
          type:
            - string
            - "null"
          format: uuid
        project:
          description: |-
            The project and its current name, for display. Absent for a purchase at account level,
            and when the project no longer exists or its details cannot be read at the moment;
            `project_id` still identifies it then.
          oneOf:
            - $ref: ../../../type/v1/identity.yaml#/components/schemas/NamedIdentity
            - type: "null"
        billing_account_id:
          description: |-
            The billing account the order was placed with. It does not change when the project is later
            linked to another billing account. While this account is suspended or closed the order cannot
            be accepted, and a change scheduled for the end of a period is not invoiced and is called off
            when the current period ends; such requests fail with BILLING_ACCOUNT_UNAVAILABLE.
          type: integer
          format: int64
        currency:
          type: string
        type:
          description: |-
            `adopt` brings a resource that already existed under billing. It charges nothing at
            the time and starts billing from the moment agreed.
          type: string
          enum:
            - purchase
            - renew
            - change
            - adopt
        status:
          $ref: "#/components/schemas/OrderStatus"
        change_effective:
          description: |-
            When a plan change takes effect. `none` on anything that is not a change.

            `period_end` orders stay pending until the first period at the new price is paid. That period
            is invoiced shortly before the current paid period ends and starts when it ends; if the
            invoice is still unpaid by then, the order is canceled and the subscription renews or ends as
            usual. Renewing in the meantime moves all of this along with it.
          type: string
          enum:
            - none
            - immediate
            - period_end
        expires_at:
          description: Acceptance deadline. pending_checkout and pending orders can expire automatically.
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type: string
          format: date-time
        items:
          description: |-
            What was bought. Present on a single order and on every order in a list, so a list
            can be rendered without a further request per row.
          type: array
          items:
            $ref: "#/components/schemas/OrderItem"
      required:
        - id
        - currency
        - type
        - status
        - items
        - created_at
    OrderList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Order"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    PaidWith:
      type: object
      description: |-
        How it was paid, as recorded at the time. It is kept as it was: removing the card afterwards
        does not change it, and `payment_method_id` may then name a card that no longer exists.
      properties:
        method_type:
          description: |-
            `balance` when the account's balance and credits covered it in full. Otherwise the method used
            with the gateway, such as `card`.
          type: string
        payment_gateway:
          description: The gateway that collected it. Absent when `method_type` is `balance`.
          type: string
        payment_method_id:
          description: The saved payment method that was charged, when one was.
          type: string
          format: uuid
        brand:
          type: string
        last4:
          type: string
      required:
        - method_type
    OrderItem:
      type: object
      description: |-
        Frozen purchase terms. Monetary fields come from related invoice-line snapshots and are absent
        when there is no immediate invoice. Later catalog changes do not reprice this line. A new service
        purchase creates its pending subscription when this item is recorded, not when payment succeeds.
      properties:
        position: { type: integer, minimum: 0 }
        configuration: { type: object, additionalProperties: true }
        subscription_id:
          description: |-
            Stable Billing subscription ID. A new prepaid or postpaid service purchase returns the
            pending subscription here; renewals and changes reference the existing subscription, which
            keeps its ID. Absent for delivery without a subscription. This is not a business resource ID.
          type: string
          format: uuid
        interval: { type: string, enum: [none, day, month, year] }
        interval_count: { type: integer, minimum: 1 }
        termination_policy:
          $ref: "#/components/schemas/TerminationPolicy"
        refund_policy:
          $ref: "#/components/schemas/RefundPolicy"
        refund_monthly_amount:
          description: |-
            Prepaid items only: the plan's one-month prepaid price for this item's quantity before tax, frozen
            at purchase, used to value time used under a prorated refund or a downgrade. Null when the plan has
            no prepaid period shorter than the one bought.
          type: [string, "null"]
        refund_hourly_amount:
          description: |-
            Prepaid items only: the plan's postpaid hourly price for this item's quantity before tax, frozen at
            purchase, used for time used short of a full month. Null when the plan has no postpaid price.
          type: [string, "null"]
        completes_on_payment: { type: boolean }
        recurring_amount: { type: string }
        setup_amount: { type: string }
        billing_type:
          description: The payment timing of the selected price.
          type: string
          enum: [postpaid, prepaid, one_time]
        tax_amount:
          description: Total tax after discounts, including any tax already included in the price.
          type: string
        tax_included_amount:
          description: The part of tax_amount already included in gross_amount; it is not charged again.
          type: string
        id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        product_id:
          description: Which service this line belongs to.
          $ref: "#/components/schemas/ProductID"
        product:
          $ref: "#/components/schemas/Product"
        plan_id:
          description: Which plan was bought.
          type: string
          format: uuid
        plan_name:
          description: |-
            What it was called when bought. It does not follow later catalogue renames and is
            not translated.
          type: string
        quantity:
          type: string
        unit_amount:
          description: |-
            The unit amount of the price this line is charged under. Absent for a tiered price, which has no
            single unit amount, and for a change that takes effect at once, which is charged as `gross_amount`
            describes.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        gross_amount:
          description: |-
            Before discounts: the price applied to the quantity, which for a per-unit price is `unit_amount`
            times `quantity`; a minimum charge can make it higher. For an upgrade that takes effect at once it is
            the new price minus the old price for the time left in the paid period, both at the subscription's
            own period price, and the period end does not move; a downgrade charges nothing and may refund the
            difference instead. A change between equal period prices charges and refunds nothing. The setup fee is not part of it; see `setup_amount`.

            Under an inclusive tax rate it includes tax, as the price does, and the included part is
            `tax_included_amount`. A renewal at the agreed terms is the exception: the agreed amount excludes
            tax, and tax is added to it.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        discount_amount:
          description: |-
            The reduction on this line: from the coupon the order uses and, for a renewal at the agreed terms,
            from the discount the subscription carries.

            A carried discount is part of the agreed amount. It is listed here, and `gross_amount` is then
            `unit_amount` times `quantity`, except in two cases where `gross_amount` is the agreed amount and
            the carried discount is already reflected in it: the renewal order also uses a coupon the account
            holds, or the account's tax rate is inclusive.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        amount:
          description: |-
            `gross_amount` less `discount_amount`.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        period_start:
          type:
            - string
            - "null"
          format: date-time
        period_end:
          type:
            - string
            - "null"
          format: date-time
        status:
          $ref: "#/components/schemas/OrderItemStatus"
      required:
        - id
        - price_id
        - quantity
        - currency
        - plan_id
        - plan_name
        - billing_type
        - interval
        - completes_on_payment
        - status
    OrderItemList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/OrderItem"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    Allowance:
      type: object
      properties:
        idempotency_key:
          type: string
          description: Optional issuance key, unique within this billing account.
        subscription_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        product:
          $ref: "#/components/schemas/Product"
        meter:
          $ref: "#/components/schemas/ObjectIdentity"
        unit:
          description: The unit it is counted in, such as `MiB`.
          type: string
        source_type:
          description: |-
            `included` came with a recurring purchase and ends with its subscription, `promotional` was
            granted.
          type: string
          enum:
            - included
            - promotional
        name:
          type: string
        quantity:
          description: How much was granted.
          type: string
        remaining_quantity:
          description: How much is left.
          type: string
        priority:
          description: |-
            Lower values are consumed first. At equal priority, earlier expiry and then earlier issuance take
            precedence.
          type: integer
        status:
          type: string
          enum:
            - active
            - depleted
            - expired
            - voided
        valid_from:
          type: string
          format: date-time
        valid_until:
          description: |-
            When it lapses. Anything unused at that point is lost; it is not refunded and does
            not carry over. Absent when it does not expire on its own.
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - product
        - meter
        - source_type
        - name
        - quantity
        - remaining_quantity
        - status
        - valid_from
    AllowanceList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Allowance"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    Entitlement:
      type: object
      properties:
        product:
          $ref: "#/components/schemas/Product"
        feature:
          $ref: "#/components/schemas/ObjectIdentity"
        name:
          type: string
        enabled:
          type: boolean
        expires_at:
          description: |-
            When the subscription providing it ends. Absent for a metered subscription, which
            has no end date.
          type:
            - string
            - "null"
          format: date-time
      required:
        - product
        - feature
        - enabled
    EntitlementList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Entitlement"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    InvoiceSummary:
      type: object
      description: |-
        Purchase-related invoice amounts, without account contact details or payment methods. A draft
        order invoice shows base amounts awaiting checkout, not a confirmed discount or collectible total.
        Absent when no invoice has been created; absence does not establish acceptance or delivery.
      properties:
        id: { type: string, format: uuid }
        number: { type: string }
        currency: { type: string }
        status:
          $ref: "#/components/schemas/InvoiceStatus"
        subtotal:
          description: |-
            Sum of the line amounts before discounts. Where prices include tax, the tax contained in
            each line's discounted amount is taken out here, so that total = subtotal -
            discount_amount + tax_amount always holds.
          type: string
        discount_amount:
          description: Sum of the line discounts, taken off before tax.
          type: string
        tax_amount: { type: string }
        total: { type: string }
        amount_paid: { type: string }
        amount_due:
          description: What is still collectible after applied credits and successful payments; never below zero.
          type: string
          pattern: '^\d+(\.\d{1,10})?$'
        amount_refunded: { type: string }
        due_at: { type: string, format: date-time }
      required:
        [
          id,
          currency,
          status,
          subtotal,
          discount_amount,
          tax_amount,
          total,
          amount_paid,
          amount_due,
          amount_refunded,
        ]
    ObjectIdentity:
      description: A catalog object inlined for display.
      type: object
      properties:
        lookup_key: { type: string }
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
        - id
        - name
  parameters:
    CancellationId:
      name: cancellationId
      in: path
      required: true
      schema: { type: string, format: uuid }
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number; the first page when omitted.
      schema:
        type: integer
        format: int32
        maximum: 2147483647
        minimum: 1
    PageSize:
      name: page_size
      in: query
      required: false
      description: How many per page, 100 at most.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
    From:
      name: from
      in: query
      required: false
      schema:
        type: string
        format: date-time
    To:
      name: to
      in: query
      required: false
      description: Exclusive.
      schema:
        type: string
        format: date-time
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrderId:
      name: orderId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    FromRequired:
      name: from
      in: query
      required: true
      schema:
        type: string
        format: date-time
    ToRequired:
      name: to
      in: query
      required: true
      description: Exclusive. One month is `[2026-09-01, 2026-10-01)`.
      schema:
        type: string
        format: date-time
  responses:
    Error:
      description: Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
