openapi: 3.2.1
info:
  title: Leaflow Compute API
  version: 1.0.0
  description:
    "Leaflow Compute user API for managing instances, disks, snapshots, backups, images,
    private networks, subnets, routes, security groups, network interfaces and floating IPs.


    ## Authentication


    Every request carries a scoped token; see the `scopedTokenAuth` security scheme.


    ## Conventions


    - **Purchases.** A purchase that creates resources returns them together with a PlacedOrder. They are
    readable at once and start as `pending`: the order has not been accepted, nothing exists in the cloud, no
    inventory such as an address is held, and fields known only after allocation, such as addresses, are null.
    Once Billing accepts the order, a resource becomes `provisioning` and then reaches its usual status, such as
    `active` or `available`. When the order is declined, canceled or expires, or creation fails, the resource ends
    `failed` and `failure_reason` states why; the charge for a resource that failed after acceptance is refunded.
    Read the order in Billing for checkout and payment progress.

    - **Pricing.** Catalog items, such as instance types, disk types and public IP pools, carry `pricing`: the
    prepaid and postpaid options Billing offers for them, in the currency of the project's current billing account,
    or null when the project has no billing account. They are list amounts before promotion codes, not a checkout
    guarantee. A purchase chooses one option with `billing`, which applies to all of its components. Every purchase
    and change has a quote operation beside it, at the same path followed by `/quote`, which returns what checkout
    would collect without ordering anything.

    - **Checkout.** Omit `checkout` for automatic checkout, which pays from eligible credit grants and balance
    when the order is placed; insufficient funds refuse the request with HTTP 422 `BILLING_INSUFFICIENT_FUNDS`,
    and nothing is created. With `checkout.mode` set to `deferred`, the resources are
    returned `pending` and nothing is created until checkout is confirmed and paid through Billing. An order whose
    total is zero, such as a postpaid purchase with nothing due now, completes checkout at placement in either mode
    and proceeds to provisioning.

    - **Operations.** Requests such as starting, stopping, attaching or deleting return HTTP 202 with the resource
    as it is when the request is accepted. While an operation runs, the resource's `operation` field names it; the
    field is null once the operation has finished, and the resource then shows the result. A resource with an
    operation in progress refuses another operation with HTTP 409 `COMPUTE_RESOURCE_BUSY`; an operation involving
    two resources, such as attaching a disk, is refused when either has one. A purchased change, such as a resize,
    is an operation from the moment its order is placed until it is applied or its order is canceled, including
    while it awaits checkout. Renaming and replacing labels or notes
    are not operations and are accepted at any time.

    - **Billing relationships.** A purchased resource records its `order_id`, `order_item_id` and
    `subscription_id`. The subscription is `pending` until the order is accepted, `provisioning` while the resource
    is created, and `active` once it is delivered. Bandwidth is a property of its floating IP, not a separate
    resource. Snapshots use a purchased per-region count quota, and backups are metered on the region's backup
    service; neither has an order or subscription of its own.

    - **Availability zones.** A disk and an instance must reside in the same availability zone to be attached.
    Instance types and disk types are each bound to one availability zone, so choosing a type determines the
    zone.

    - **IPv6 is not sold separately.** Once enabled on a private network, IPv6 addresses are assigned to the
    instances in that network automatically; they can be neither requested nor released individually.

    - **Floating IPs have a cooldown period.** A released address is neither available for re-allocation nor
    handed to another user for some time, so that DNS records and allow-lists still pointing at it do not break
    immediately.

    - **Passwords are returned once.** A password generated by the platform during creation or rebuild appears
    only in that response. Store it immediately."
servers:
  - url: https://compute.leaflow.cloud
security:
  - scopedTokenAuth: []
paths:
  /api/v1/backups:
    get:
      summary: List backups
      operationId: list-backups
      tags:
        - Backup
      parameters:
        - name: disk_id
          in: query
          description: Return only the backups of this disk
          explode: false
          schema:
            description: Return only the backups of this disk
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a backup
      description:
        "A backup is a complete copy of a disk held in separate storage: **it remains restorable after
        the source disk is deleted, and can be restored to another availability zone in the same region.** A snapshot
        offers neither capability, as it resides in the same storage as the source disk and prevents that disk from
        being deleted while it exists.


        Disks attached to a running instance, including system disks, can be backed up.


        No order is placed. The backup is metered on the backup service of the disk's region by its `capacity_gib`
        for as long as it is retained, until it is deleted; see `get-backup-service`. Refused with 409
        `BACKUP_SERVICE_NOT_ACTIVE` and `meta.region_id` when that service is not active.


        Returns the backup while it is taken; the duration depends on the amount of data. Read the backup until it
        is `available` or `failed`."
      operationId: create-backup
      tags:
        - Backup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBackupRequestBody"
      responses:
        "202":
          description: The backup was accepted and is being taken.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/backups/{backupId}:
    get:
      summary: Retrieve a backup
      description:
        Returns the stored state of the backup; it does not query the cloud. Use it to poll creation progress.
      operationId: get-backup
      tags:
        - Backup
      parameters:
        - name: backupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a backup
      operationId: rename-backup
      tags:
        - Backup
      parameters:
        - name: backupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameBackupRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a backup
      description:
        "Independent of the source disk: deletion succeeds whether or not that disk still exists. Metering of the
        backup ends once it is deleted."
      operationId: delete-backup
      tags:
        - Backup
      parameters:
        - name: backupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "409":
          $ref: "#/components/responses/Conflict"
        "202":
          description: Deletion was accepted. The backup shows the `delete` operation until it is deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/backups/{backupId}/restore:
    post:
      summary: Restore from a backup
      description:
        "Restores onto a **newly created** disk. The source disk is unaffected and need not still exist.


        The target disk type may belong to another availability zone of the same region, and its capacity must not
        be smaller than the backup. Returns the new disk as `pending` with its order; it cannot be attached until it
        is `available`."
      operationId: restore-backup
      tags:
        - Backup
      parameters:
        - name: backupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreBackupRequestBody"
      responses:
        "202":
          description: The new disk and its order were created; restoration has not started.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDiskResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/backups/{backupId}/restore/quote:
    parameters:
      - name: backupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Quote restoring from a backup
      description:
        "Prices what `restore-backup` would order for the same request, without ordering or creating anything; nothing is
        reserved or recorded. Billing evaluates applicable account discounts and tax as for automatic checkout.
        `total` is what automatic checkout would collect before credit grants and balance; give it as
        `checkout.expected_amount` to be refused rather than charged a different amount. `estimated_usage_amount`
        projects postpaid usage over one month of 730 hours and is not collected at checkout. A request the purchase
        would refuse is refused the same way. Prices may change, so quote again before final confirmation."
      operationId: create-backup-restore-quote
      tags:
        - Backup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreBackupQuoteRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disk-types:
    get:
      summary: List disk types on sale
      description:
        "Only disk types currently on sale are listed, both system disk types and data disk types;
        `purpose` narrows the list to one of the two. A withdrawn one disappears from here and can no longer be
        bought, while the disks already on it keep working and can still be resized."
      operationId: list-disk-types
      tags:
        - Catalog
      parameters:
        - name: region_id
          in: query
          required: false
          explode: false
          schema:
            type: string
            format: uuid
        - name: purpose
          in: query
          required: false
          description: Filter by intended purchase use. Omit to include both system and data disk types.
          schema:
            $ref: "#/components/schemas/DiskTypePurpose"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskTypeListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disk-types/{diskTypeId}:
    get:
      summary: Get a disk type
      description:
        Retrieve capacity and performance constraints for an existing disk, including system disk types
        and types withdrawn from sale.
      operationId: get-disk-type
      tags:
        - Catalog
      parameters:
        - name: diskTypeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskTypeResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/images:
    get:
      summary: List images
      description:
        "Lists the public images on sale together with the private images of this project. `visibility`
        narrows the list to one of the two.


        A public image is offered to every project. Only public images currently on sale are listed: one the platform
        withdraws disappears from here and can no longer install new instances, while the instances already running
        it keep running and can still be rebuilt onto it.


        A private image belongs to this project, which captured it from one of its instances, and is listed in every
        status, including while its capture is in progress and after the capture failed.


        An image can only be used in the region that holds it. An image whose `min_ram_mb` exceeds the memory of the
        selected instance type cannot boot; filter the options accordingly."
      operationId: list-images
      tags:
        - Image
      parameters:
        - name: region_id
          in: query
          required: false
          description: Return only the images of this region
          explode: false
          schema:
            type: string
            format: uuid
        - name: visibility
          in: query
          description: Return only public or only private images. Both are returned when omitted
          explode: false
          schema:
            $ref: "#/components/schemas/ImageVisibility"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Capture an instance as a private image
      description:
        "Creates a private image of this project from the system disk of the instance; data disks are not
        included. The resulting image can create instances and rebuild them, and remains usable after the source instance
        is released.


        **The image reflects the moment the capture started. Later changes to the instance are not included.** The
        image is returned as `pending` with its order, and the capture starts only once the order is accepted.


        The capture then has two phases, reported by the status of the image:


        - `provisioning` — the system disk is being read, usually for tens of seconds. The instance remains usable
        during this phase, although stopping it first is recommended for consistency.

        - `uploading` — no longer tied to the system disk. **The instance may be started at this point; there is
        no need to wait for the capture to finish.** The duration of this phase is proportional to the size of the
        system disk, roughly 3 minutes for 20 GB.


        The file system of a running instance may be captured mid-write, in which case the image is equivalent to
        the disk contents after a power loss. Where consistency matters, stop the instance before starting the capture
        and start it again once the status becomes `uploading`.


        The instance can be started, stopped and used normally during the capture, but cannot be released.


        The image is billed for the storage it occupies, as the region's `private_image_pricing` shows. Obtain a quote
        with `create-image-quote` first."
      operationId: create-image
      tags:
        - Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImageRequestBody"
      responses:
        "202":
          description: The private image and its order were created; the capture has not started.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateImageResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/images/quote:
    post:
      summary: Quote capturing an instance as a private image
      description:
        "Prices the capture `create-image` would order for the same instance, without ordering anything;
        nothing is reserved or recorded. The quantity priced is the size of the system disk, which is the most the
        image can occupy, with the option chosen in `billing`. Billing evaluates applicable account discounts and tax
        as for automatic checkout. `total` is what automatic checkout would collect before credit grants and balance;
        give it as `checkout.expected_amount` to be refused rather than charged a different amount. Prices may
        change, so quote again before final confirmation."
      operationId: create-image-quote
      tags:
        - Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImageQuoteRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/images/{imageId}:
    get:
      summary: Retrieve an image
      description:
        "Returns a public image, or a private image of this project; any other image is reported as not
        found. Use this endpoint to poll capture progress. When `status` is `failed`, `failure_reason` states why."
      operationId: get-image
      tags:
        - Image
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a private image
      description: Only a private image of this project can be renamed; any other image is reported as not found.
      operationId: rename-image
      tags:
        - Image
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameImageRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a private image
      description:
        "Only a private image of this project can be deleted; any other image is reported as not found.


        Deletion is rejected while instances created from the image still exist, as they need it in order to be rebuilt.


        An image whose capture has not finished can be deleted; the capture is aborted. This is the one operation
        accepted while the `create` operation is in progress.


        Refused with `COMPUTE_RESOURCE_SUBSCRIBED` while a subscription pays for the image, including a
        pay-as-you-go subscription. `meta.resource_id` names the image. It is released by canceling the subscriptions
        listed in `meta.subscription_ids` through Billing, the same set as its `release_subscription_ids`."
      operationId: delete-image
      tags:
        - Image
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "409":
          $ref: "#/components/responses/Conflict"
        "202":
          description: Deletion was accepted. The image shows the `delete` operation until it is deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instance-types:
    get:
      summary: List instance types on sale
      description:
        Only instance types currently on sale are listed. A withdrawn one disappears from here and can
        no longer be ordered, while the instances already running it keep running.
      operationId: list-instance-types
      tags:
        - Catalog
      parameters:
        - name: region_id
          in: query
          required: false
          explode: false
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceTypeListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/regions:
    get:
      summary: List available regions
      operationId: list-regions
      tags:
        - Catalog
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/regions/{regionId}/availability-zones:
    get:
      summary: List the availability zones of a region
      description:
        A disk and an instance must reside in the same availability zone to be attached. Confirm the
        zone before creating either.
      operationId: list-availability-zones
      tags:
        - Catalog
      parameters:
        - name: regionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks:
    get:
      summary: List disks
      description:
        When both `region_code` and `availability_zone` are supplied, only disks attachable to an instance
        at that location are returned.
      operationId: list-disks
      tags:
        - Disk
      parameters:
        - name: region_id
          in: query
          required: false
          explode: false
          schema:
            type: string
            format: uuid
        - name: availability_zone_id
          in: query
          description: Supplied together with `region_code` to filter attachable disks
          explode: false
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a disk
      description:
        "The disk is created in the availability zone of the selected disk type, and an instance must
        reside in the same zone to attach it. Choosing the disk type therefore determines the zone.


        A disk type that is off sale is rejected with `DISK_TYPE_OFF_SALE`, even though its identifier still
        resolves. Types that are off sale do not appear in the disk type listing; disks already bought on one keep
        working and can still be resized."
      operationId: create-disk
      tags:
        - Disk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDiskRequestBody"
      responses:
        "202":
          description: The disk and its order were created; the disk does not exist in the cloud yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDiskResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks/quote:
    post:
      summary: Quote creating a disk
      description:
        "Prices what `create-disk` would order for the same request, without ordering or creating anything; nothing is
        reserved or recorded. Billing evaluates applicable account discounts and tax as for automatic checkout.
        `total` is what automatic checkout would collect before credit grants and balance; give it as
        `checkout.expected_amount` to be refused rather than charged a different amount. `estimated_usage_amount`
        projects postpaid usage over one month of 730 hours and is not collected at checkout. A request the purchase
        would refuse is refused the same way. Prices may change, so quote again before final confirmation."
      operationId: create-disk-quote
      tags:
        - Disk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDiskQuoteRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks/{diskId}:
    get:
      summary: Retrieve a disk
      description:
        Returns the stored state of the disk; it does not query the cloud.
      operationId: get-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a disk
      description: Changes the name only. Use the resize endpoint for capacity; type and availability zone are immutable.
      operationId: rename-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameDiskRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a disk
      description:
        "Deletion is rejected while the disk is attached, or while snapshots created from it still exist.


        Refused with `COMPUTE_RESOURCE_SUBSCRIBED` while a subscription pays for the disk, including a pay-as-you-go
        subscription. `meta.resource_id` names the disk. It is released by canceling the subscriptions listed in
        `meta.subscription_ids` through Billing, the same set as its `release_subscription_ids`."
      operationId: delete-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "409":
          $ref: "#/components/responses/Conflict"
        "202":
          description: Deletion was accepted. The disk shows the `delete` operation until it is deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks/{diskId}/resize:
    post:
      summary: Resize a disk
      description:
        "Capacity can only be increased; shrinking is not supported. Returns the disk with the order for the
        resize, which keeps the disk's billing mode and period. The disk shows the `resize` operation until the
        resize is applied or its order is canceled, including while the order awaits checkout, so other operations
        and a second resize are refused with `COMPUTE_RESOURCE_BUSY` meanwhile. The disk keeps its current size until
        the resize is applied; once `size_gb` shows the new size, extend the file system inside the instance. If the
        order is not accepted or the resize fails, the disk keeps its size and the order shows the outcome.


        **An attached data disk whose performance scales with its size must be detached before it is resized.**
        The performance of an attached disk does not change until the disk is detached and attached again, so such
        a request is refused with `DISK_RESIZE_NEEDS_DETACH` rather than providing the new capacity at the performance
        of the previous size. Detach the disk, resize it, and attach it again.


        The request is refused only when the new size has a different performance level. A disk whose type has no
        QoS level, or whose performance has already reached the maximum of its type, can be resized while attached.


        **A system disk can be resized while attached**, because a system disk cannot be detached. System disk types
        use a performance level that does not scale with size, so resizing a system disk does not change its performance."
      operationId: resize-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeDiskRequestBody"
      responses:
        "202":
          description: The disk and the order for the resize; the new size is not yet in effect.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResizeDiskResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks/{diskId}/resize/quote:
    parameters:
      - name: diskId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Quote resizing a disk
      description:
        "Prices the change `resize-disk` would order, as of now, without ordering or changing anything. A change that
        raises the price has the charge for the rest of the paid period as `total`; one that lowers it has a zero
        `total` and the refund as `refundable_amount`. Give the returned `proration_date` with the change, and for
        automatic checkout `total` as `checkout.expected_amount`. A request the change would refuse is refused the
        same way. Prices may change, so quote again before final confirmation."
      operationId: create-disk-resize-quote
      tags:
        - Disk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeDiskQuoteRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks/{diskId}/revert:
    post:
      summary: Revert to a snapshot
      description:
        "Restores the contents of the disk to the moment the snapshot was taken. **All data written after
        that moment is lost and cannot be recovered.**


        Three restrictions apply: only the most recent snapshot of the disk can be reverted to; the disk must be
        detached from its instance first; and a disk resized since the snapshot was taken cannot be reverted. To
        return to an earlier point in time, or to keep the existing disk, create a new disk from the snapshot instead.


        The disk shows the `revert` operation until the revert is complete."
      operationId: revert-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevertDiskRequestBody"
      responses:
        "202":
          description: The revert was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips:
    get:
      summary: List floating IPs
      operationId: list-floating-ips
      tags:
        - FloatingIP
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Allocate a floating IP
      description:
        "If the private network is not yet connected to the internet, connectivity is established as
        part of this call.


        Returns the floating IP as `pending` with its order; `address` is null until the address is allocated after
        the order is accepted. A requested `address` is not held while pending; if it is no longer available then,
        the floating IP ends `failed` with `provisioning_failed` and its charge is refunded.


        IPv6 is not requested through this endpoint. IPv6 addresses are assigned to instances by the private network;
        enable IPv6 on that network instead.


        Refused with `PRIVATE_NETWORK_UNAVAILABLE`, before any order is created, when the private network's `status`
        is not `available`. `meta.private_network_id` names it."
      operationId: allocate-floating-ip
      tags:
        - FloatingIP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AllocateFloatingIPRequestBody"
      responses:
        "202":
          description: The floating IP and its order were created; no address is allocated yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllocateFloatingIPResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips/quote:
    post:
      summary: Quote allocating a floating IP
      description:
        "Prices what `allocate-floating-ip` would order for the same request, without ordering or creating anything; nothing is
        reserved or recorded. Billing evaluates applicable account discounts and tax as for automatic checkout.
        `total` is what automatic checkout would collect before credit grants and balance; give it as
        `checkout.expected_amount` to be refused rather than charged a different amount. `estimated_usage_amount`
        projects postpaid usage over one month of 730 hours and is not collected at checkout. A request the purchase
        would refuse is refused the same way. Prices may change, so quote again before final confirmation."
      operationId: create-floating-ip-quote
      tags:
        - FloatingIP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AllocateFloatingIPQuoteRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips/{floatingIpId}:
    get:
      summary: Retrieve a floating IP
      operationId: get-floating-ip
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Release a floating IP
      description:
        "Releases the floating IP after unbinding it. The floating IP shows the `delete` operation until it is
        released.


        Refused with `COMPUTE_RESOURCE_SUBSCRIBED` while a subscription pays for the address, including a
        pay-as-you-go subscription. `meta.resource_id` names the floating IP. It is released by canceling
        the subscriptions listed in `meta.subscription_ids` through Billing, the same set as its
        `release_subscription_ids`."
      operationId: release-floating-ip
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "202":
          description: The release was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
  /api/v1/floating-ips/{floatingIpId}/bandwidth:
    put:
      summary: Set the bandwidth limit
      description:
        "Changes the bandwidth of this floating IP through an order that keeps its billing mode and period; no
        separate bandwidth resource is created. The limit applies to inbound and outbound traffic alike. The floating
        IP shows the `set_bandwidth` operation until the change is applied or its order is canceled, including while
        the order awaits checkout, so other operations and a second change are refused with `COMPUTE_RESOURCE_BUSY`
        meanwhile. The current limit stays in effect until the change is applied. If the order is not accepted or the
        change fails, `bandwidth_mbps` keeps its value and the order shows the outcome.


        While the address is bound to an instance, the limit must not exceed the `max_bandwidth_mbps` of that instance's
        type; a higher limit is refused with `INSTANCE_BANDWIDTH_CEILING`. The limit of an address that is not bound
        is checked when the address is bound to an instance."
      operationId: set-floating-ip-bandwidth
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetFloatingIPBandwidthRequestBody"
      responses:
        "202":
          description: The floating IP and the order for the change; the new limit is not yet in effect.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetFloatingIPBandwidthResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips/{floatingIpId}/bandwidth/quote:
    parameters:
      - name: floatingIpId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Quote changing the bandwidth limit
      description:
        "Prices the change `set-floating-ip-bandwidth` would order, as of now, without ordering or changing anything. A change that
        raises the price has the charge for the rest of the paid period as `total`; one that lowers it has a zero
        `total` and the refund as `refundable_amount`. Give the returned `proration_date` with the change, and for
        automatic checkout `total` as `checkout.expected_amount`. A request the change would refuse is refused the
        same way. Prices may change, so quote again before final confirmation."
      operationId: create-floating-ip-bandwidth-quote
      tags:
        - FloatingIP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetFloatingIPBandwidthQuoteRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips/{floatingIpId}/binding:
    put:
      summary: Bind a floating IP to a network interface
      description: The floating IP shows the `bind` operation until the binding is confirmed.
      operationId: bind-floating-ip
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BindFloatingIPRequestBody"
      responses:
        "202":
          description: The binding was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Unbind a floating IP
      description:
        The address remains held by the project and simply no longer points at any network interface. The floating
        IP shows the `unbind` operation until the change is confirmed.
      operationId: unbind-floating-ip
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: The unbinding was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances:
    get:
      summary: List instances
      description:
        Every instance in the project, newest first, in their stored state.
      operationId: list-instances
      tags:
        - Instance
      parameters:
        - name: label
          in: query
          description:
            Only instances carrying this label, written as `key:value` — for example `env:prod`. Both halves
            are matched exactly
          explode: false
          schema:
            description: A label to filter by, written as `key:value`
            type: string
            maxLength: 128
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create instances
      description:
        "Creates a Billing order, including for metered pricing, and returns one `pending` instance per requested
        instance with the order. `billing` applies to the instance, its system disk and its floating IP alike. A
        pending instance has no virtual machine, system disk or address, and is not metered.


        Creation starts once Billing accepts the order: the instance becomes `provisioning`, then `active`. With
        automatic checkout, insufficient funds refuse the request and nothing is created. With deferred checkout and
        an amount due, the instances stay `pending` until checkout is confirmed and paid through Billing; a canceled or expired order
        leaves them `failed` with `order_canceled` or `order_expired`. Do not submit another creation request after
        paying. After an uncertain response, look the order up before submitting again.


        Choose an image or existing disk through boot_disk, and exactly one of port_id or subnet_id.
        Existing ports, boot disks or floating IPs require count=1. They are not held while the instance is pending;
        if one is no longer usable when the order is accepted, the instance ends `failed` with `provisioning_failed`.
        Image boots require boot_disk; existing disks retain their own subscription. Instances, disks and public IPs
        keep their own subscription items on the same order.


        Instances of one request succeed or fail individually. Each instance, with its system disk, network interface
        and floating IP, is created or fails as a whole. Instances that were created are kept; each failed instance
        ends `failed` with `provisioning_failed`, its part of the order is refunded, and the order then ends
        `partially_completed`. Each instance is named after this request with a number appended.


        The network is checked before the order is created, and a request it refuses orders and charges nothing.
        It is refused with `PRIVATE_NETWORK_UNAVAILABLE` when the private network's `status` is not `available`,
        `SUBNET_UNAVAILABLE` or `SECURITY_GROUP_UNAVAILABLE` when the subnet or a security group is not ready,
        `SECURITY_GROUP_OTHER_PRIVATE_NETWORK` when a security group belongs to another private network, and
        `PORT_UNAVAILABLE` when the port's `status` is not `available`. `meta` names the resource."
      operationId: launch-instance
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LaunchInstanceRequestBody"
      responses:
        "202":
          description: The instances and their order were created; no instance exists in the cloud yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LaunchInstanceResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/quote:
    post:
      summary: Quote creating instances
      description:
        "Prices what `launch-instance` would order for the same request, without ordering or creating anything; nothing is
        reserved or recorded. Billing evaluates applicable account discounts and tax as for automatic checkout.
        `total` is what automatic checkout would collect before credit grants and balance; give it as
        `checkout.expected_amount` to be refused rather than charged a different amount. `estimated_usage_amount`
        projects postpaid usage over one month of 730 hours and is not collected at checkout. A request the purchase
        would refuse is refused the same way. Prices may change, so quote again before final confirmation."
      operationId: create-instance-quote
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LaunchInstanceQuoteRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}:
    get:
      summary: Retrieve an instance
      description:
        Returns the stored state of the instance; it does not query the cloud. Use it to poll creation progress.
      operationId: get-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename an instance
      description:
        Changes the display name only. The hostname inside the instance is unchanged; it equals the instance
        id.
      operationId: rename-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameInstanceRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Release an instance
      description:
        "The system disk is deleted with the instance, and **snapshots created from the system disk are
        deleted with it**. Data disks are detached and kept, and their snapshots and backups are unaffected. The
        primary network interface is released with the instance.


        An instance being captured as a private image cannot be released. Wait for the capture to finish, or delete
        that image first.


        Refused with `COMPUTE_RESOURCE_SUBSCRIBED` while a subscription pays for the instance, or for a disk that
        is deleted with it, including a pay-as-you-go subscription. `meta.resource_id` names that resource. The instance
        is released by canceling the subscriptions listed in `meta.subscription_ids` through Billing, the same set as
        its `release_subscription_ids`."
      operationId: delete-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "409":
          $ref: "#/components/responses/Conflict"
        "202":
          description: Release was accepted. The instance shows the `delete` operation until it is released.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/commands:
    post:
      summary: Run a command on an instance
      description:
        "Runs one command over SSH and returns what it wrote. **This is not a shell.** There is no terminal,
        no standard input and no way to answer a prompt: a command that waits for input produces nothing and is
        killed at the timeout. Chain steps with `&&`, or write a script and run that.


        **A command that fails is still a 200.** Its failure is its own result, not this endpoint's: read `exit_code`
        for what it exited with and `stderr` for what it said, and decide from those. A `grep` that matches nothing
        exits 1 and is a perfectly successful call.


        The status therefore answers a different question — did the command run at all. A non-2xx means it did not,
        and nothing about the instance was changed by this request: it was suspended, not running or had no floating
        IP; or it refused the platform key; or the connection could not be opened. Retrying is meaningful in those
        cases and is not for a non-zero `exit_code`.


        Three conditions must hold; the instance is unreachable otherwise:


        - it is `active`

        - a floating IP is bound to it, since this endpoint connects over the public internet

        - its security group permits inbound TCP 22


        Authentication uses the key the platform attaches to every instance at creation, so nothing has to be set
        up first. The instance must have applied that key at first boot, which images without a full cloud-init
        do not do.


        **Do not pass secrets in the command.** Read them from a file on the instance instead: neither the command
        nor its output is a confidential channel.


        Each stream is capped at 1 MiB. Beyond that the rest is discarded and `truncated` is true."
      operationId: run-instance-command
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunCommandRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommandResultResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/console:
    post:
      summary: Open a remote console
      description:
        "Operates the instance directly from a browser and does not require the instance to be reachable
        over the network, which makes it usable when a network misconfiguration prevents login.


        The returned address is single-use and expires within minutes. Request a new one before each use."
      operationId: open-instance-console
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/console-output:
    get:
      summary: Read the console output
      description:
        "The raw text produced by the instance during boot and by the kernel. Consult it first when login
        fails or the remote console shows no output: it reveals where boot stopped, whether the system disk was
        mounted, and whether initialisation reported errors.


        Instances in an error state, and instances suspended by the platform, can be read as well."
      operationId: get-instance-console-output
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: lines
          in: query
          description: Number of trailing lines to return; 0 returns the entire output
          explode: false
          schema:
            description: Number of trailing lines to return; 0 returns the entire output
            type: integer
            format: int64
            default: 200
            minimum: 0
            maximum: 10000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleOutputResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/labels:
    put:
      summary: Replace an instance's labels
      description:
        "Records what this instance is for, as key-value pairs. Nothing on the platform reads them.


        **The whole set is replaced**: whatever is absent from the request is removed.


        Do not put credentials here. Labels are visible to platform operators."
      operationId: set-instance-labels
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetInstanceLabelsRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/notes:
    put:
      summary: Replace an instance's note
      description:
        "A free-text note about this instance — what it runs, and what to be careful about before touching
        it.


        **The whole note is replaced**; send an empty string to clear it.


        Do not put credentials here. The note is visible to platform operators."
      operationId: set-instance-notes
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetInstanceNotesRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/password:
    post:
      summary: Reset the login password
      description:
        "Changes the root password without a reboot. The instance must be running.


        **Not every image supports this.** Images whose `supports_password_reset` is false cannot, and a new password
        can then only be set by rebuilding the instance, which erases all data on the system disk.


        The request is also rejected when the image is marked as supported but the corresponding component has been
        removed or stopped inside the instance."
      operationId: reset-instance-password
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPasswordResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/reboot:
    post:
      summary: Reboot an instance
      description:
        "A reboot defaults to soft, in which the operating system shuts down normally before starting
        again.


        A soft reboot has no effect once the system is unresponsive. Set `force` to reboot forcibly: a forced reboot
        does not wait for the operating system to shut down, so **unwritten data is lost**.


        A forced reboot is accepted while a soft reboot is in progress, which is the way out of a soft reboot the
        instance never carried out. Any other request for an operation, including a second soft reboot, is refused
        with `COMPUTE_RESOURCE_BUSY` while the reboot is in progress.


        An instance suspended by the platform must be unsuspended first.


        The instance shows the `reboot` operation until the reboot has finished."
      operationId: reboot-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RebootInstanceRequestBody"
      responses:
        "202":
          description: The reboot was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/rebuild:
    post:
      summary: Rebuild an instance
      description:
        "**All data on the system disk is erased and cannot be recovered.** Attached data disks are unaffected.


        The image this instance already runs is accepted even after the platform has withdrawn it, since rebuilding
        is the only way back into an instance broken from the inside. Any *other* withdrawn image is rejected with
        `IMAGE_RETIRED`, which is a change of image and therefore a new order.


        The instance shows the `rebuild` operation until the rebuild has finished."
      operationId: rebuild-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RebuildInstanceRequestBody"
      responses:
        "202":
          description: The rebuild was accepted. The instance shows the `rebuild` operation until it has finished.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RebuildInstanceResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/resize:
    post:
      summary: Resize an instance
      description:
        "Creates a Billing change order, including for metered pricing, and returns the instance with the order.
        The instance keeps its billing mode and period, priced with the target type's matching option; a target type
        without that option is refused with 409 `BILLING_OPTION_UNAVAILABLE`. Do not submit a new purchase after
        paying. After an uncertain response, look the order up before submitting again.


        The instance shows the `resize` operation until the resize is applied or its order is canceled, including
        while the order awaits checkout, so other operations and a second resize are refused with
        `COMPUTE_RESOURCE_BUSY` meanwhile. It keeps its current type until the resize is applied; the new type takes
        effect, and is billed from then on, when `instance_type_id` shows it. If the order is not accepted or the resize fails, the instance keeps its current
        type and the order shows the outcome. A completed resize is final and cannot be reverted; to return to the
        previous type, submit another resize."
      operationId: resize-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeInstanceRequestBody"
      responses:
        "202":
          description: The instance and the order for the resize; the new type is not yet in effect.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResizeInstanceResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/resize/quote:
    parameters:
      - name: instanceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Quote resizing an instance
      description:
        "Prices the change `resize-instance` would order, as of now, without ordering or changing anything. A change that
        raises the price has the charge for the rest of the paid period as `total`; one that lowers it has a zero
        `total` and the refund as `refundable_amount`. Give the returned `proration_date` with the change, and for
        automatic checkout `total` as `checkout.expected_amount`. A request the change would refuse is refused the
        same way. Prices may change, so quote again before final confirmation."
      operationId: create-instance-resize-quote
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeInstanceQuoteRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/start:
    post:
      summary: Start an instance
      description:
        "Outstanding restrictions can prevent starting. The instance shows the `start` operation until it is
        running or the start has failed."
      operationId: start-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: The start was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerRequest"
  /api/v1/instances/{instanceId}/stop:
    post:
      summary: Stop an instance
      description:
        "A stopped instance keeps its disks, network attachments and sellable quota. The instance shows the
        `stop` operation until it is stopped or the stop has failed."
      operationId: stop-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: The stop was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerRequest"
  /api/v1/instances/{instanceId}/disks:
    get:
      summary: List the disks attached to an instance
      operationId: list-instance-disks
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskAttachmentList"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Attach a disk
      description:
        "The disk must be in the same region and availability zone as the instance. Returns the disk; the
        instance shows the `attach_disk` operation and the disk the `attach` operation until the attachment is
        confirmed. Partition the disk and mount the file system inside the instance once it is attached."
      operationId: attach-disk
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachDiskRequestBody"
      responses:
        "202":
          description: The attachment was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/disks/{diskId}:
    delete:
      summary: Detach a disk
      description:
        "Unmount the device inside the instance before calling this endpoint. Forcibly detaching a file
        system that is being written to corrupts data.


        The disk the instance boots from cannot be detached, whether it is the system disk bought with the instance
        or a disk supplied as the existing boot_disk at launch. Such a request is refused with
        `INSTANCE_BOOT_DISK_LOCKED` and changes nothing; releasing the instance is what frees that disk.


        Returns the disk; the instance shows the `detach_disk` operation and the disk the `detach` operation until
        the disk is detached."
      operationId: detach-disk
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: The detachment was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/floating-ips:
    post:
      summary: Bind a floating IP to an instance
      description:
        Changes the public IP binding on the instance's primary network interface. The instance shows the
        `bind_floating_ip` operation until the binding is confirmed.
      operationId: attach-instance-floating-ip
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachFloatingIPRequestBody"
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "202":
          description: The binding was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/instances/{instanceId}/floating-ips/{floatingIpId}:
    delete:
      summary: Unbind the floating IP of an instance
      operationId: detach-instance-floating-ip
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "202":
          description: The unbinding was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        "409":
          $ref: "#/components/responses/Conflict"
      description:
        Changes the public IP binding on the instance's primary network interface. The instance shows the
        `unbind_floating_ip` operation until the change is confirmed.
  /api/v1/instances/{instanceId}/ports:
    get:
      summary: List the network interfaces of an instance
      operationId: list-instance-ports
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortAttachmentList"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Attach a network interface
      description:
        Returns the network interface; the instance shows the `attach_port` operation and the interface the
        `attach` operation until the attachment is confirmed.
      operationId: attach-port
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachPortRequestBody"
      responses:
        "202":
          description: The attachment was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/ports/{portId}:
    delete:
      summary: Detach a network interface
      description:
        "The primary network interface cannot be detached; the instance would lose its network address.


        Returns the network interface; the instance shows the `detach_port` operation and the interface the `detach`
        operation until it is detached."
      operationId: detach-port
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: portId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: The detachment was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/operation-logs:
    get:
      summary: List the operation log of the project
      description:
        "Records every write operation in the project: who performed it, when, on what, and whether it
        succeeded. Read operations are not recorded.


        **Operations performed by the platform are included, but the individual operator is not disclosed** and
        `by_platform` is true. Suspension for non-payment and bans for abuse are examples: the time at which an
        instance was stopped by the platform is needed, whereas the operator is internal information.


        Fields such as passwords are replaced with a placeholder as the record is written and never appear in `payload`."
      operationId: list-operation-logs
      tags:
        - OperationLog
      parameters:
        - name: action
          in: query
          description: Return a single kind of operation; the value matches the operation id of the endpoint
          explode: false
          schema:
            description: Return a single kind of operation; the value matches the operation id of the endpoint
            type: string
            maxLength: 64
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationLogListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/ports:
    get:
      summary: List network interfaces
      operationId: list-ports
      tags:
        - Port
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a network interface
      description:
        The new network interface is not attached to any instance. Primary network interfaces are not
        created here; they are created with the instance.
      operationId: create-port
      tags:
        - Port
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePortRequestBody"
      responses:
        "202":
          description: The network interface was accepted and is being created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/ports/{portId}:
    delete:
      summary: Delete a network interface
      description:
        The primary network interface cannot be deleted on its own, as it is released with the instance.
        A network interface still attached to an instance cannot be deleted either.
      operationId: delete-port
      tags:
        - Port
      parameters:
        - name: portId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Deletion was accepted. The network interface shows the `delete` operation until it is deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks:
    get:
      summary: List private networks
      operationId: list-private-networks
      tags:
        - PrivateNetwork
      parameters:
        - name: region_id
          in: query
          required: false
          description: Returns every region when omitted
          explode: false
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a private network
      description:
        Creates a network, a router and a default security group in one call. The default security group
        denies all inbound traffic and permits all outbound traffic.
      operationId: create-private-network
      tags:
        - PrivateNetwork
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePrivateNetworkRequestBody"
      responses:
        "202":
          description: The private network was accepted and is being created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}:
    get:
      summary: Retrieve a private network
      operationId: get-private-network
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a private network
      description: Changes the display name only. The CIDR, the routes and the internet gateway are immutable.
      operationId: rename-private-network
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenamePrivateNetworkRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Release a private network
      description:
        Release is rejected while instances or network interfaces remain in the network. IPv6, the router
        and the security groups are released with it.
      operationId: delete-private-network
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Release was accepted. The private network shows the `delete` operation until it is released.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkResource"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/ipv6:
    get:
      summary: Retrieve the IPv6 configuration of a private network
      operationId: get-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IPv6ResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Enable IPv6 on a private network
      description:
        "Allocates an IPv6 prefix to the private network. Addresses are assigned to instances by the
        network itself, can be neither requested nor released individually, and consume no public IPv4 address.


        If the private network is not yet connected to the internet, connectivity is established as part of this
        call."
      operationId: enable-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Enabling IPv6 was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IPv6ResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Disable IPv6 on a private network
      description: A released prefix is not re-allocated immediately.
      operationId: disable-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Disabling IPv6 was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IPv6ResponseBody"
        "409":
          $ref: "#/components/responses/Conflict"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/routes:
    get:
      summary: List static routes
      operationId: list-routes
      tags:
        - Route
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a static route
      description:
        "Three forms that would sever connectivity are rejected: a destination of `0.0.0.0/0`, which
        overrides the default route and takes every floating IP offline immediately; a destination equal to the
        CIDR of a subnet, which overrides its directly connected route; and a next hop equal to the gateway of a
        subnet, which points back at the router itself."
      operationId: create-route
      tags:
        - Route
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRouteRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/routes/{routeId}:
    delete:
      summary: Delete a static route
      operationId: delete-route
      tags:
        - Route
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: routeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/subnets:
    get:
      summary: List subnets
      description:
        IPv6 subnets are included, with `ip_version` 6. They are created when IPv6 is enabled and cannot
        be deleted individually.
      operationId: list-subnets
      tags:
        - Subnet
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
[...]
