openapi: 3.2.1
info:
  title: Leaflow Billing Account API
  version: 1.0.0
  description: |-
    The caller's billing accounts, purchases and payments.
    Query accepted financial operations by their original IDs after an unknown outcome.
    Public prices and estimates are served under `/catalog/v1/` and require no credentials.
security:
  - accessTokenAuth: []
servers:
  - url: https://billing.leaflow.cloud
    description: Billing account management

tags:
  - name: accounts
    description: Billing accounts, balances, and which projects they pay for.
  - name: payments
    description: Adding funds, payment methods, and settling what is owed.
  - name: billing-history
    description: Invoices, transactions and where each amount went.
  - name: subscriptions
    description: What has been bought and when it renews.
  - name: entitlements
    description: Which capabilities are currently available.
  - name: allowances
    description: |-
      Included and promotional usage allowances and their remaining quantities.
paths:
  /account/v1/currencies:
    get:
      summary: List currencies accounts can be opened in
      description: |-
        The currencies a new billing account can be opened in. A retired currency is not listed,
        although accounts already opened in it keep working. Results are paginated.
      operationId: list-currencies
      tags:
        - accounts
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts:
    get:
      summary: List billing accounts
      operationId: list-billing-accounts
      tags:
        - accounts
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccountList"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create billing account
      description: |-
        The currency is chosen here and cannot be changed afterwards. Everything charged to the
        account — prices, orders, invoices, balance — is denominated in it.

        One person may hold several accounts, for example a personal one and one for a team.
      operationId: create-billing-account
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAccountCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: Get billing account
      operationId: get-billing-account
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
    patch:
      summary: Update billing account
      description: |-
        The legal name, address and tax identifier are copied onto each invoice when it is
        issued. Changing them here affects invoices issued afterwards, not those already sent.

        The currency cannot be changed.
      operationId: update-billing-account
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAccountUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}/balance:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: Get account balance
      operationId: get-account-balance
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalance"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}/metered-usage:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: Get account metered usage
      description: |-
        Whether the account has anything billed by usage, and what that usage has cost over the last
        seven days. Usage is paid from the balance, so this tells how much of the balance it is likely
        to need: the balance divided by `average_daily_amount` is roughly how many days it lasts.
      operationId: get-account-metered-usage
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeteredUsage"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}/payment-options:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: List payment options
      description: |-
        Lists the payment gateways and methods that currently accept payment in this account's currency, the
        preferred gateway first. Top-ups and invoice payments must name a gateway and method listed here;
        others are refused. An empty result means no online payment is available for this account.
        Results are paginated.
      operationId: list-payment-options
      tags:
        - payments
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOptionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/projects:
    get:
      summary: List project assignments
      operationId: list-project-assignments
      tags:
        - accounts
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: billing_account_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectAssignmentList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/projects/{projectId}/billing-account:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: Get project assignment
      description:
        Returns 404 when the project has no billing account. No resources can be
        created until one is linked.
      operationId: get-project-assignment
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectAssignment"
        default:
          $ref: "#/components/responses/Error"
    put:
      summary: Set project assignment
      description: |-
        Charges already incurred remain with the billing account that was linked when they
        occurred, and are still invoiced to it. Metered resources are settled up to the moment of
        the change. Amounts owed by the previous billing account remain owed by it and do not
        prevent the change.

        Orders keep the billing account they were placed with and are fulfilled as placed. Periods
        already paid for are unaffected; renewals are charged to the new billing account.

        The request is refused once the project no longer accepts purchases because it is being
        deleted, and while a subscription or an order in progress in the project uses a currency
        other than that of the new billing account.
      operationId: set-project-assignment
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetProjectAssignmentRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectAssignment"
        default:
          $ref: "#/components/responses/Error"
    delete:
      summary: Unlink project billing account
      description: |-
        Permitted only when nothing in the project is still running or in progress: no metered
        resources, no subscriptions that have not ended, and no orders in progress, including
        changes scheduled for the end of a period. Orders are not modified by this request; wait
        for them to complete, and have the service that scheduled a change call it off.

        Charges already incurred remain with the billing account and are invoiced to it as usual.
        Amounts the billing account owes do not prevent unlinking.

        After this the project cannot make purchases until a billing account is linked again.
      operationId: unlink-project-billing-account
      tags:
        - accounts
      responses:
        "204":
          description: Unlinked
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups:
    get:
      summary: List top ups
      description: |-
        Lists only the authenticated user's top-ups. Includes pending, failed and canceled attempts; no invoice is
        created for a top-up. Items carry no `action`; read a pending top-up with get-top-up to continue its payment.
      operationId: list-top-ups
      tags:
        - payments
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUpList"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create top up
      description: |-
        Creates a top-up for an account owned by the authenticated user and returns its payment information.
        The balance increases only after the payment gateway confirms receipt. A top-up has no invoice.
        Keep the supplied ID to query the original attempt after a lost response; duplicate creation conflicts.
      operationId: create-top-up
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TopUpCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups/{topUpId}:
    parameters:
      - name: topUpId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get top up
      description: |-
        Reads a top-up owned by the authenticated user, including its outcome and the part of it not yet spent.
        It is not an invoice.

        While the top-up is pending, the answer includes the customer's next step as the payment gateway
        currently reports it, so that a payment interrupted by a closed page can be continued. When the gateway
        cannot be reached, the top-up is returned without `action`; read it again later.
      operationId: get-top-up
      tags:
        - payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups/{topUpId}/cancel:
    parameters:
      - name: topUpId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Cancel top up
      description: |-
        Withdraws a pending top-up owned by the authenticated user at the payment gateway. It becomes
        `canceled` with `cancellation_reason` `requested_by_customer`, and no money is collected for it. Canceling a
        top-up that is already canceled returns it unchanged.

        If the gateway has already collected the payment, nothing is withdrawn and the top-up is returned
        as `succeeded` with the balance increased. Check `status` in the answer rather than assuming the
        cancellation took effect.

        Fails with 409 and BILLING_TOPUP_NOT_CANCELABLE when the top-up has already succeeded or failed,
        with `status` naming that outcome, and while the gateway is processing the payment and can no
        longer withdraw it, with `status` set to `pending`; read the top-up again later in that case.
      operationId: cancel-top-up
      tags:
        - payments
      responses:
        "200":
          description: The top-up after the request, canceled or succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        "409":
          description: The top-up already has another outcome or can no longer be withdrawn.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods:
    get:
      summary: List payment methods
      operationId: list-payment-methods
      tags:
        - payments
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/setup:
    post:
      summary: Create payment method setup
      description: |-
        Returns what is needed to hand the browser over to the payment gateway's own card
        form. Nothing is charged, and the method appears in the list once the gateway
        confirms it.

        Card numbers are never sent to or stored by this service.
      operationId: create-payment-method-setup
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodSetup"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodSetupResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/{paymentMethodId}/default:
    parameters:
      - $ref: "#/components/parameters/PaymentMethodId"
    put:
      summary: Set default payment method
      operationId: set-default-payment-method
      tags:
        - payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/{paymentMethodId}:
    parameters:
      - $ref: "#/components/parameters/PaymentMethodId"
    delete:
      summary: Delete payment method
      description: |-
        Refused when it is the only method on an account that has resources billed by the hour,
        as there would be nothing left to charge when the balance runs out.
      operationId: delete-payment-method
      tags:
        - payments
      responses:
        "204":
          description: Removed
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}/pay:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    post:
      summary: Pay an invoice
      description: |-
        Applies eligible credit grants and available balance as requested, then collects the remainder
        through the selected payment gateway and method. With no gateway selection, insufficient
        account funds fail without starting an online payment. Card and non-card methods use this same
        operation. Promotion codes are confirmed by checkout, before collecting payment.

        Returns a payment action when customer interaction is required. requires_action and processing
        do not mean paid; the invoice is marked paid after payment is confirmed. An unresolved payment
        attempt is reused, and retries do not apply credit grants or balance twice.

        Calling this on an invoice that is already paid returns the existing payment result without
        another charge. A draft order invoice must first be confirmed through checkout. It and a void
        invoice are refused with `BILLING_INVOICE_NOT_PAYABLE`; the invoice of an order that has failed or was
        canceled, with `BILLING_ORDER_FAILED` or `BILLING_ORDER_CANCELED`; and that of an order whose
        payment deadline has passed, with `BILLING_ORDER_EXPIRED`.
      operationId: pay-invoice
      tags:
        - payments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayInvoiceRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}/payment-preview:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    get:
      summary: Preview invoice payment
      description: |-
        What paying this invoice now would take from credit grants, from the balance and, for the rest,
        from a payment gateway. It is computed as paying computes it, so paying with the same options
        straight afterwards takes exactly these amounts unless the account's funds change in between.
        Nothing is charged, reserved or created.

        Refused with the same errors as paying, except that insufficient funds are not an error here:
        they show as a `gateway_amount` above zero.
      operationId: preview-invoice-payment
      tags:
        - payments
      parameters:
        - name: use_balance
          in: query
          required: false
          description: As in paying. True when omitted.
          schema:
            type: boolean
            default: true
        - name: use_credits
          in: query
          required: false
          description: As in paying. True when omitted.
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentPreview"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payments:
    post:
      summary: Pay together
      description: |-
        Pays outstanding invoices, including the invoices of the listed orders, from the account's
        eligible credit grants and then its balance. No payment gateway is used; an invoice to be
        paid online is paid on its own.

        Either every invoice is paid or none is. When the credit grants and balance cannot cover
        them all, the request fails with `BILLING_INSUFFICIENT_FUNDS` and nothing is charged.
        Invoices that are already paid are not charged again. An invoice with an online payment
        still in progress is refused with `BILLING_PAYMENT_PENDING`, a draft order invoice or void invoice with
        `BILLING_INVOICE_NOT_PAYABLE`, an order that has failed or was canceled with
        `BILLING_ORDER_FAILED` or `BILLING_ORDER_CANCELED`, and an order whose payment deadline has
        passed with `BILLING_ORDER_EXPIRED`.
      operationId: pay-together
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayTogetherRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payments/preview:
    post:
      summary: Preview paying together
      description: |-
        What paying these invoices together now would take from credit grants and from the balance,
        invoice by invoice in the order they would be paid. It is computed as paying together computes
        it. Nothing is charged, reserved or created.

        Refused with the same errors as paying together, except that insufficient funds are not an
        error here: they show as a `gateway_amount` above zero, and paying together would then be
        refused with `BILLING_INSUFFICIENT_FUNDS`.
      operationId: preview-pay-together
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayTogetherRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentPreview"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices:
    get:
      summary: List invoices
      operationId: list-invoices
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InvoiceStatus"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    get:
      summary: Get invoice
      operationId: get-invoice
      tags:
        - billing-history
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}/items:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    get:
      summary: List invoice items
      operationId: list-invoice-items
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceItemList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/transactions:
    get:
      summary: List transactions
      operationId: list-transactions
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/discounts:
    get:
      summary: List the coupons held on this account
      description: |-
        Coupons placed on the account directly, which apply at checkout without a code being
        entered. A coupon reached through a code is not listed here.
      operationId: list-account-discounts
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/credit-grants:
    get:
      summary: List credit grants
      description: |-
        Each grant shows what remains and what it may be used for. Credit is spent before the balance
        and cannot be withdrawn.
      operationId: list-credit-grants
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - depleted
              - expired
              - voided
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditGrantList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/refunds:
    get:
      summary: List refunds
      description: Newest first.
      operationId: list-refunds
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: invoice_id
          in: query
          required: false
          description: Only the refunds of this invoice.
          schema:
            type: string
            format: uuid
        - name: order_id
          in: query
          required: false
          description: |-
            Only the refunds that belong to this order: those of its invoice, such as the refund of a
            purchase that could not be delivered, and those it caused on an earlier invoice, such as
            the difference returned after a downgrade.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/usage-charges:
    get:
      summary: List usage charges
      description: |-
        Each charge is added to the month's usage invoice as it is priced, summed into one line per
        subscription, project, resource, meter and rate. Filter by `invoice_item_id` to see the
        charges behind a line. Charges still waiting to be priced are included too.
      operationId: list-usage-charges
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: product_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProductID"
        - name: resource_id
          in: query
          required: false
          schema:
            type: string
        - name: invoice_item_id
          in: query
          required: false
          description: Only the charges summed into this usage invoice line.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageChargeList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions:
    get:
      summary: List subscriptions
      operationId: list-subscriptions
      tags:
        - subscriptions
      parameters:
        - name: expiring_before
          in: query
          schema: { type: string, format: date-time }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    get:
      summary: Get subscription
      operationId: get-subscription
      tags: [subscriptions]
      responses:
        "200":
          description: Purchase and renewal agreement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/quotes:
    post:
      summary: Quote order checkout, renewals or a cancellation
      description: |-
        Computes a price preview without creating a resource or saving a quote. Nothing is charged,
        reserved or applied to an order, and no discount redemption is consumed. The response has no
        quote ID and does not guarantee a price or reserve a promotion code.

        With order_id, uses that order's recorded purchase terms and billing account. An optional
        promotion_code previews one code; without it, Billing selects an applicable account discount.
        An invalid or inapplicable explicit code is refused rather than silently replaced. Give total
        as expected_amount when confirming checkout; eligibility and availability are checked again.
        An order already checked out returns its confirmed amounts, without reapplying its discount;
        a different code is refused with BILLING_ORDER_CHECKOUT_CONFLICT.

        A renewal is priced exactly as renewing would charge it: at the agreed amount or the price
        named, with the discounts the account holds, and with tax. A renewal list does not accept a
        promotion code because its entries create separate orders. To use a new code on a renewal,
        first create a renewal order and quote its checkout by order_id. Prices and discount eligibility
        may change between preview and confirmation.

        A cancellation is quoted as creating it would compute the refund, as of now and under the refund
        terms agreed when each subscription was bought. It is quoted on its own: combined with another target
        the request is refused with HTTP 400 `BILLING_PURCHASE_INVALID` and `meta.field`
        `cancellation`. It is refused with the same errors as creating the cancellation, except that the
        amount is not checked. Give the returned `cancellation.proration_date` and
        `cancellation.refundable_amount` when creating it.

        Orders must belong to one of your billing accounts. Every subscription in a renewal or cancellation
        quote must be paid for by the same one of your billing accounts; otherwise the
        request is refused with HTTP 400 `BILLING_PURCHASE_INVALID`. Returns 404 when a subscription does
        not exist, and 403 `BILLING_ACCOUNT_FORBIDDEN` when it is paid for by an account you do not own.
      operationId: create-quote
      tags: [billing-history]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteRequest"
            examples:
              order_checkout:
                summary: Preview one promotion code without applying it to the order.
                value:
                  order_id: 019c0000-0000-7000-8000-000000000001
                  promotion_code: WELCOME
              account_discount:
                summary: Preview the account discount selected for this order.
                value:
                  order_id: 019c0000-0000-7000-8000-000000000001
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/cancellations:
    post:
      summary: Cancel subscriptions
      description: |-
        Ends a set of subscriptions of one service together, at one time. Deleting a resource that a
        subscription pays for is an `immediate` cancellation of every subscription released with it,
        such as a server with the disks deleted along with it, or an address with its bandwidth.

        The service that provides the resources releases them: at once for `immediate`, or at
        `scheduled_at`, the end of the paid term, for `period_end`. When release is confirmed, the
        unused value is returned the way it was paid, under the refund terms agreed when each
        subscription was bought. For `immediate` the refund is computed as of `proration_date`, so the
        amount confirmed here is the amount returned: prepaid service used while the resources are
        being released is not deducted from it. Usage of a postpaid subscription is charged until its
        resources are released, as usual.

        `mode` must be allowed for every subscription. Postpaid and one-time subscriptions end only
        `immediate`. A prepaid subscription ends `period_end` while its paid term lasts, and
        `immediate` unless its termination terms allow only the end of the paid term and that term has
        not ended yet. For `period_end` the paid terms of all the subscriptions must end at the same
        time.

        Refused with:
        - 400 `BILLING_CANCELLATION_INVALID` when `subscription_ids` or `proration_date` is not
          acceptable (`meta.field`), or the subscriptions do not all belong to one service, project,
          account and currency;
        - 409 `BILLING_CANCELLATION_CONFLICT` when a subscription has not started or has ended;
        - 422 `BILLING_CANCELLATION_MODE_FIXED` when `mode` is not allowed for a subscription, and
          `BILLING_CANCELLATION_TERMS_UNSET` when a prepaid subscription has no termination terms;
          both carry `meta.subscription_id`;
        - 409 `BILLING_CANCELLATION_SCHEDULES_DIFFER` when, for `period_end`, the paid terms end at
          different times;
        - 409 `BILLING_SUBSCRIPTION_OPERATION_PENDING` when a subscription is already being canceled
          (`meta.cancellation_id`) or reclaimed (`meta.action_id`);
        - 409 `BILLING_ORDER_PAYMENT_IN_FLIGHT` while an online payment for a renewal of one of them
          is in progress;
        - 409 `BILLING_CANCELLATION_REFUND_CHANGED` when the refund is no longer
          `expected_refundable_amount`; quote again.

        Sending the same request again, for the same subscriptions, mode and amount while that
        cancellation is still open, returns it with 200 rather than creating another. Renewal orders
        still waiting for payment are canceled along with it, and automatic renewal is turned off for
        every subscription in the set, for `period_end` as well as `immediate`.
      operationId: create-cancellation
      tags: [subscriptions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancellationCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cancellation"
        "200":
          description: The same cancellation, already open
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cancellation"
        default:
          $ref: "#/components/responses/Error"
    get:
      summary: List cancellations
      description: Newest first. Filter by `subscription_id` and `status=open` to find the cancellation now under way for a subscription.
      operationId: list-cancellations
      tags: [subscriptions]
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: subscription_id
          in: query
          required: false
          description: Only cancellations that include this subscription.
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Only cancellations in this status. `open` means requested, scheduled or releasing.
          schema:
            type: string
            enum:
              [
                open,
                requested,
                scheduled,
                releasing,
                completed,
                canceled,
                failed,
              ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancellationList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/cancellations/{cancellationId}:
    parameters:
      - $ref: "#/components/parameters/CancellationId"
    get:
      summary: Get a cancellation
      operationId: get-cancellation
      tags: [subscriptions]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cancellation"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/cancellations/{cancellationId}/withdraw:
    parameters:
      - $ref: "#/components/parameters/CancellationId"
    post:
      summary: Withdraw a cancellation
      description: |-
        Withdraws the whole cancellation while none of its resources has begun to be released; the
        subscriptions continue as before, except that automatic renewal, turned off when the
        cancellation was created, stays off until it is turned on again. After that it is refused with
        409 `BILLING_CANCELLATION_CONFLICT`. Withdrawing one that is already withdrawn returns it
        unchanged.
      operationId: withdraw-cancellation
      tags: [subscriptions]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cancellation"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/renewal-prices:
    parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List the terms this item can be renewed for
      description: Lists the current renewal agreement and available intervals. The current option preserves recurring_amount; other options use current prices. Amounts cover the whole subscription quantity and exclude tax.
      operationId: list-renewal-prices
      tags:
        - subscriptions
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewalPriceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/renew:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    post:
      summary: Renew subscription
      description: |-
        Purchases prepaid periods from paid_until using the agreed recurring amount, and pays for them at
        once. A changed interval selects a current price and freezes new terms on the order, applied
        only after fulfillment. Existing paid periods keep their value.

        Without `payment_method_id`, the renewal is paid from credit grants and the balance as
        `use_credits` and `use_balance` allow; when they cannot pay it all, the renewal is refused with
        `BILLING_INSUFFICIENT_FUNDS` and no order is left. To pay another way, create a renewal order
        and pay its invoice instead.

        Save order_id before submitting and query the order after an unknown outcome; duplicate
        creation conflicts.
      operationId: renew-subscription
      tags:
        - subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewRequest"
      responses:
        "409":
          description: The order already exists or the subscription has a conflicting renewal, change or cancellation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/renewal-orders:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    post:
      summary: Create renewal order
      description: |-
        Places a renewal order with a draft invoice, without applying a new discount or charging anything.
        Quote and confirm its checkout before collecting payment to renew. Existing subscription
        discount commitments are retained. The periods and price are chosen as for renewing. The order
        can be paid until the current paid period ends, and never after the end of the first period it renews; unpaid by
        then, it is canceled. While auto-renew is on, the renewal due at the end of the period pays
        this order instead of placing another, confirming checkout with an applicable account discount
        first if it has not already been confirmed.

        Save `order_id` before submitting and read the order after an unknown outcome; creating it a
        second time conflicts.
      operationId: create-renewal-order
      tags:
        - subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewalOrderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "409":
          description: The order already exists or the subscription has a conflicting renewal, change or cancellation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/auto-renew:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    put:
      summary: Set auto renew
      description: |-
        Controls automatic prepaid renewal. Disabling it does not shorten paid_until and still permits
        manual renewal. Postpaid subscriptions do not renew and keep this false.

        While the subscription has an open cancellation, turning it on or off is refused with 409
        `BILLING_SUBSCRIPTION_OPERATION_PENDING` and `meta.cancellation_id`: creating the cancellation
        turned it off, and withdrawing the cancellation does not turn it back on.
      operationId: set-auto-renew
      tags:
        - subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoRenewSet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/allowances:
    get:
      summary: List allowances
      description: |-
        Lists remaining usage quantities, such as bytes, seconds or tokens. Applicable allowances are
        consumed before usage is charged. Lower priority values are consumed first, followed by earlier
        expiry and earlier issuance.

        Unused quantity expires without a refund or carry-over. Promotional allowances apply to usage paid
        by their holding account. Included allowances apply only to the associated subscription, including
        after its project moves to another billing account.
      operationId: list-allowances
      tags:
        - allowances
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: meter_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by the meter UUID.
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - depleted
              - expired
              - voided
        - name: product_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProductID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowanceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders:
    get:
      summary: List orders
      description: Lists acceptance status and associated invoice amounts. pending_checkout awaits confirmation; pending has confirmed checkout and may be unpaid or paid. active means accepted, not delivered. pending_checkout and pending orders can expire at expires_at.
      operationId: list-orders
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrderStatus"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      summary: Get order
      operationId: get-order
      tags:
        - billing-history
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}/checkout:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      summary: Confirm order checkout
      description: |-
        Confirms the purchase's final amount and discount. Supply the same promotion_code used for the
        preview, or omit it to select an applicable account discount. At most one new coupon is applied
        to an order; existing subscription discount commitments are not stacked with a new coupon on
        the same line. Promotion codes are evaluated against the order, not client-supplied line amounts.

        Rechecks eligibility and redemption availability. A different total fails with
        BILLING_AMOUNT_CHANGED. An invalid or inapplicable code fails rather than collecting full price.
        A failed confirmation leaves the invoice draft and reserves no discount redemption.

        A successful confirmation records the discount, including any recurring discount terms,
        reserves its redemption, moves pending_checkout to pending and finalizes the invoice when one
        is required. The reservation counts toward the code's limits and is consumed when the invoice
        is paid, or at confirmation when nothing is due. Use pay-invoice to collect
        its outstanding amount from account funds or a payment gateway. No payment attempt or checkout
        session is created by this operation. An order whose total is zero completes checkout at
        placement in either mode and does not need this operation; an order with an amount due, even
        when credits would cover it, still does. Checkout alone does not confirm resource delivery.

        Retrying with the same code and expected amount returns the existing order without another
        redemption. Omitting the code on a confirmed checkout retains its recorded discount. Changing
        that code is refused with BILLING_ORDER_CHECKOUT_CONFLICT. Payment retries reuse the confirmed
        terms. Cancellation, expiry or complete fulfillment failure releases the reservation or returns
        the consumed redemption; a refund alone does not.

        The order must belong to one of your billing accounts. A canceled, failed or expired order
        cannot be checked out. A period-end change cannot be checked out before its renewal invoice is
        available. Orders retain their billing account and currency after a project is linked elsewhere;
        discounts from another account cannot be used for them.
      operationId: checkout-order
      tags: [billing-history]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutOrderRequest"
            example:
              promotion_code: WELCOME
              expected_amount: "90.00"
      responses:
        "200":
          description: The order with confirmed checkout terms and its invoice, when applicable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "409":
          description: The order no longer permits checkout or another discount has already been confirmed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}/cancel:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      summary: Cancel order
      description: |-
        Withdraws an order that is not paid in full, and tells the service that placed it, so that
        nothing is delivered. An order with nothing paid becomes `canceled` and its invoice is voided.
        What was already paid toward it, from credit grants or the balance, is returned the way it was
        paid, and the order becomes `failed`; its invoice is voided once everything paid has been
        returned. Either way `cancel_reason` is `requested_by_customer`.
        Canceling an order that is already canceled or failed returns it unchanged.

        Refused with 409 and `BILLING_PAID_ORDER_NOT_CANCELABLE` once the invoice is paid in full,
        `BILLING_ORDER_ALREADY_ACCEPTED` once the order has been accepted,
        `BILLING_ORDER_PAYMENT_IN_FLIGHT` while an online payment for it is in progress, and
        `BILLING_SCHEDULED_CHANGE_NOT_CANCELABLE` for a change that takes effect at the end of the
        period, which only the service that placed it can call off.
      operationId: cancel-order
      tags:
        - billing-history
      responses:
        "200":
          description: The order after the request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "409":
          description: The order is paid in full, accepted, being paid online, or a scheduled change.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}/items:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      summary: List order items
      description: One entry per item bought, with the price charged and the
        period it covers.
      operationId: list-order-items
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderItemList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/entitlements:
    get:
      summary: List entitlements
      description: |-
        Capabilities that come with what has been bought. A capability that is not held simply
        does not appear, so that "this does not exist" and "this has not been bought" cannot be
        confused.

        Derived from live subscriptions rather than stored, so this always agrees with what is
        being paid for. It stops being listed as soon as the subscription providing it ends.
      operationId: list-entitlements
      tags:
        - entitlements
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          description: |-
            Restrict to one project. Anything bought at account level, such as a membership,
            appears regardless.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementList"
        default:
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    accessTokenAuth:
      $ref: ../../../type/v1/security.yaml#/components/securitySchemes/AccessToken
  schemas:
    TerminationPolicy:
      type: string
      enum:
        - immediate
        - period_end
      description:
        Whether a fulfilled purchase may end immediately or only after its paid term. Does not grant a refund.
        When absent, the terms are not configured and termination requires review.
    RefundPolicy:
      type: string
      enum:
        - none
        - prorated
      description: |-
        none refunds nothing. prorated refunds the amount paid for the current period minus the value of
        the time used, never below zero and never more than what remains unrefunded. The time used runs
        from the period start to the effective cancellation time and is valued at the plan's
        shorter-period prices in the same currency, frozen at purchase as the order item's
        refund_monthly_amount and refund_hourly_amount: each full calendar month at the one-month prepaid
        price, the remainder at the postpaid hourly price or, without one, at the one-month price by the
        second. When the plan has no prepaid period shorter than the one bought, the time used is valued
        at the price paid, pro rata by the second. Discounts are not refunded, as they were never paid,
        and setup fees are excluded. The refunded part returns to the payment sources it came from. Tax
        paid is refunded in the same proportion as the amount it was paid on.
    QuoteRequest:
      description: |-
        Quote exactly one target: an existing `order_id`, `renewals` or a `cancellation`. Giving none or
        more than one, or a `promotion_code` with `renewals` or a `cancellation`, fails with HTTP 400
        `BILLING_PURCHASE_INVALID` and `meta.field` naming the offending field. Without a code, an
        applicable account discount is selected. An explicit code is evaluated without reserving or
        consuming a redemption and must be supplied again when confirming checkout through Billing.
      type: object
      properties:
        order_id:
          description: |-
            Preview checkout of this existing order. Its recorded purchase terms supply every line, and a
            confirmed order returns its recorded amounts. A preview does not change the order.
          type: string
          format: uuid
        renewals:
          description: |-
            Preview renewing these subscriptions, each at most once. Each entry represents a separate
            renewal order. To preview a new promotion code, create a renewal order and quote it by order_id.
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/QuoteRenewal"
        cancellation:
          $ref: "#/components/schemas/QuoteCancellation"
        promotion_code:
          type: string
          minLength: 1
          maxLength: 64
      additionalProperties: false

    CheckoutOrderRequest:
      type: object
      properties:
        promotion_code:
          type: string
          minLength: 1
          maxLength: 64
          description: |-
            The code to apply, evaluated again at confirmation. Omit to select an applicable account
            discount. On an already confirmed checkout, omission retains the recorded discount.
        expected_amount:
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
          pattern: '^\d+(\.\d{1,10})?$'
          description: |-
            Quote.total in the order's currency, after discounts and tax but before applying credit
            grants or balance. Omit to skip the amount comparison; an explicit zero is compared.
            A different total fails with BILLING_AMOUNT_CHANGED. Must be a non-negative decimal
            string; empty strings, null, JSON numbers, signs and exponent notation are rejected.
      additionalProperties: false
    QuoteRenewal:
      description: |-
        Price renewing a prepaid subscription. Give `price_id`, or `interval` with
        `interval_count`, to renew for another term at the price currently sold for it. Naming
        the current term, or giving neither, renews at the agreed amount. A term sold at several
        prices that differ in termination policy is refused with 409
        `BILLING_RENEWAL_OPTION_AMBIGUOUS` unless `termination_policy` or `price_id` is given.
      type: object
      properties:
        subscription_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        interval:
          type: string
          enum: [day, month, year]
        interval_count:
          type: integer
          minimum: 1
        termination_policy:
          description:
            With `interval` and `interval_count`, chooses among prices of that term that differ in termination
            policy.
          allOf:
            - $ref: "#/components/schemas/TerminationPolicy"
        periods:
          description: How many consecutive periods to renew for.
          type: integer
          minimum: 1
          maximum: 100
          default: 1
      required:
        - subscription_id
      additionalProperties: false
    QuoteRenewalResult:
      description: |-
        What renewing would charge. Renewing the same subscription for the same term and number
        of periods charges exactly `total`, unless prices or the discounts the account holds
        change in between.
      type: object
      properties:
        index:
          description: Which renewal of the request this answers.
          type: integer
        subscription_id:
          type: string
          format: uuid
        price_id:
          description: The price the renewal is charged under.
          type: string
          format: uuid
        interval:
          type: string
          enum: [day, month, year]
        interval_count:
          type: integer
        periods:
          type: integer
        amount:
          description: |-
            The price of the periods before the discounts the account holds. A discount the
            subscription already carries is reflected here. Contains tax only where the price
            itself includes it.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        discount_amount:
          description: The reduction from a discount the account holds.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          description: Tax on the discounted amount.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_included_amount:
          description: The part of `tax_amount` already contained in `amount`.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: |-
            What renewing would charge: `amount` less `discount_amount`, plus `tax_amount`, less
            `tax_included_amount`.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        - index
        - subscription_id
        - price_id
        - interval
        - interval_count
        - periods
        - amount
        - discount_amount
        - tax_amount
        - tax_included_amount
        - total
    QuotedLine:
      description: |-
        A purchase quote line or one recorded order item. Monetary fields use the account currency.
        Fixed purchase amounts are rounded as checkout rounds them. Usage estimates are not amounts
        collectible at checkout. When priced is false, monetary fields and price_id are absent.
      type: object
      properties:
        tax_amount:
          description: Tax on the discounted amount, including any tax already contained in that amount.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_included_amount:
          description: The part of tax_amount already contained in amount minus discount_amount.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        index:
          description: Zero-based request line index, or the recorded order item's position for an order quote.
          type: integer
          minimum: 0
        order_item_id:
          description: Present for an existing order quote; identifies the recorded item being priced.
          type: string
          format: uuid
        priced:
          description: |-
            Whether a price was found for this line. Read this before anything else.

            A single item with no price no longer fails the whole request. A catalogue
            almost always has something not yet priced, and refusing the request would
            leave no way to render a list in which a few entries are simply not on sale.

            When false, `price_id`, `unit_amount` and `amount` are absent and
            `unpriced_reason` states what is missing.
          type: boolean
        unpriced_reason:
          description: |-
            Why no price was found; `none` while `priced` is true.
          type: string
          enum:
            - none
            - no_price
        price_id:
          description: |-
            The price selected. Returned whenever `priced` is true, including when the
            request identified the item indirectly, so that the choice can be confirmed.
          type: string
          format: uuid
        plan_name:
          type: string
        unit_amount:
          description: Unit price before discounts, with tax included only where the price includes it.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        quantity:
          description: |-
            The quantity priced.
          type: string
        amount:
          description: |-
            Before discounts, including any setup charges. Contains tax only where the price includes it.
            Zero for a priced order item with no immediate charge.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        discount_amount:
          description: Total reduction on this line, including any committed recurring discount.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: amount minus discount_amount plus tax_amount minus tax_included_amount.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
      required:
        - index
        - priced
        - currency
    Quote:
      description: |-
        A computed price preview, without a saved quote or a price guarantee. No funds or discount
        redemptions are reserved. Amounts use currency and exclude payment from credit grants or balance.
      type: object
      properties:
        subtotal:
          description: |-
            Sum before discounts, less tax already included in the discounted line amounts, as on an
            invoice. Null when any line cannot be priced. Zero for a cancellation-only quote.
          oneOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        discount_amount:
          description: Total line discounts. Null when any line cannot be priced; zero for a cancellation-only quote.
          oneOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        tax_amount:
          description: Total tax on the discounted amounts. Null when any line cannot be priced; zero for a cancellation-only quote.
          oneOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        discount:
          description: |-
            The one new discount evaluated for a purchase or order, without applying it. Null when
            none is selected, pricing is incomplete, or the quote targets a renewal list or cancellation.
            A confirmed order instead reports its recorded discount.
          oneOf:
            - $ref: "#/components/schemas/QuotedDiscount"
            - type: "null"
        lines:
          type: array
          items:
            $ref: "#/components/schemas/QuotedLine"
        renewals:
          type: array
          items:
            $ref: "#/components/schemas/QuoteRenewalResult"
        cancellation:
          description: What the cancellation requested would return. Present only when one was requested.
          allOf:
            - $ref: "#/components/schemas/CancellationRefundPreview"
        total:
          description: |-
            subtotal minus discount_amount plus tax_amount, before applying credit grants or balance.
            For a purchase or order with no usage estimates, pass this as expected_amount at checkout.
            A renewal list sums separate orders; use each renewal's total when confirming that order.
            Refunds are not netted off: a cancellation-only quote has zero totals and its refund is in
            cancellation. Usage estimates are projections, not checkout amounts.

            Null when any line could not be priced. What would be owed is not knowable then, and a
            total that silently left the unpriced lines out would read as a smaller bill rather than
            an incomplete one — the per-line `priced` flag is easy to skip, a missing total is not.
          oneOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        currency:
          type: string
      required:
        - subtotal
        - discount_amount
        - tax_amount
        - total
        - discount
        - currency
    QuotedDiscount:
      description: |-
        The discount selected for this calculation. Its presence in a quote does not apply it or
        reserve a redemption. Discount amounts are reported on the quote and its lines.
      type: object
      properties:
        type:
          type: string
          enum: [promotion_code, account_discount]
        name:
          type: string
        promotion_code:
          description: Code text for a promotion_code discount; null for an account_discount.
          type: [string, "null"]
          minLength: 1
          maxLength: 64
      required: [type, name, promotion_code]
      additionalProperties: false
    QuoteCancellation:
      description: |-
        A cancellation to quote: what ending these subscriptions together would return. One mode per
        request; to compare, quote `immediate` and `period_end` separately.
      type: object
      properties:
        subscription_ids:
          description: The subscriptions to end together, all of one service. Every subscription released with a resource must be included.
          type: array
          minItems: 1
          maxItems: 50
          uniqueItems: true
          items: { type: string, format: uuid }
        mode:
          $ref: "#/components/schemas/TerminationPolicy"
      required: [subscription_ids, mode]
      additionalProperties: false
    CancellationRefundPreview:
      description: |-
        What the cancellation would return, subscription by subscription and in total, as of now. Give
        `proration_date` and `refundable_amount` when creating the cancellation.

        - `unused_amount`: before tax, the amount paid for the current periods minus the value of the
          time used, valued as refund policy `prorated` describes, whatever the refund terms say.
        - `refundable_amount`: what is returned the way it was paid, including the tax paid on it;
          `refund_amount` plus `credit_amount`.
        - `refund_amount`: the part returned to the balance or to the payment method.
        - `credit_amount`: the part restored to the credit grants that paid.
        - `tax_amount`: the tax included in `refundable_amount`.
        - `forfeited_amount`: before tax, the part of `unused_amount` the refund terms do not return.

        Postpaid and one-time subscriptions show zero; usage until release is charged as usual.
      type: object
      properties:
        mode:
          $ref: "#/components/schemas/TerminationPolicy"
        scheduled_at:
          description: For `period_end`, when release begins, the end of the paid terms.
          type: string
          format: date-time
        proration_date:
          description: For `immediate`, the second the refund is computed as of. Give it when creating the cancellation.
          type: string
          format: date-time
        currency: { type: string }
        unused_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refundable_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refund_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        forfeited_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        items:
          type: array
          items:
            $ref: "#/components/schemas/CancellationRefundPreviewItem"
      required:
        [
          mode,
          currency,
          unused_amount,
          refundable_amount,
          refund_amount,
          credit_amount,
          tax_amount,
          forfeited_amount,
          items,
        ]
    CancellationRefundPreviewItem:
      description: One subscription of the quoted cancellation. The amounts mean what they mean in the total.
      type: object
      properties:
        subscription_id: { type: string, format: uuid }
        plan_id: { type: string, format: uuid }
        plan_name: { type: string }
        project:
          description: The project and its current name, for display. Absent for a purchase at account level, and when the project details cannot be read at the moment.
          oneOf:
            - $ref: ../../../type/v1/identity.yaml#/components/schemas/NamedIdentity
            - type: "null"
        billing_type: { type: string, enum: [postpaid, prepaid, one_time] }
        auto_renew:
          description: |-
            Whether automatic renewal is on now. Creating the cancellation turns it off, and withdrawing
            the cancellation does not turn it back on. Always false for a subscription that is not
            `prepaid`.
          type: boolean
        unused_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refundable_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refund_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        forfeited_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        [
          subscription_id,
          plan_id,
          plan_name,
          billing_type,
          auto_renew,
          unused_amount,
          refundable_amount,
          refund_amount,
          credit_amount,
          tax_amount,
          forfeited_amount,
        ]
    CancellationCreate:
      type: object
      properties:
        subscription_ids:
          description: As in the quote.
          type: array
          minItems: 1
          maxItems: 50
          uniqueItems: true
          items: { type: string, format: uuid }
        mode:
          $ref: "#/components/schemas/TerminationPolicy"
        proration_date:
          description: |-
            For `immediate`, the `proration_date` of the quote: a whole second, not in the future and
            at most ten minutes old. The refund is computed as of it. Now when omitted.
          type: string
          format: date-time
        expected_refundable_amount:
          description: The `refundable_amount` of the quote. The cancellation is refused when the refund differs.
          type: string
        reason:
          description: A note from the account holder. It is kept with the cancellation and not shown elsewhere.
          type: string
          maxLength: 1024
      required: [subscription_ids, mode, expected_refundable_amount]
      additionalProperties: false
    Cancellation:
      description: |-
        One cancellation of a set of subscriptions of one service, released together at one time.

        - `requested`: `immediate`, release has not begun.
        - `scheduled`: `period_end`, waiting for `scheduled_at`.
        - `releasing`: release has begun; it can no longer be withdrawn.
        - `completed`: every subscription has ended and its refund has been made.
        - `canceled`: withdrawn before release began; the subscriptions continue.
        - `failed`: the service could not carry it out, for the reason in `failure_code`; the
          subscriptions continue and can be canceled again.
      type: object
      properties:
        id: { type: string, format: uuid }
        status:
          type: string
          enum: [requested, scheduled, releasing, completed, canceled, failed]
        mode:
          $ref: "#/components/schemas/TerminationPolicy"
        scheduled_at: { type: string, format: date-time }
        proration_date:
          description: For `immediate`, the second the refund is computed as of.
          type: string
          format: date-time
        origin:
          description: Who asked for it. `project_deletion` means the project was deleted.
          type: string
          enum: [customer, operator, project_deletion]
        billing_account_id:
          description: |-
            The billing account that paid for these subscriptions when the cancellation was created: the
            account of an account-level purchase, or the account the project was linked to.
          type: integer
          format: int64
        currency: { type: string }
        expected_refundable_amount:
          description: The refund confirmed when it was created. Absent when the platform created it.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        failure_code:
          description: |-
            Present with `failed`. A code of the service that provides the resources, such as a disk
            that can only be released with its server. Clients map it to their own wording.
          type: string
        requested_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time }
        canceled_at: { type: string, format: date-time }
        items:
          type: array
          items:
            $ref: "#/components/schemas/CancellationItem"
      required:
        [
          id,
          status,
          mode,
          origin,
          billing_account_id,
          currency,
          requested_at,
          items,
        ]
    CancellationItem:
      description: One subscription of the cancellation.
      type: object
      properties:
        id:
          description: The cancellation request of this subscription, the same as `Subscription.cancellation_request.id`.
          type: string
          format: uuid
        subscription_id: { type: string, format: uuid }
        plan_id: { type: string, format: uuid }
        plan_name: { type: string }
        billing_type:
          description: |-
            How the subscription is paid for. Only a `prepaid` subscription renews automatically; creating
            the cancellation turned that off, and withdrawing the cancellation leaves it off.
          type: string
          enum: [postpaid, prepaid, one_time]
        status:
          type: string
          enum: [requested, scheduled, releasing, completed, canceled, failed]
        release_started_at: { type: string, format: date-time }
        effective_at:
          description: When the service ended, as confirmed by the service that provides it.
          type: string
          format: date-time
        balance_amount:
          description: Present with `completed`. The part of the refund returned to the account balance.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          description: Present with `completed`. The part restored to the credit grants that paid.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        gateway_amount:
          description: Present with `completed`. The part returned to the payment method it was paid with.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required: [id, subscription_id, plan_id, plan_name, billing_type, status]
    CancellationList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Cancellation"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    CancellationRequest:
      type: object
      required:
        - id
        - subscription_id
        - status
        - mode
        - requested_at
        - forfeit_remaining_value
      properties:
        reason: { type: string }
        cancellation_id:
          description: The cancellation this request belongs to, with the other subscriptions released together.
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        subscription_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - requested
            - scheduled
            - releasing
            - failed
            - completed
            - canceled
        mode:
          type: string
          enum:
            - immediate
            - period_end
        requested_at:
          type: string
          format: date-time
        scheduled_at:
          type: string
          format: date-time
        effective_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        release_started_at:
          type: string
          format: date-time
        canceled_at:
          type: string
          format: date-time
        forfeit_remaining_value:
          type: boolean
        failure_code:
          type: string
        failure_reason:
          type: string
      description:
        A cancellation request for the original purchase. scheduled_at is the intended time; effective_at
        is the confirmed end of service. The request alone does not stop metering or issue a refund.
    Error:
      $ref: ../../../type/v1/error.yaml#/components/schemas/Error
    Product:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ProductID"
        name:
          type: string
        description:
          type: string
      required:
        - id
        - name
    ProductID:
      description: Immutable platform service identifier, such as compute, canopy or assistant.
      type: string
      minLength: 1
      maxLength: 64
      pattern: "^[a-z][a-z0-9]*(-[a-z0-9]+)*$"
    BillingAccount:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          description: What you call this account.
          type: string
        legal_name:
          description: The name invoices are made out to. Copied onto each
            invoice when it is issued.
          type: string
        email:
          description: Where invoices are sent.
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_postal_code:
          type: string
        address_country:
          description: Two-letter code.
          type: string
        tax_id:
          type: string
        currency:
          description: Fixed when the account was opened.
          type: string
        status:
          type: string
          enum:
            - active
            - suspended
            - closed
        grace_amount:
          description: |-
            How far past the suspension threshold this account may go before its resources are
            suspended. "0" means none: the account is suspended as soon as it crosses the threshold.
          type: string
        grace_period_seconds:
          description: |-
            How long this account has to top up after crossing the suspension threshold.
            0 means none. Whichever runs out first — this or grace_amount — ends the grace.
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
      required:
        - id
        - currency
        - status
        - created_at
    Currency:
      description: A currency a billing account can be opened in.
      type: object
      additionalProperties: false
      required: [code, exponent, name, minimum_top_up]
      properties:
        code:
          description: ISO 4217 alpha-3, uppercase.
          type: string
          minLength: 3
          maxLength: 3
        exponent:
          description: Decimal places of the currency, the ISO 4217 minor unit.
          type: integer
          format: int32
          minimum: 0
          maximum: 4
        name:
          type: string
          minLength: 1
          maxLength: 64
        minimum_top_up:
          description: The smallest top-up accepted. Zero means no lower bound.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
    CurrencyList:
      type: object
      additionalProperties: false
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Currency"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
    BillingAccountCreate:
      type: object
      properties:
        currency:
          type: string
          minLength: 3
          maxLength: 3
        name:
          type: string
          maxLength: 255
        legal_name:
          type: string
          maxLength: 255
        email:
          type: string
          maxLength: 255
      required:
        - currency
      additionalProperties: false
    BillingAccountUpdate:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        legal_name:
          type: string
          maxLength: 255
        email:
          type: string
          maxLength: 255
        address_line1:
          type: string
          maxLength: 255
        address_line2:
          type: string
          maxLength: 255
        address_city:
          type: string
          maxLength: 128
        address_state:
          type: string
          maxLength: 128
        address_postal_code:
          type: string
          maxLength: 32
        address_country:
          type: string
          minLength: 2
          maxLength: 2
        tax_id:
          type: string
          maxLength: 64
      additionalProperties: false
    BillingAccountList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/BillingAccount"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    AccountBalance:
      description: |-
        Account balance, credits, and unpaid charges are reported separately.
      type: object
      properties:
        billing_account_id:
          type: integer
          format: int64
        currency:
          type: string
        balance:
          description: |-
            Prepaid funds in the account currency, excluding credits. May be negative after a payment
            dispute. Outstanding charges are reported separately in due; this value is not a withdrawal quote.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credits:
          description: |-
            The recorded remaining credit, including restricted grants. It is not withdrawable
            and is not part of balance. credit_groups describes currently valid credit by permitted use; a positive
            credits balance does not imply that due is zero.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: |-
            balance plus credits, the sum shown as the account's funds. Credits count at their recorded remaining
            amount, including restricted grants that only pay for what they allow, so total is an upper bound of what
            the account can pay with rather than a withdrawable amount. due is reported separately and is not subtracted.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        restricted_credits:
          description: |-
            The part of currently valid credit that only pays for what its restrictions allow, such as a single
            service, a billing type or a first purchase. The rest of the valid credit pays for anything on the account.
            Included in credits and therefore in total.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_groups:
          description: |-
            Currently valid, unspent credit grouped by permitted use. Restrictions and
            validity dates determine which charges a group can cover, so these groups are not a general
            spendable balance and may differ from the recorded credits total.
          type: array
          items:
            $ref: "#/components/schemas/CreditGroup"
        due:
          description: |-
            Owed and not yet paid: metered usage that balance and applicable credit could not cover as it was
            charged, and issued usage invoices still unpaid. The account is in arrears while this
            is above zero. Topping up pays it on the next collection.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        - billing_account_id
        - currency
        - balance
        - credits
        - total
        - restricted_credits
        - credit_groups
        - due
    MeteredUsage:
      type: object
      required:
        [
          billing_account_id,
          currency,
          active_resource_count,
          postpaid_subscription_count,
          window_start,
          window_end,
          amount,
          average_daily_amount,
        ]
      properties:
        billing_account_id:
          type: integer
          format: int64
        currency:
          type: string
        active_resource_count:
          description: Resources still metered in the projects the account currently pays for.
          type: integer
        postpaid_subscription_count:
          description: Subscriptions billed by usage that the account currently pays for and that have not ended.
          type: integer
        window_start:
          description: The start of the seven days the amounts cover.
          type: string
          format: date-time
        window_end:
          description: The end of those seven days, the time usage was last priced.
          type: string
          format: date-time
        amount:
          description: Usage priced in the window, before tax and before credit grants. Usage not yet priced is not included.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        average_daily_amount:
          description: |-
            `amount` per day. Over the window, or over the part of it since the account's usage began
            when that is shorter, counting at least one day.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
    CreditGroup:
      type: object
      properties:
        applies_to:
          description:
            What the credit in this group may pay for. No restrictions means
            anything on the account.
          allOf:
            - $ref: "#/components/schemas/Applicability"
        first_purchase_only: { type: boolean, description: "Restricted to your first purchase of anything it applies to." }
        amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        - applies_to
        - amount
    ProjectAssignment:
      description: A project's assignment to a billing account for the interval from effective_from to effective_to. An open-ended assignment has no end time.
      type: object
      properties:
        project_id:
          type: string
          format: uuid
        project:
          description: |-
            The project and its current name, for display. Absent when the project no longer exists or its
            details cannot be read at the moment; `project_id` still identifies it.
          oneOf:
            - $ref: ../../../type/v1/identity.yaml#/components/schemas/NamedIdentity
            - type: "null"
        billing_account_id:
          type: integer
          format: int64
        account_name:
          type: string
        currency:
          type: string
        effective_from:
          type: string
          format: date-time
        effective_to:
          type:
            - string
            - "null"
          format: date-time
      required:
        - project_id
        - billing_account_id
        - currency
        - effective_from
    ProjectAssignmentList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ProjectAssignment"
        pagination:
          $ref: "../../../type/v1/pagination.yaml#/components/schemas/OffsetPagination"
      required:
        - items
        - pagination
    SetProjectAssignmentRequest:
      type: object
      properties:
        billing_account_id:
          type: integer
          format: int64
      required:
        - billing_account_id
      additionalProperties: false
    TopUp:
      description: A top-up attempt and its outcome. A successful top-up adds a traceable amount to the balance; it is not a credit grant and has no associated invoice.
      type: object
      properties:
        id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        account:
          $ref: "#/components/schemas/AccountIdentity"
        amount:
          description: What is credited to the account, in the account's own
            currency.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        remaining_amount:
          description: |-
            The part of this top-up still held in the balance. Pending refunds and payouts can temporarily
            reserve part of it; it is not a promise that the whole amount is immediately withdrawable.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        status:
          description: |-
            `pending` until the payment gateway reaches a result. The balance increases on `succeeded`.

            `failed` means the gateway declined the payment. A declined attempt ends the top-up at once
            and the payment is withdrawn at the gateway; to pay another way, create a new top-up.
            `canceled` means the attempt was withdrawn without collecting money; `cancellation_reason`
            says why. Unknown gateway outcomes remain `pending`, and a browser redirect is not proof of
            payment.

            `failed` and `canceled` are final. If the gateway nevertheless collects payment for such an
            attempt, the amount is credited as a separate `succeeded` top-up.
          type: string
          enum:
            - pending
            - succeeded
            - failed
            - canceled
        cancellation_reason:
          description: Why the top-up was withdrawn. Present with `canceled`.
          $ref: "#/components/schemas/PaymentCancellationReason"
        payment_gateway:
          description: Which payment gateway collected it.
          type: string
        method_type:
          description: The selected payment method, such as card, wechat_pay or alipay.
          type: string
        presentment_currency:
          description: |-
            The currency the customer was actually charged in, when the checkout page collected a
            local one. Absent when it was the same as the account's.
          type: string
        presentment_amount:
          description: |-
            What was charged, in `presentment_currency`. It will not equal `amount`, and it is
            the figure that appears on the customer's card or wallet statement.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        failure_reason:
          description: |-
            Why the gateway declined it. Present with `failed`. The value is the gateway's own code,
            passed on unchanged: the card issuer's decline code when there is one (Stripe's decline_code,
            such as insufficient_funds or lost_card), otherwise the gateway's error code (Stripe's code,
            such as card_declined, expired_card or payment_intent_authentication_failure). Clients map it
            to their own wording and treat an unknown value as a generic decline.
          type: string
        action:
          description: |-
            The customer's next step while the top-up is `pending` and the gateway still awaits them. Returned
            by create-top-up and get-top-up as the gateway currently reports it; absent from list-top-ups and
            once the top-up has a result. Completing it does not replace confirmation of receipt.
          $ref: "#/components/schemas/PaymentAction"
        created_at:
          type: string
          format: date-time
        settled_at:
          description: |-
            When the funds arrived. Later than `created_at` — by days for a bank transfer — so
            reconciling against a statement uses this rather than the moment it was started.
            Absent until the payment completes.
          type:
[...]
