openapi: 3.1.0
info:
  title: Leaflow Billing Account API
  version: 1.0.0
  description: |-
    Public prices, the caller's billing accounts, purchases and payments.
    Query accepted financial operations by their original IDs after an unknown outcome.
security:
  - accessTokenAuth: []
servers:
  - url: https://billing.leaflow.cloud
    description: Public pricing and billing account management

tags:
  - name: prices
    description: What the platform sells and what it costs. No sign-in required.
  - name: accounts
    description: Billing accounts, balances, and which projects they pay for.
  - name: payments
    description: Adding funds, payment methods, and settling what is owed.
  - name: billing-history
    description: Invoices, transactions and where each amount went.
  - name: subscriptions
    description: What has been bought and when it renews.
  - name: entitlements
    description: Which capabilities are currently available.
  - name: allowances
    description: |-
      Included and promotional usage allowances and their remaining quantities.
  - name: promotions
    description: |-
      Promotion code terms and purchase applicability previews.
  - name: plans
    description: Sellable plans.
  - name: products
    description: Billable services.
  - name: rate-cards
    description: Shared rate cards and pricing rules.
paths:
  /api/v1/prices:
    get:
      summary: List what is on sale, with prices
      description: |-
        Every sellable thing and what it costs, in one request. A plan appears once per price.

        `currency` is required: a plan has a price in each currency it is sold in, so "what does
        this cost" has no answer without one.

        Retired prices are left out. Existing subscriptions still reference them, so this is not
        the place to look up what an existing purchase is paying.
      operationId: list-prices
      security: []
      tags:
        - prices
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: currency
          in: query
          required: true
          description: ISO 4217, three uppercase letters.
          schema:
            type: string
            minLength: 3
            maxLength: 3
        - name: product_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ProductID'
        - name: type
          in: query
          required: false
          description: Narrows to one payment timing.
          schema:
            type: string
            enum: [postpaid, prepaid, one_time]
      responses:
        "200":
          description: OK
          headers:
            ETag:
              description: Changes whenever this catalog representation changes.
              schema: {type: string}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceList"
        "304":
          description: Not Modified
        default:
          $ref: "#/components/responses/Error"
  /api/v1/products:
    get:
      summary: List catalog products
      operationId: list-products
      tags:
        - products
      security: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: OK
          headers:
            ETag:
              description: |-
                Changes whenever the catalogue changes. Send it back as `If-None-Match`
                to be told `304` instead of receiving the same listing again.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductList"
        "304":
          $ref: "#/components/responses/NotModified"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/products/{productId}:
    parameters:
      - name: productId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProductID'
    get:
      summary: Get a service
      description: |-
        Resolves an identifier that was stored elsewhere — on an order line, an invoice line, or
        the terms of a credit — into something that can be displayed.
      operationId: get-product
      security: []
      tags:
        - products
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: OK
          headers:
            ETag:
              description: Changes whenever this catalog representation changes.
              schema: {type: string}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "304":
          description: Not Modified
        default:
          $ref: "#/components/responses/Error"
  /api/v1/plans/{planId}:
    parameters:
      - name: planId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get a sellable item
      description: |-
        Resolves a stored identifier into something that can be displayed. Returns items that are
        no longer on sale: an existing purchase still refers to one.
      operationId: get-plan
      security: []
      tags:
        - plans
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: OK
          headers:
            ETag:
              description: Changes whenever this catalog representation changes.
              schema: {type: string}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plan"
        "304":
          description: Not Modified
        default:
          $ref: "#/components/responses/Error"
  /api/v1/prices/{priceId}:
    parameters:
      - name: priceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get a price
      description: Returns the catalog price, including retired prices. Fixed purchase history and renewal agreements are shown on orders and subscriptions rather than reconstructed from today's catalog.
      operationId: get-price
      security: []
      tags:
        - prices
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: OK
          headers:
            ETag:
              description: Changes whenever this catalog listing changes.
              schema: {type: string}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Price"
        "304":
          description: Not Modified
        default:
          $ref: "#/components/responses/Error"
  /api/v1/plans:
    parameters:
      - name: product_id
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ProductID'
    get:
      summary: List catalog plans
      operationId: list-plans
      tags:
        - plans
      security: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: OK
          headers:
            ETag:
              description: |-
                Changes whenever the catalogue changes. Send it back as `If-None-Match`
                to be told `304` instead of receiving the same listing again.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanList"
        "304":
          $ref: "#/components/responses/NotModified"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/plans/{planId}/prices:
    parameters:
      - $ref: "#/components/parameters/PlanId"
    get:
      summary: List catalog prices
      description: |-
        Public list prices only. An account holding a negotiated agreement may be charged less;
        it is never charged more.
      operationId: list-prices-by-plan
      tags:
        - prices
      security: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: currency
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            ETag:
              description: |-
                Changes whenever the catalogue changes. Send it back as `If-None-Match`
                to be told `304` instead of receiving the same listing again.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceList"
        "304":
          $ref: "#/components/responses/NotModified"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/rate-cards/{rateCardId}/rules:
    parameters:
      - $ref: "#/components/parameters/RateCardId"
    get:
      summary: List catalog rates
      description: |-
        Only public price lists are readable here. A list written for a single agreement is not,
        and its identifier cannot be used to reach it.
      operationId: list-rates
      tags:
        - rate-cards
      security: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: meter_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by the meter UUID.
        - name: at
          in: query
          required: false
          description: Return the rates in effect at this moment. Defaults to now.
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          headers:
            ETag:
              description: |-
                Changes whenever the catalogue changes. Send it back as `If-None-Match`
                to be told `304` instead of receiving the same listing again.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateList"
        "304":
          $ref: "#/components/responses/NotModified"
        default:
          $ref: "#/components/responses/Error"
  /api/v1/estimates:
    post:
      summary: Estimate a basket
      description: |-
        Uses public list prices. Nothing is reserved and nothing is recorded, so this may be
        called as often as required.

        `POST` is used because the set of items to price does not fit in a query string. There is
        no corresponding `GET`, and no estimate is stored to retrieve.

        An account holding a negotiated agreement may be charged less than this. Tax and
        discounts are not included.
      operationId: create-estimate
      tags:
        - prices
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EstimateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/currencies:
    get:
      summary: List currencies accounts can be opened in
      description: |-
        The currencies a new billing account can be opened in. A retired currency is not listed,
        although accounts already opened in it keep working. Not paged: the set is a few rows.
      operationId: list-currencies
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts:
    get:
      summary: List billing accounts
      operationId: list-billing-accounts
      tags:
        - accounts
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccountList"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create billing account
      description: |-
        The currency is chosen here and cannot be changed afterwards. Everything charged to the
        account — prices, orders, invoices, balance — is denominated in it.

        One person may hold several accounts, for example a personal one and one for a team.
      operationId: create-billing-account
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAccountCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: Get billing account
      operationId: get-billing-account
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
    patch:
      summary: Update billing account
      description: |-
        The legal name, address and tax identifier are copied onto each invoice when it is
        issued. Changing them here affects invoices issued afterwards, not those already sent.

        The currency cannot be changed.
      operationId: update-billing-account
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAccountUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}/balance:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: Get account balance
      operationId: get-account-balance
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalance"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}/payment-options:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: List payment options
      description: |-
        Lists the payment gateways and methods that currently accept payment in this account's currency, the
        preferred gateway first. Top-ups and invoice payments must name a gateway and method listed here;
        others are refused. An empty list means no online payment is available for this account. Not paged: the
        set is a few rows.
      operationId: list-payment-options
      tags:
        - payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOptionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/projects:
    get:
      summary: List projects linked to billing accounts
      operationId: list-billing-account-projects
      tags:
        - accounts
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: billing_account_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectBillingInfoList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/projects/{projectId}/billing-account:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: Get project billing account
      description: Returns 404 when the project has no billing account. No resources can be
        created until one is linked.
      operationId: get-project-billing-account
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectBillingInfo"
        default:
          $ref: "#/components/responses/Error"
    put:
      summary: Set project billing account
      description: |-
        Charges already incurred remain with the billing account that was linked when they
        occurred, and are still invoiced to it. Metered resources are settled up to the moment of
        the change. Amounts owed by the previous billing account remain owed by it and do not
        prevent the change.

        Orders keep the billing account they were placed with and are fulfilled as placed. Periods
        already paid for are unaffected; renewals are charged to the new billing account.

        The request is refused once the project no longer accepts purchases because it is being
        deleted, and while a subscription or an order in progress in the project uses a currency
        other than that of the new billing account.
      operationId: set-project-billing-account
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectBillingInfoSet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectBillingInfo"
        default:
          $ref: "#/components/responses/Error"
    delete:
      summary: Unlink project billing account
      description: |-
        Permitted only when nothing in the project is still running or in progress: no metered
        resources, no subscriptions that have not ended, and no orders in progress, including
        changes scheduled for the end of a period. Orders are not modified by this request; wait
        for them to complete, and have the service that scheduled a change call it off.

        Charges already incurred remain with the billing account and are invoiced to it as usual.
        Amounts the billing account owes do not prevent unlinking.

        After this the project cannot make purchases until a billing account is linked again.
      operationId: unlink-project-billing-account
      tags:
        - accounts
      responses:
        "204":
          description: Unlinked
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups:
    get:
      summary: List top ups
      description: |-
        Lists only the authenticated user's top-ups. Includes pending, failed and canceled attempts; no invoice is
        created for a top-up. Items carry no `action`; read a pending top-up with get-top-up to continue its payment.
      operationId: list-top-ups
      tags:
        - payments
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUpList"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create top up
      description: |-
        Creates a top-up for an account owned by the authenticated user and returns its payment information.
        The balance increases only after the payment gateway confirms receipt. A top-up has no invoice.
        Keep the supplied ID to query the original attempt after a lost response; duplicate creation conflicts.
      operationId: create-top-up
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TopUpCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups/{topUpId}:
    parameters:
      - name: topUpId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get top up
      description: |-
        Reads a top-up owned by the authenticated user, including its outcome and the part of it not yet spent.
        It is not an invoice.

        While the top-up is pending, the answer includes the customer's next step as the payment gateway
        currently reports it, so that a payment interrupted by a closed page can be continued. When the gateway
        cannot be reached, the top-up is returned without `action`; read it again later.
      operationId: get-top-up
      tags:
        - payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups/{topUpId}/cancel:
    parameters:
      - name: topUpId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Cancel top up
      description: |-
        Withdraws a pending top-up owned by the authenticated user at the payment gateway. It becomes
        `canceled` with `cancellation_reason` `requested_by_customer`, and no money is collected for it. Canceling a
        top-up that is already canceled returns it unchanged.

        If the gateway has already collected the payment, nothing is withdrawn and the top-up is returned
        as `succeeded` with the balance increased. Check `status` in the answer rather than assuming the
        cancellation took effect.

        Fails with 409 and BILLING_TOPUP_NOT_CANCELABLE when the top-up has already succeeded or failed,
        with `status` naming that outcome, and while the gateway is processing the payment and can no
        longer withdraw it, with `status` set to `pending`; read the top-up again later in that case.
      operationId: cancel-top-up
      tags:
        - payments
      responses:
        "200":
          description: The top-up after the request, canceled or succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        "409":
          description: The top-up already has another outcome or can no longer be withdrawn.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods:
    get:
      summary: List payment methods
      operationId: list-payment-methods
      tags:
        - payments
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/setup:
    post:
      summary: Create payment method setup
      description: |-
        Returns what is needed to hand the browser over to the payment gateway's own card
        form. Nothing is charged, and the method appears in the list once the gateway
        confirms it.

        Card numbers are never sent to or stored by this service.
      operationId: create-payment-method-setup
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodSetup"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodSetupResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/{paymentMethodId}/default:
    parameters:
      - $ref: "#/components/parameters/PaymentMethodId"
    put:
      summary: Set default payment method
      operationId: set-default-payment-method
      tags:
        - payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/{paymentMethodId}:
    parameters:
      - $ref: "#/components/parameters/PaymentMethodId"
    delete:
      summary: Delete payment method
      description: |-
        Refused when it is the only method on an account that has resources billed by the hour,
        as there would be nothing left to charge when the balance runs out.
      operationId: delete-payment-method
      tags:
        - payments
      responses:
        "204":
          description: Removed
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}/pay:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    post:
      summary: Pay invoice
      description: |-
        Applies the account balance first, then charges the remainder to a payment method. Give
        `payment_method_id` to choose one, or omit it to use the default.

        Returns a checkout address when the gateway requires the cardholder to confirm the
        payment; the invoice is marked paid once the gateway confirms it.

        Calling this on an invoice that is already paid returns the invoice unchanged.
      operationId: pay-invoice
      tags:
        - payments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payments:
    post:
      summary: Pay together
      description: Pays outstanding invoices, including invoices associated with the listed orders. Gateway collection creates a top-up transaction applied to the original invoices. Paid invoices are not charged again. Unknown gateway results remain pending and are recovered through the original transaction and task.
      operationId: pay-together
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayTogetherRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices:
    get:
      summary: List invoices
      operationId: list-invoices
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InvoiceStatus"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    get:
      summary: Get invoice
      operationId: get-invoice
      tags:
        - billing-history
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}/items:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    get:
      summary: List invoice items
      operationId: list-invoice-items
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceItemList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/transactions:
    get:
      summary: List transactions
      operationId: list-transactions
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/discounts:
    get:
      summary: List the coupons held on this account
      description: |-
        Coupons placed on the account directly, which apply at checkout without a code being
        entered. A coupon reached through a code is not listed here.
      operationId: list-account-discounts
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/credit-grants:
    get:
      summary: List credit grants
      description: |-
        Each grant shows what remains and what it may be used for. Credit is spent before the balance
        and cannot be withdrawn.
      operationId: list-credit-grants
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - depleted
              - expired
              - voided
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditGrantList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/refunds:
    get:
      summary: List refunds
      operationId: list-refunds
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/usage-charges:
    get:
      summary: List usage charges
      description: |-
        Each charge is added to the month's usage invoice as it is priced, summed into one line per
        subscription, project, resource, meter and rate. Filter by `invoice_item_id` to see the
        charges behind a line. Charges still waiting to be priced are included too.
      operationId: list-usage-charges
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: product_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ProductID'
        - name: resource_id
          in: query
          required: false
          schema:
            type: string
        - name: invoice_item_id
          in: query
          required: false
          description: Only the charges summed into this usage invoice line.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageChargeList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions:
    get:
      summary: List subscriptions
      operationId: list-subscriptions
      tags:
        - subscriptions
      parameters:
        - name: expiring_before
          in: query
          schema: {type: string, format: date-time}
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    get:
      summary: Get subscription
      operationId: get-subscription
      tags: [subscriptions]
      responses:
        '200':
          description: Purchase and renewal agreement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/subscriptions/{subscriptionId}/cancellation-preview:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    get:
      summary: Preview cancellation
      description: Reads confirmed terms and paid-period value without recording a request or locking a refund amount.
      operationId: preview-cancellation
      tags: [subscriptions]
      responses:
        '200':
          description: Cancellation estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationPreview'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/subscriptions/{subscriptionId}/cancellation-requests:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    post:
      summary: Request subscription cancellation
      description: Ends the whole subscription under confirmed terms. The request does not itself stop service; actual end is confirmed by the owning service. Refund processing is separate.
      operationId: create-cancellation-request
      tags: [subscriptions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancellationRequestCreate'
      responses:
        '201':
          description: Cancellation requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationRequest'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/cancellation-requests/{cancellationRequestId}:
    parameters:
      - $ref: '#/components/parameters/CancellationRequestId'
    get:
      summary: Get cancellation request
      operationId: get-cancellation-request
      tags: [subscriptions]
      responses:
        '200':
          description: Request and actual end receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationRequest'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/cancellation-requests/{cancellationRequestId}/cancel:
    parameters:
      - $ref: '#/components/parameters/CancellationRequestId'
    post:
      summary: Cancel a cancellation request
      description: Allowed only before release starts. Does not resume a previously suspended subscription.
      operationId: cancel-cancellation-request
      tags: [subscriptions]
      responses:
        '200':
          description: Canceled request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationRequest'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/subscriptions/{subscriptionId}/renewal-prices:
    parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List the terms this item can be renewed for
      description: Lists the current renewal agreement and available intervals. The current option preserves recurring_amount; other options use current prices. Amounts cover the whole subscription quantity and exclude tax.
      operationId: list-renewal-prices
      tags:
        - subscriptions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewalPriceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/renew:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    post:
      summary: Renew subscription
      description: Purchases prepaid periods from paid_until using the agreed recurring amount. A changed interval selects a current price and freezes new terms on the order, applied only after fulfillment. Existing paid periods keep their value. Save order_id before submitting and query the order after an unknown outcome; duplicate creation conflicts.
      operationId: renew-subscription
      tags:
        - subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewRequest"
      responses:
        '409':
          description: The order already exists or the subscription has a conflicting renewal, change or cancellation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/auto-renew:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    put:
      summary: Set auto renew
      description: Controls automatic prepaid renewal. Disabling it does not shorten paid_until and still permits manual renewal. Postpaid subscriptions do not renew and keep this false.
      operationId: set-auto-renew
      tags:
        - subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoRenewSet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/promotion-codes/preview:
    post:
      summary: Preview promotion code
      description: |-
        Nothing is recorded and the code is not consumed. Use it to show the customer the effect
        before they commit.
      operationId: preview-promotion-code
      tags:
        - promotions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromotionCodePreviewRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromotionCodePreview"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/allowances:
    get:
      summary: List allowances
      description: |-
        Lists remaining usage quantities, such as bytes, seconds or tokens. Applicable allowances are
        consumed before usage is charged. Lower priority values are consumed first, followed by earlier
        expiry and earlier issuance.

        Unused quantity expires without a refund or carry-over. Promotional allowances apply to usage paid
        by their holding account. Included allowances apply only to the associated subscription, including
        after its project moves to another billing account.
      operationId: list-allowances
      tags:
        - allowances
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: meter_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by the meter UUID.
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - depleted
              - expired
              - voided
        - name: product_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ProductID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowanceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders:
    get:
      summary: List orders
      description: Lists acceptance status and associated invoice amounts. Pending may be unpaid or paid; active means accepted, not delivered. Only pending orders expire at expires_at.
      operationId: list-orders
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrderStatus"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      summary: Get order
      operationId: get-order
      tags:
        - billing-history
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}/items:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      summary: List order items
      description: One entry per item bought, with the price charged and the
        period it covers.
      operationId: list-order-items
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderItemList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/entitlements:
    get:
      summary: List entitlements
      description: |-
        Capabilities that come with what has been bought. A capability that is not held simply
        does not appear, so that "this does not exist" and "this has not been bought" cannot be
        confused.

        Derived from live subscriptions rather than stored, so this always agrees with what is
        being paid for. It stops being listed as soon as the subscription providing it ends.
      operationId: list-entitlements
      tags:
        - entitlements
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          description: |-
            Restrict to one project. Anything bought at account level, such as a membership,
            appears regardless.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementList"
        default:
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    accessTokenAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/AccessToken
  schemas:
    TerminationPolicy:
      type: string
      enum:
        - immediate
        - period_end
      description:
        Whether a fulfilled purchase may end immediately or only after its paid term. Does not grant a refund.
        When absent, the terms are not configured and termination requires review.
    RefundPolicy:
      type: string
      enum:
        - none
        - prorated
      description:
        Prorated returns the unused value of paid service periods using integer-second duration ratios.
        Setup fees are excluded. Tax and funds follow the original invoice and payment sources.
    CancellationPreview:
      type: object
      properties:
        subscription_id: {type: string, format: uuid}
        mode:
          $ref: '#/components/schemas/TerminationPolicy'
        scheduled_at: {type: string, format: date-time}
        refundable_amount: {type: string}
        currency: {type: string}
      required: [subscription_id, mode, refundable_amount, currency]
    CancellationRequestCreate:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/TerminationPolicy'
        forfeit_remaining_value: {type: boolean, default: false}
        reason: {type: string, minLength: 1, maxLength: 1024}
      required: [reason]
      additionalProperties: false
    CancellationRequest:
      type: object
      required:
        - id
        - subscription_id
        - status
        - mode
        - requested_at
        - forfeit_remaining_value
      properties:
        reason: {type: string}
        id:
          type: string
          format: uuid
        subscription_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - requested
            - scheduled
            - releasing
            - failed
            - completed
            - canceled
        mode:
          type: string
          enum:
            - immediate
            - period_end
        requested_at:
          type: string
          format: date-time
        scheduled_at:
          type: string
          format: date-time
        effective_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        release_started_at:
          type: string
          format: date-time
        canceled_at:
          type: string
          format: date-time
        forfeit_remaining_value:
          type: boolean
        failure_code:
          type: string
        failure_reason:
          type: string
      description:
        A cancellation request for the original purchase. scheduled_at is the intended time; effective_at
        is the confirmed end of service. The request alone does not stop metering or issue a refund.
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    Product:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ProductID'
        name:
          type: string
        description:
          type: string
      required:
        - id
        - name
    ProductID:
      description: Immutable platform service identifier, such as compute, canopy or assistant.
      type: string
      minLength: 1
      maxLength: 64
      pattern: '^[a-z][a-z0-9]*(-[a-z0-9]+)*$'
    ProductList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        total_count:
          type: integer
          format: int64
      required:
        - items
    Plan:
      type: object
      properties:
        enabled: {type: boolean}
        lookup_key: {type: string}
        product:
          $ref: '#/components/schemas/Product'
        features:
          type: array
          items:
            $ref: '#/components/schemas/PlanFeature'
        id:
          type: string
          format: uuid
        product_id:
          $ref: '#/components/schemas/ProductID'
        name:
          type: string
        description:
          type: string
      required:
        - product
        - features
        - enabled
        - id
        - product_id
        - name
    PlanList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Plan"
        total_count:
          type: integer
          format: int64
      required:
        - items
    Price:
      type: object
      properties:
        rate_card:
          $ref: '#/components/schemas/ObjectIdentity'
        lookup_key: {type: string}
        product:
          $ref: '#/components/schemas/Product'
        plan:
          $ref: '#/components/schemas/ObjectIdentity'
        meter_id: {type: string, format: uuid}
        meter:
          $ref: '#/components/schemas/ObjectIdentity'
        unit_quantity: {type: string}
        enabled: {type: boolean}
        termination_policy:
          $ref: "#/components/schemas/TerminationPolicy"
        refund_policy:
          $ref: "#/components/schemas/RefundPolicy"
        product_id:
          $ref: '#/components/schemas/ProductID'
        id:
          type: string
          format: uuid
        plan_id:
          type: string
          format: uuid
        currency:
          type: string
        type:
          description: |-
            `postpaid` charges for what is used, `prepaid` buys a period in advance, `one_time`
            charges once.
          type: string
          enum:
            - postpaid
            - prepaid
            - one_time
        billing_scheme:
          description: |-
            How the amount is arrived at. `rated` means the rate depends on attributes such as
            region or machine type, and is looked up on a price list.
          type: string
          enum:
            - per_unit
            - tiered
            - rated
        unit_amount:
          description: Present for `per_unit`.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        tiers_mode:
          description: |-
            `none` for a price that is not tiered, which is most of them.

            Otherwise `graduated` charges each band at its own rate, and `volume` charges
            everything at the rate of the band the total falls in.
          type: string
          enum:
            - none
            - graduated
            - volume
        tiers:
          description: Present for `tiered`, in ascending order.
          type: array
          items:
            $ref: "#/components/schemas/Tier"
        rate_card_id:
          description: For `rated` prices, the price list the rates are read
            from.
          type: string
          format: uuid
        min_quantity:
          type: string
          description: |-
            The smallest quantity that can be bought. Absent means no lower bound.
        max_quantity:
          type: string
          description: |-
            The largest purchasable quantity. Omitted when no maximum applies. A quantity above this limit is
            rejected with BILLING_PRICE_INVALID and field=max_quantity.
        quantity_step:
          type: string
          description: |-
            Quantities must be a multiple of this. Absent means any quantity within the bounds.
        interval_count:
          description: For prepaid prices, how many periods one purchase covers.
          type: integer
        interval:
          type: string
          enum:
            - none
            - day
            - month
            - year
        setup_fee:
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
      required:
        - product
        - plan
        - interval
        - unit_quantity
        - id
        - plan_id
        - currency
        - type
        - billing_scheme
    PriceList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Price"
        total_count:
          type: integer
          format: int64
      required:
        - items
    Rate:
      type: object
      properties:
        meter:
          $ref: "#/components/schemas/ObjectIdentity"
        unit:
          description: The unit readings arrive in, such as `core-second`.
          type: string
        dimensions:
          description: The attributes this rate applies to, such as region and
            machine type.
          type: object
          additionalProperties:
            type: string
        pricing_model:
          type: string
          enum:
            - per_unit
            - graduated
            - volume
        unit_amount:
          description: Present for `per_unit`. Tiered rates carry their amounts
            on the tiers.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        tiers:
          description: Present for `graduated` and `volume`, in ascending order.
          type: array
          items:
            $ref: "#/components/schemas/Tier"
        unit_quantity:
          description: |-
            How many measured units one amount covers. An hourly rate on a per-second meter is
            `"3600"`.
          type: string
        currency:
          type: string
        effective_from:
          type: string
          format: date-time
        effective_to:
          type:
            - string
            - "null"
          format: date-time
      required:
        - meter
        - dimensions
        - pricing_model
        - currency
        - effective_from
    RateList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Rate"
        total_count:
          type: integer
          format: int64
      required:
        - items
    QuoteLine:
      description: |-
        Identify a price directly, or select a price for a plan. For each resource give its ID or lookup key, never both. Lookup keys require product_id.

        A line that gives a meter, `dimensions` or `duration_seconds` estimates usage and is
        priced only at a postpaid price. Such a line is refused with HTTP 400
        `BILLING_PURCHASE_INVALID` when `price_type` is `prepaid` or `one_time`, or when the price
        it names is not postpaid; `meta.field` is `price_type`, `price_id` or `price_lookup_key`
        accordingly. When the plan has no postpaid price, the line is returned unpriced with
        `no_price`.
      type: object
      properties:
        price_lookup_key: {type: string, minLength: 1, maxLength: 128}
        plan_lookup_key: {type: string, minLength: 1, maxLength: 128}
        meter_lookup_key: {type: string, minLength: 1, maxLength: 128}
        price_id:
          type: string
          format: uuid
        product_id:
          $ref: '#/components/schemas/ProductID'
        plan_id:
          type: string
          format: uuid
        meter_id:
          type: string
          format: uuid
        dimensions:
          description: |-
            The attributes the price depends on — region, instance type, token class.

            Required when the price draws its rates from a price list, which is how anything
            sold by region or by machine type is priced. A price that carries a single unit
            amount, or a ladder, has no attributes to give and takes none.

            Every attribute the meter declares must be present. A combination with no rate
            covering it is refused rather than priced at zero.
          type: object
          additionalProperties:
            type: string
        price_type:
          description: |-
            Narrows the selection when a plan offers more than one billing type.
          type: string
          enum:
            - postpaid
            - prepaid
            - one_time
        interval: {type: string, enum: [none, day, month, year]}
        interval_count: {type: integer, minimum: 1}
        quantity:
          type: string
        duration_seconds:
          description: |-
            For metered items, how long to price for. This allows an estimate such as "about
            this much per month" to be shown before anything exists. The priced quantity is
            `quantity` multiplied by this duration.
          type: integer
          format: int64
      required:
        - quantity
    EstimateRequest:
      type: object
      properties:
        currency:
          description: Must be one the catalogue publishes.
          type: string
          minLength: 3
          maxLength: 3
        lines:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: "#/components/schemas/QuoteLine"
      required:
        - currency
        - lines
      additionalProperties: false
    QuoteLineResult:
      type: object
      properties:
        tax_amount:
          description: Tax included in the account quote. Absent in public catalogue estimates.
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        tax_included_amount:
          description: Tax already included in the displayed price.
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        index:
          description: Which line of the request this answers.
          type: integer
        priced:
          description: |-
            Whether a price was found for this line. Read this before anything else.

            A single item with no price no longer fails the whole request. A catalogue
            almost always has something not yet priced, and refusing the request would
            leave no way to render a list in which a few entries are simply not on sale.

            When false, `price_id`, `unit_amount` and `amount` are absent and
            `unpriced_reason` states what is missing.
          type: boolean
        unpriced_reason:
          description: |-
            Why no price was found; `none` while `priced` is true.

            The last four are told apart because their remedies differ: the price points
            at no price list, the list holds no rate for that meter, that exact combination
            of attributes is not configured, or it is configured but nothing is in effect
            at the moment asked about.
          type: string
          enum:
            - none
            - no_price
            - no_rate_card
            - no_meter
            - no_dimensions
            - no_effective_rule
        price_id:
          description: |-
            The price selected. Returned whenever `priced` is true, including when the
            request identified the item indirectly, so that the choice can be confirmed.
          type: string
          format: uuid
        plan_name:
          type: string
        unit_amount:
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        quantity:
          description: |-
            The quantity actually priced. When `duration_seconds` is given, it is the requested
            `quantity` multiplied by that duration.
          type: string
        amount:
          description: Not rounded. Round only for display.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
      required:
        - index
        - priced
        - currency
    Quote:
      type: object
      properties:
        lines:
          type: array
          items:
            $ref: "#/components/schemas/QuoteLineResult"
        total:
          description: |-
            What would be owed in total. Amounts to be returned are not netted off it.

            Null when any line could not be priced. What would be owed is not knowable then, and a
            total that silently left the unpriced lines out would read as a smaller bill rather than
            an incomplete one — the per-line `priced` flag is easy to skip, a missing total is not.
          oneOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
            - type: "null"
        currency:
          type: string
      required:
        - currency
    BillingAccount:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          description: What you call this account.
          type: string
        legal_name:
          description: The name invoices are made out to. Copied onto each
            invoice when it is issued.
          type: string
        email:
          description: Where invoices are sent.
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_postal_code:
          type: string
        address_country:
          description: Two-letter code.
          type: string
        tax_id:
          type: string
        currency:
          description: Fixed when the account was opened.
          type: string
        status:
          type: string
          enum:
            - active
            - suspended
            - closed
        grace_amount:
          description: |-
            How far past the suspension threshold this account may go before its resources are
            suspended. "0" means none: the account is suspended as soon as it crosses the threshold.
          type: string
        grace_period_seconds:
          description: |-
            How long this account has to top up after crossing the suspension threshold.
            0 means none. Whichever runs out first — this or grace_amount — ends the grace.
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
      required:
        - id
        - currency
        - status
        - created_at
    Currency:
      description: A currency a billing account can be opened in.
      type: object
      additionalProperties: false
      required: [code, exponent, name, minimum_top_up]
      properties:
        code:
          description: ISO 4217 alpha-3, uppercase.
          type: string
          minLength: 3
          maxLength: 3
        exponent:
          description: Decimal places of the currency, the ISO 4217 minor unit.
          type: integer
          format: int32
          minimum: 0
          maximum: 4
        name:
          type: string
          minLength: 1
          maxLength: 64
        minimum_top_up:
          description: The smallest top-up accepted. Zero means no lower bound.
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
    CurrencyList:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Currency"
    BillingAccountCreate:
      type: object
      properties:
        currency:
          type: string
          minLength: 3
          maxLength: 3
        name:
          type: string
          maxLength: 255
        legal_name:
          type: string
          maxLength: 255
        email:
          type: string
          maxLength: 255
      required:
        - currency
      additionalProperties: false
    BillingAccountUpdate:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        legal_name:
          type: string
          maxLength: 255
        email:
          type: string
          maxLength: 255
        address_line1:
          type: string
          maxLength: 255
        address_line2:
          type: string
          maxLength: 255
        address_city:
          type: string
          maxLength: 128
        address_state:
          type: string
          maxLength: 128
        address_postal_code:
          type: string
          maxLength: 32
        address_country:
          type: string
          minLength: 2
          maxLength: 2
        tax_id:
          type: string
          maxLength: 64
      additionalProperties: false
    BillingAccountList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/BillingAccount"
        total_count:
          type: integer
          format: int64
      required:
        - items
    AccountBalance:
      description: |-
        Account balance, credits, and unpaid charges are reported separately.
      type: object
      properties:
        billing_account_id:
          type: integer
          format: int64
        currency:
          type: string
        balance:
          description: |-
            Prepaid funds in the account currency, excluding credits. May be negative after a payment
            dispute. Outstanding charges are reported separately in due; this value is not a withdrawal quote.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        credits:
          description: |-
            The recorded remaining credit, including restricted grants. It is not withdrawable
            and is not part of balance. credit_groups describes currently valid credit by permitted use; a positive
            credits balance does not imply that due is zero.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: |-
            balance plus credits, the sum shown as the account's funds. Credits count at their recorded remaining
            amount, including restricted grants that only pay for what they allow, so total is an upper bound of what
            the account can pay with rather than a withdrawable amount. due is reported separately and is not subtracted.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        restricted_credits:
          description: |-
            The part of currently valid credit that only pays for what its restrictions allow, such as a single
            service, a billing type or a first purchase. The rest of the valid credit pays for anything on the account.
            Included in credits and therefore in total.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        credit_groups:
          description: |-
            Currently valid, unspent credit grouped by permitted use. Restrictions and
            validity dates determine which charges a group can cover, so these groups are not a general
            spendable balance and may differ from the recorded credits total.
          type: array
          items:
            $ref: "#/components/schemas/CreditGroup"
        due:
          description: |-
            Owed and not yet paid: metered usage that balance and applicable credit could not cover as it was
            charged, and issued usage invoices still unpaid. The account is in arrears while this
            is above zero. Topping up pays it on the next collection.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
      required:
        - billing_account_id
        - currency
        - balance
        - credits
        - total
        - restricted_credits
        - credit_groups
        - due
    CreditGroup:
      type: object
      properties:
        applies_to:
          description: What the credit in this group may pay for. No restrictions means
            anything on the account.
          allOf:
            - $ref: "#/components/schemas/Applicability"
        amount:
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
      required:
        - applies_to
        - amount
    ProjectBillingInfo:
      type: object
      properties:
        project_id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        account_name:
          type: string
        currency:
          type: string
        effective_from:
          type: string
          format: date-time
        effective_to:
          type:
            - string
            - "null"
          format: date-time
      required:
        - project_id
        - billing_account_id
        - currency
        - effective_from
    ProjectBillingInfoList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ProjectBillingInfo"
        total_count:
          type: integer
          format: int64
      required:
        - items
    ProjectBillingInfoSet:
      type: object
      properties:
        billing_account_id:
          type: integer
          format: int64
      required:
        - billing_account_id
      additionalProperties: false
    TopUp:
      description: A top-up attempt and its outcome. A successful top-up adds a traceable amount to the balance; it is not a credit grant and has no associated invoice.
      type: object
      properties:
        id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        account:
          $ref: '#/components/schemas/AccountIdentity'
        amount:
          description: What is credited to the account, in the account's own
            currency.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        remaining_amount:
          description: |-
            The part of this top-up still held in the balance. Pending refunds and payouts can temporarily
            reserve part of it; it is not a promise that the whole amount is immediately withdrawable.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        status:
          description: |-
            `pending` until the payment gateway reaches a result. The balance increases on `succeeded`.

            `failed` means the gateway declined the payment. A declined attempt ends the top-up at once
            and the payment is withdrawn at the gateway; to pay another way, create a new top-up.
            `canceled` means the attempt was withdrawn without collecting money; `cancellation_reason`
            says why. Unknown gateway outcomes remain `pending`, and a browser redirect is not proof of
            payment.

            `failed` and `canceled` are final. If the gateway nevertheless collects payment for such an
            attempt, the amount is credited as a separate `succeeded` top-up.
          type: string
          enum:
            - pending
            - succeeded
            - failed
            - canceled
        cancellation_reason:
          description: Why the top-up was withdrawn. Present with `canceled`.
          $ref: '#/components/schemas/PaymentCancellationReason'
        payment_gateway:
          description: Which payment gateway collected it.
          type: string
        method_type:
          description: The selected payment method, such as card, wechat_pay or alipay.
          type: string
        presentment_currency:
          description: |-
            The currency the customer was actually charged in, when the checkout page collected a
            local one. Absent when it was the same as the account's.
          type: string
        presentment_amount:
          description: |-
            What was charged, in `presentment_currency`. It will not equal `amount`, and it is
            the figure that appears on the customer's card or wallet statement.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        failure_reason:
          description: |-
            Why the gateway declined it. Present with `failed`. The value is the gateway's own code,
            passed on unchanged: the card issuer's decline code when there is one (Stripe's decline_code,
            such as insufficient_funds or lost_card), otherwise the gateway's error code (Stripe's code,
            such as card_declined, expired_card or payment_intent_authentication_failure). Clients map it
            to their own wording and treat an unknown value as a generic decline.
          type: string
        action:
          description: |-
            The customer's next step while the top-up is `pending` and the gateway still awaits them. Returned
            by create-top-up and get-top-up as the gateway currently reports it; absent from list-top-ups and
            once the top-up has a result. Completing it does not replace confirmation of receipt.
          $ref: '#/components/schemas/PaymentAction'
        created_at:
          type: string
          format: date-time
        settled_at:
          description: |-
            When the funds arrived. Later than `created_at` — by days for a bank transfer — so
            reconciling against a statement uses this rather than the moment it was started.
            Absent until the payment completes.
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - billing_account_id
        - account
        - amount
        - currency
        - status
        - created_at
    TopUpCreate:
      type: object
      properties:
        payment_gateway:
          description: The gateway explicitly selected from the available payment options.
          type: string
          minLength: 1
          maxLength: 32
        method_type:
          description: The selected method, such as card, wechat_pay or alipay.
          type: string
          minLength: 1
          maxLength: 64
        id:
          description: The ID of this top-up attempt. Keep it before submitting and query it after an uncertain response.
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        amount:
          description: |-
            In the account's currency, and no finer than that currency's smallest unit:
            two decimals for most, none for the yen. A finer amount is refused here rather
            than at the checkout page, where the customer would see the gateway's own wording
            instead of an explanation.

            There is a minimum, which differs by currency. Below it the gateway's fee
            exceeds the top-up itself, so such a payment costs more to accept than it brings.
            The minimum in force is returned with the rejection.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        payment_method_id:
          description: Charge a saved method instead of opening a checkout page.
          type: string
          format: uuid
        return_url:
          description: Where to send the customer after checkout.
          type: string
      required:
        - payment_gateway
        - method_type
        - id
        - billing_account_id
        - amount
      additionalProperties: false
    AccountIdentity:
      type: object
      required: [id, name, currency]
      properties:
        id: {type: integer, format: int64}
        name: {type: string}
        currency: {type: string}
    TopUpList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/TopUp"
        total_count:
          type: integer
          format: int64
      required:
        - items
    PaymentCancellationReason:
      description: |-
        Why a gateway payment was withdrawn. `abandoned` means the customer did not complete it within the time
        allowed for payment. `requested_by_customer` means the customer canceled it.
      type: string
      enum:
        - abandoned
        - requested_by_customer
    PaymentOption:
      description: A payment gateway that accepts payment in the account's currency, with the methods it accepts.
      type: object
      properties:
        payment_gateway:
          description: The value to send as `payment_gateway`.
          type: string
        methods:
          type: array
          items:
            $ref: "#/components/schemas/PaymentOptionMethod"
      required:
        - payment_gateway
        - methods
      additionalProperties: false
    PaymentOptionMethod:
      type: object
      properties:
        method_type:
          description: The value to send as `method_type`, such as card, wechat_pay or alipay.
          type: string
        reusable:
          description: |-
            Whether a method of this type can be saved with create-payment-method-setup and charged later
            without the customer present. Methods that are not reusable are paid anew each time.
          type: boolean
      required:
        - method_type
        - reusable
      additionalProperties: false
    PaymentOptionList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PaymentOption"
      required:
        - items
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        payment_gateway:
          type: string
        brand:
          type: string
        last4:
          type: string
        exp_month:
          type:
            - integer
            - "null"
        exp_year:
          type:
            - integer
            - "null"
        is_default:
          type: boolean
        status:
          type: string
          enum:
            - active
            - expired
            - removed
      required:
        - id
        - billing_account_id
        - payment_gateway
        - is_default
        - status
    PaymentMethodList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PaymentMethod"
        total_count:
          type: integer
          format: int64
      required:
        - items
    PaymentMethodSetup:
      type: object
      properties:
        payment_gateway:
          description: The selected gateway supporting saved payment methods.
          type: string
          minLength: 1
          maxLength: 32
        billing_account_id:
          type: integer
          format: int64
      required:
        - payment_gateway
        - billing_account_id
      additionalProperties: false
    PaymentMethodSetupResult:
      description: |-
        What the payment gateway's browser library needs in order to collect a card. There is
        no address to redirect to: the form is rendered in the page, and the card goes straight
        from the browser to the gateway.
      type: object
      properties:
        setup_id:
          description: |-
            The gateway's identifier for this attempt. Use it to tell a reloaded page apart
            from a second attempt.
          type: string
        payment_gateway:
          type: string
        action:
          description: Browser configuration and credentials for this card setup, including the provider's public key. No server secret is returned.
          $ref: '#/components/schemas/PaymentAction'
      required:
        - setup_id
        - payment_gateway
        - action
    PayRequest:
      description: |-
        Applies eligible credit grants and the available balance as requested, then collects only the remainder
        through the selected gateway. Grants restricted to other purchases are not counted as available funds.
        An unresolved channel payment is reused; retries do not apply the grant or balance portions twice.
        Without a gateway selection, insufficient account funds fail without starting an online payment.
      type: object
      properties:
        payment_gateway:
          description: Required to collect an online remainder. An existing attempt keeps its original gateway.
          type: string
          minLength: 1
          maxLength: 32
        method_type:
          description: Required with payment_gateway; for example card, wechat_pay or alipay.
          type: string
          minLength: 1
          maxLength: 64
        payment_method_id:
          description: Optional saved card owned by this billing account and belonging to the selected gateway. Omit to complete payment interactively.
          type: string
          format: uuid
        use_balance:
          description: |-
            Whether to apply the available balance. Credit grants are controlled separately by use_credits.
          type: boolean
          default: true
        use_credits:
          description: Apply eligible, unexpired credit grants before using the balance. This never withdraws grants or converts them into balance.
          type: boolean
          default: true
        return_url:
          type: string
      additionalProperties: false
    PayTogetherRequest:
      description: |-
        Name at least one invoice or order. They must all belong to the same account and share
        its currency; anything else is refused rather than partly paid.
      type: object
      properties:
        invoice_ids:
          type: array
          maxItems: 100
          items:
            type: string
            format: uuid
        order_ids:
          type: array
          maxItems: 100
          items:
            type: string
            format: uuid
      additionalProperties: false
    PaymentAction:
      description: The customer's next interaction. The gateway reports the actual payment outcome separately.
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [redirect, qr_code, sdk]
        provider:
          description: Identifies the browser adapter for an SDK action, for example stripe.
          type: string
        url:
          type: string
          format: uri
        qr_code:
          description: QR content to render and scan, not an image URL.
          type: string
        client_secret:
          description: Short-lived client credential for this payment's browser confirmation.
          type: string
        public_key:
          type: string
      additionalProperties: false
    PaymentStatus:
      description: |-
        The current payment outcome.

        succeeded means payment is complete. processing means confirmation is pending; poll the invoice or
        order rather than submitting another payment. requires_action means the customer must complete the
        supplied action. failed means the attempt did not succeed and failure_reason explains the outcome; a
        declined gateway payment is withdrawn at the gateway, and paying again starts a new payment with the
        same or another method.
      type: string
      enum:
        - succeeded
        - processing
        - requires_action
        - failed
    PaymentResult:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        transaction_id:
          description: The gateway transaction, when one is involved. Balance and credit-grant payments are separate transactions.
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/PaymentStatus"
        amount_paid:
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        amount_due:
          description: |-
            What is still outstanding. Zero once the payment succeeds. Unchanged while
            `processing`: nothing is collected until the gateway confirms it.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        credit_applied:
          description: Credit grants applied to this invoice. Not a payment from the balance and not withdrawable.
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        gateway_amount:
          description: The remaining amount submitted to the selected payment gateway.
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        payment_gateway:
          type: string
        method_type:
          type: string
        balance_applied:
          description: |-
            The amount already paid from the account's balance toward this invoice. Retrying an online remainder
            does not debit it again. A canceled purchase returns funds through its refund process.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        action:
          $ref: '#/components/schemas/PaymentAction'
        retriable:
          description: |-
            Whether paying again is worth attempting. False for a refusal that will keep
            happening — a closed account, an amount over a limit — so that a client does not
            retry in a loop.
          type: boolean
        invoice_id:
          type:
            - string
            - "null"
          format: uuid
        order_id:
          type:
            - string
            - "null"
          format: uuid
        failure_reason:
          description: |-
            Why the payment did not go through. Present with `failed`. For a declined gateway payment the
            value is the gateway's own code, passed on unchanged: the card issuer's decline code when
            there is one (Stripe's decline_code, such as insufficient_funds or lost_card), otherwise the
            gateway's error code (Stripe's code, such as card_declined, expired_card or
            payment_intent_authentication_failure). Clients map it to their own wording and treat an
            unknown value as a generic decline.
          type: string
      required:
        - transactions
        - status
        - amount_paid
        - amount_due
        - currency
    InvoiceStatus:
      description: |-
        A usage invoice stays `draft` through its month: each charge is added to it as it is priced
        and paid from credits and balance as it goes. It is issued at the end of the month, becoming
        `paid` when everything was covered and `open` when something is still owed.
      type: string
      enum:
        - draft
        - open
        - paid
        - void
        - uncollectible
    Invoice:
      type: object
      properties:
        due_at: {type: string, format: date-time}
        amount_refunded: {type: string}
        tax_items:
          type: array
          items:
            $ref: '#/components/schemas/TaxItem'
        order_id:
          description: The purchase that produced this invoice. Absent on usage invoices.
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        number:
          description: Numbered per account and per month.
          type: string
        type:
          description: What produced it — metered usage for a period, a
            purchase, or a correction.
          type: string
          enum:
            - usage
            - order
            - adjustment
        currency:
          type: string
        status:
          $ref: "#/components/schemas/InvoiceStatus"
        subtotal:
          description: |-
            Sum of the line amounts before discounts. Where prices include tax, the tax contained in
            each line's discounted amount is taken out here, so that total = subtotal -
            discount_amount + tax_amount always holds.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        discount_amount:
          description: Sum of the line discounts, taken off before tax.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        credit_applied:
          description: Successful credit-grant payments included in amount_paid. Does not reduce the receivable or tax base.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: Subtotal less discount plus tax. Balance and credit grants are payment sources, not reductions of the receivable.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        amount_paid:
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        period_start:
          type:
            - string
            - "null"
          format: date-time
        period_end:
          description: Exclusive.
          type:
            - string
            - "null"
          format: date-time
        customer_name:
          description: |-
            Who this was billed to, as recorded when the invoice was issued. Later changes to
            the account do not alter it.
          type: string
        customer_email:
          type: string
        customer_tax_id:
          type: string
        customer_address_line1:
          type: string
        customer_address_line2:
          type: string
        customer_address_city:
          type: string
        customer_address_state:
          type: string
        customer_address_postal_code:
          type: string
        customer_address_country:
          type: string
        paid_at:
          type:
            - string
            - "null"
          format: date-time
      required:
        - tax_items
        - id
        - billing_account_id
        - number
        - currency
        - status
        - total
    InvoiceList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Invoice"
        total_count:
          type: integer
          format: int64
      required:
        - items
    InvoiceItem:
      type: object
      properties:
        recurring_amount: {type: string}
        taxable: {type: boolean}
        discount_amount:
          description: Discount applied to this line before tax.
          type: string
        tax_amount:
          description: Tax on the discounted line, including tax already included in the price.
          type: string
        tax_included_amount:
          description: The part of tax_amount already included in amount.
          type: string
        order_item_id:
          description: The original order line. Refunds follow that line's original payment sources.
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - usage
            - subscription
            - one_time
            - setup
            - adjustment
        project_id:
          type:
            - string
            - "null"
          format: uuid
        resource_id:
          type: string
        description:
          description: |-
            The wording as recorded when the invoice was issued. It is not re-translated
            afterwards, so that an invoice continues to read as it did when it was sent.
          type: string
        unit:
          type: string
        quantity:
          type: string
        deducted_quantity:
          description: The part covered by an included allowance, and therefore
            not charged.
          type: string
        unit_amount:
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        amount:
          $ref: ../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        period_start:
          type:
            - string
            - "null"
          format: date-time
        period_end:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - description
        - amount
        - currency
    InvoiceItemList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceItem"
        total_count:
          type: integer
          format: int64
      required:
        - items
    TransactionType:
      description: topup adds to the balance; payment settles an invoice; refund returns original funds; payout withdraws from the balance; adjustment changes the balance with an audit reason.
      type: string
      enum:
        - topup
        - payment
        - refund
        - payout
        - adjustment
    Transaction:
      description: A funds operation. Each payment has one source; refunds identify the original successful transaction. Unknown gateway results remain pending. Payments from the balance or a gateway are distinct from credit-grant payments.
      type: object
      properties:
        invoice_id: {type: string, format: uuid}
        transaction_id: {type: string, format: uuid}
        credit_grant_id: {type: string, format: uuid}
        credit_grant:
          $ref: '#/components/schemas/ObjectIdentity'
        refund_id: {type: string, format: uuid}
        status:
          description: |-
            `failed` means the operation did not succeed; for a gateway payment, that the gateway declined
            it. `canceled` means a gateway payment was withdrawn without collecting money. After either,
            an invoice the payment was meant to pay remains open for another payment.
          type: string
          enum: [pending, succeeded, failed, canceled]
        cancellation_reason:
          description: Why the payment was withdrawn. Present with `canceled`.
          $ref: '#/components/schemas/PaymentCancellationReason'
        payment_gateway: {type: string}
        method_type: {type: string}
        failure_reason:
          description: |-
            Why it failed. Present with `failed`. For a declined gateway payment the value is the
            gateway's own code, passed on unchanged: the card issuer's decline code when there is one
            (Stripe's decline_code, such as insufficient_funds or lost_card), otherwise the gateway's
            error code (Stripe's code, such as card_declined, expired_card or
            payment_intent_authentication_failure). Clients map it to their own wording and treat an
            unknown value as a generic decline.
          type: string
        settled_at: {type: string, format: date-time}
        id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        type:
          $ref: "#/components/schemas/TransactionType"
        amount:
          description: Signed. Positive adds to the balance, negative takes from it.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        remaining_amount:
          description: How much of this batch has not been spent yet. Zero on negative batches.
          allOf:
            - $ref: ../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        reason:
          type: string
        created_at:
          type: string
          format: date-time
      required: [id, type, amount, remaining_amount, currency, created_at]
      additionalProperties: false
    TransactionList:
      type: object
      properties:
        items:
          type: array
[...]
